.aside
    position: fixed
    width: 300px
    left: 0
    top: 0
    margin: 0
    transform: translateX(-100%)
    height: 100%
    height: -moz-calc(100%)
    padding-bottom: 60px
    background-color: #fff
    z-index: 20
    overflow-y: auto
    will-change: transform
    backface-visibility: hidden
    transform: translateX(-105%)
    transition: transform .4s ease
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
    &.show
        transform: translateX(0)
        transition: 1s transform .4s ease-in-out
    &-logo
        padding: 5px
        text-align: center
        img
            width: 130px
    &-info
        background-color: #fff
        padding-bottom: 30px
        height: 70px
        &__item
            display: block
            padding-left: 30px
        &__mail
            margin-bottom: 10px
    &-search
        &__wrap
            position: relative
            margin-right: 10px
            margin-left: 35px
        &__input
            display: inline-block
            width: 100%
            padding: 10px 0 10px 15px
            font-weight: 400
            color: $accent
            background: #efefef
            border: 0
            border-radius: 3px
            outline: 0
            text-indent: 65px
            transition: all .3s ease-in-out
            &:focus, &:active
                color: $accent
                text-indent: 0
                background: #fff
                box-shadow: 0 0 10px 0 rgba($accent, 0.8)
                border-top-right-radius: 3px
                border-bottom-right-radius: 3px
                + label
                    transform: rotate(-66deg)
                    border-radius: 3px
                    &:before
                        transform: rotate(10deg)
        &__label
            display: inline-block
            position: absolute
            top: 0
            left: 0
            padding: 10px 5px
            text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4)
            background: $accent
            transition: all .4s ease-in-out
            border-top-left-radius: 3px
            border-bottom-left-radius: 3px
            transform-origin: left bottom
            line-height: 1.18
            z-index: 99
            &::before, &::after
                content: ""
                position: absolute
                top: 0
                right: 0
                bottom: 0
                left: 0
                border-radius: 3px
                background: $accent
                transform-origin: left bottom
                transition: all .4s ease-in-out
                pointer-events: none
                z-index: -1
            &::before
                background: rgba(3, 36, 41, 0.2)
                z-index: -2
                right: 20%
.sidenav-overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    opacity: 0
    height: 120vh
    background-color: rgba(0,0,0,0.7)
    z-index: 19
    display: none
    transition: opacity 1s ease
    &.show
        display: block
        opacity: 1
        transition: opacity 1s ease