.header
    position: relative
    width: 100%
    background-color: #fff
    padding-top: 10px
    &-wrap
        display: flex
        justify-content: space-between
        padding-bottom: 10px
    &-info
        display: flex
        align-items: center
        justify-content: space-around
        margin-left: 70px
        &__item
            display: inline-block
            vertical-align: middle
            margin-left: 20px
            cursor: pointer
            &:first-child
                margin-left: 0
            &-icon
                display: inline-block
                vertical-align: middle
                color: $accent
            &-link
                margin-left: 10px
                color: $accent
                font-size: rem(18)
                border-bottom: 2px dotted $accent
                // &:visited
                //     color: lighten(red, 20%)
                //     border-bottom-color: lighten(red, 20%)
                &:hover
                    border-bottom: 2px dotted #fff
                &:active
                    color: darken($accent, 80%)
                    border-bottom-color: darken($accent, 40%)
        &__tel
            .header-info__item-link
                color: $accent
                font-size: rem(18)
                text-transform: uppercase
                line-height: 1
                font-weight: bold
                border-bottom: none
                // &:visited
                //     color: darken($accent, 20%)
                &:hover
                    color: $accent
                &:active
                        color: darken($accent, 80%)
    &-actions
        display: flex
        align-items: center
        justify-content: space-between
        &__search
            width: 300px
            padding-left: 15px
            transition: all 0.5s ease
            height: 30px
            background: #fff
            text-align: center
            line-height: 30px
            padding-right: 35px
            transition: all 0.5s ease
            border-radius: 5px
            position: relative
            color: $main
            box-shadow: 0 0 10px rgba($accent, 0.8)
            cursor: pointer
            button
                position: absolute
                display: block
                width: 30px
                height: 30px
                top: 0
                right: 0
                background-color: $accent
                border: none
                border-radius: 5px
                svg
                    position: absolute
                    display: block
                    top: 0
                    left: 0
                    width: 20px
                    height: 20px
                    top: 5px
                    left: 6px
            input
                border: 0px
                border-bottom: 1px solid $accent
                background: transparent
                width: 100%
                line-height: 1
                height: 1.5rem
                padding: 5px 0
                padding-left: 5px
                color: $accent
                font-weight: bold
                transition: all 0.3s ease
                +placeholder()
                    color: #fff
        &__starblind
            // position: absolute
            // top: 10px
            // right: 10px
            // height: 30px
            // display: block
            button
                height: 30px
                padding: 0 10px
                border: none
                margin-left: 8px
                box-shadow: 0.2px 2px 27.6px 1.5px rgba(138, 137, 137, 0.16)
                background-color: #ffffff
                box-shadow: 0 0 10px rgba($accent, 0.3)
                svg
                    width: 20px
                    height: 20px
                    fill: #fff
                    margin-right: 5px
