.main-menu
    background-color: #fff
    z-index: 3
    flex-grow: 1
    padding-bottom: 40px
    &__item
        position: relative
        font-size: rem(16)
        line-height: 1.5
        color: $accent
        padding: .2rem 0 .2rem 0.6rem
        font-weight: bold
        &.dropdown
            padding: 0
            ul
                width: 100%
        &:hover
            background-color: $accent
            transition: color .4s ease
            svg
                fill: $accent
                transition: fill .4s ease
            > a
                color: #fff
            .collapsible-header
                background-color: $accent
                color: #fff
                svg
                    fill: #fff
    &__link
        display: block
        padding: .8em .5em
        color: inherit
        position: relative
        font-weight: bold
        
        cursor: pointer
    .sub-menu,
        width: 100%
        display: block
        background-color: rgba(255, 255, 255, 1)
        box-shadow: 0 0 15.7px 2.3px rgba(74, 88, 94, 0.05)
        transition: left .3s linear, opacity .5s linear 
        &__item
            padding-left: 5px
            position: relative
            font-size: rem(16)
            color: $main
            &:hover
                color: $accent
        &__link
            display: block
            padding: .1em .5em
            color: inherit
            font-weight: normal
            position: relative
            cursor: pointer
    .collapsible
        font-weight: bold
        &-header
            cursor: pointer
            -webkit-tap-highlight-color: transparent
            font-size: rem(16)
            line-height: 1.5
            padding: 1rem 
            font-weight: bold
            span.small-text
                font-size: 12px
        &-body
            display: none
            transition: display 2s ease
            ul
                padding-left: 1rem
            &.active
                display: block
                transition: display 2s ease