.main-menu
    background-color: #fff
    z-index: 3
    flex-grow: 1
    padding-bottom: 30px
    &__item
        padding: 0 25px
        font-size: rem(14)
        color: $main
        position: relative
        &-link
            display: block
            padding: .6em 0 .6em 30px
            color: inherit
            cursor: pointer
        &.dropdown 
            color: $accent
        svg
            position: absolute
            display: block
            top: 10px
            left: 10px
        &:hover
            .sub-menu
                top: 0
                opacity: 1
                pointer-events: auto
            svg
                fill: $accent
                transition: fill .4s ease
            > a
                color: $accent
    .sub-menu
        width: 130%
        position: absolute
        top: 300px
        opacity: 0
        left: 100%
        background-color: rgba(255, 255, 255, 1)
        box-shadow: 0 0 15.7px 2.3px rgba(74, 88, 94, 0.05)
        transition: top .5s ease
        z-index: -1
        pointer-events: none
        &__item
            padding: 0 25px
            font-size: rem(14)
            color: $main
            position: relative
            &-link
                display: block
                padding: .6em 0 .6em 10px
                color: inherit
                cursor: pointer