.main-menu
    background-color: rgba(#fff, 0.8)
    z-index: 3
    &__item
        padding: 0 25px
        font-size: rem(14)
        color: $main
        position: relative
        &:last-child
            padding: 0 25px
        &.dropdown
            background-color: $accent
            color: #fff
        &-link
            display: block
            padding: 1.5em 0 1.5em 30px
            color: inherit
            cursor: pointer
        svg
            position: absolute
            display: block
            top: 10px
            left: 10px
        &:hover
            .sub-menu
                top: 0
                opacity: 1
                pointer-events: auto
            svg
                fill: $accent
                transition: fill .4s ease
            > a
                color: $accent
    .sub-menu
        width: 100%
        position: absolute
        top: 300px
        opacity: 0
        left: 100%
        background-color: rgba(255, 255, 255, 1)
        // box-shadow: 0 0 15.7px 2.3px rgba(74, 88, 94, 0.05)
        transition: top .5s ease
        z-index: -1
        pointer-events: none
        &__item
            padding: 0 25px
            font-size: rem(14)
            color: $main
            position: relative
            &-link
                display: block
                padding: 13px 0 13px 10px
                color: inherit
                cursor: pointer
            