.footer
    width: 100%
    padding: 20px
    margin-bottom: 8px
    background-color: $accent
    &-wrap
        display: flex
        align-items: center
        justify-content: space-between
    &-info
        width: 100%
        color: $main
        font-size: rem(14)
    &-actions
        display: flex
        align-items: center
        justify-content: center
        color: #fff
        svg
            width: rem(35)
            height: rem(35)
        &__date
            display: block
            width: 110px
            font-size: rem(14)
    &-icons
        margin-right: 10px
          