.organizations
    padding: 0 20px
    background-color: #fff
    &-wrap
        display: flex
        justify-content: center
        align-items: center
    &-items
        width: 100%
        position: relative
        display: flex
        align-items: center
        justify-content: center
    &-item
        width: 33.3333%
        height: 282px
        color: $accent
        &__link
            display: flex
            align-items: center
            justify-content: space-around
            flex-direction: column
            padding: 10px 25px 10px
            height: inherit
            color: $accent
        &__icon-box
            img
                margin-bottom: 20px
        &__title
            font-size: rem(17)
            font-weight: 700
            line-height: 1.3
            color: $accent
            text-align: center
            margin-bottom: 8px
        &__content
            font-size: rem(13)
            color: $main
            margin-bottom: 0
.blog-slider
    width: 95%
    position: relative
    max-width: 1000px
    margin: auto
    background: #fff
    padding: 25px
    border-radius: 25px
    height: 400px
    transition: all .3s

.blog-slider__item
    display: flex
    align-items: center
    &.swiper-slide-active
        .blog-slider__img img
            opacity: 1
            transition-delay: .3s
        .blog-slider__content > *
            opacity: 1
            transform: none
            &:nth-child(1)
                transition-delay: 0.3s
            &:nth-child(2)
                transition-delay: 0.4s
            &:nth-child(3)
                transition-delay: 0.5s
            &:nth-child(4)
                transition-delay: 0.6s
            &:nth-child(5)
                transition-delay: 0.7s
            &:nth-child(6)
                transition-delay: 0.8s
            &:nth-child(7)
                transition-delay: 0.9s
            &:nth-child(8)
                transition-delay: 1s
            &:nth-child(9)
                transition-delay: 1.1s
            &:nth-child(10)
                transition-delay: 1.2s

.blog-slider__img
    width: 300px
    flex-shrink: 0
    border-radius: 20px
    transform: translateX(-80px)
    overflow: hidden
  
    img
        width: 100%
        height: 100%
        object-fit: cover
        display: block
        opacity: 0
        border-radius: 20px
        transition: all .3s

.blog-slider__content
    padding-right: 25px
    > *
        opacity: 0
        transform: translateY(25px)
        transition: all .4s
.blog-slider__code
    color: #7b7992
    margin-bottom: 15px
    display: block
    font-weight: 500

.blog-slider__title
    font-size: rem(24)
    font-weight: 700
    color: #0d0925
    margin-bottom: 20px

.blog-slider__text
    color: #4e4a67
    margin-bottom: 30px
    line-height: 1.5em

.blog-slider__button
    display: inline-flex
    background-color: $accent
    padding: 15px 35px
    border-radius: 50px
    color: #fff
    text-decoration: none
    font-weight: 500
    justify-content: center
    text-align: center
    letter-spacing: 1px

.blog-slider
    .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction
        bottom: 10px
        left: 0
        width: 100%

.blog-slider__pagination
    position: absolute
    z-index: 7
    right: 20px
    width: 11px !important
    text-align: center
    left: auto !important
    top: 50%
    bottom: auto
    transform: translateY(-50%)
    &.swiper-pagination-bullets .swiper-pagination-bullet
        margin: 8px 0
    .swiper-pagination-bullet
        transition: all .3s
    .swiper-pagination-bullet-active
        opacity: 1
        background: $accent
        box-shadow: 0px 0px 10px rgba($accent, 0.3)
