.organizations
    margin: 20px 0
    &-info
        margin-bottom: 20px
        &__title
            font-size: rem(30)
            line-height: 24px
            text-transform: uppercase
            color: $accent
    .glide--swipeable
        cursor: grab
        cursor: -moz-grab
        cursor: -webkit-grab
    .glide--dragging 
        cursor: grabbing
        cursor: -moz-grabbing
        cursor: -webkit-grabbing