.quick
    background-color: #fff
    padding-top: 20px
    &-item__wrapper
        display: flex
        align-items: center
        justify-content: space-around
        flex-wrap: wrap
        padding: 0 10px
    &-item
        margin: .6em 0
        border-radius: 5px
        background: #fff
        flex: 0 0 21.5%
        &__link
            position: relative
            display: block
            transition: background-color .3s linear, color .3s ease-in-out
            &:hover
                background-color: $accent
                span
                    color: #fff
            &::before
                content: ''
                position: absolute
                width: 50px
                left: 0
                top: 0
                bottom: 0
                border-radius: 5px
                background-color: $accent
            svg
                width: 30px
                height: 30px
                position: absolute
                display: block
                top: 10px
                left: 10px
                fill: #fff
            span
                font-size: rem(12)
                font-weight: 700
                line-height: 50px
                padding-left: 60px
                margin: 0
                text-transform: uppercase
                color: $main
