.wrapper
    position: relative
    width: 100%
    min-height: 680px
    overflow: hidden
.icon-slider
  display: inline-block
  width: 1em
  height: 1em
  stroke-width: 0
  stroke: currentColor
  fill: currentColor

.background
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  
.news-slider
  z-index: 2
  margin-left: auto
  margin-right: auto
  margin-top: 56px

@media screen and (max-width: 1300px)
  .news-slider
    max-width: 1000px
  .news-slider__wrp
	  flex-wrap: wrap

@media screen and (max-width: 576px)
  .news-slider
    margin-top: 40px

.news-slider__wrp
  display: flex
  align-items: flex-start
  justify-content: space-around
  position: relative
  z-index: 2
  &.news-slider__wrp--page
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    padding-top: 16px
    .news-slider__item
      width: 31%
      margin-bottom: 16px
    .news__title
      font-size: rem(20)
    .news-date
      padding-bottom: 0
      &__title
        display: inline-block
        margin-bottom: 0
        margin-right: 8px

.news-slider__item
  width: 32%
  flex-shrink: 0
  &.swiper-slide
    opacity: 1
    pointer-events: auto
    transition: all .3s

.news-slider__ctr
  position: absolute
  top: 15px
  left: 50%
  transform: translateX(-50%)
  z-index: 9

.news-slider__show-all
  white-space: nowrap
  text-transform: uppercase
  font-size: rem(20)
  color: $accent
  cursor: pointer

.news__item
  padding: 32px
  border-radius: 8px
  display: flex
  flex-direction: column
  align-items: baseline
  justify-content: center
  transition: all .3s
  color: $main
  transition: all .3s linear
  height: 600px
  min-height: 600px
  &:hover
    background-color: $accent
    color: #fff
    transition: all .3s linear
    .news__title
      color: #fff
      transition: all .3s linear
  

@media screen and (min-width: 800px)
  .news__item:hover
    transition-delay: .1s
    .news-date, .news__title, .news__txt
      opacity: 1
      transition-delay: .1s
    .news__img
      box-shadow: none

@media screen and (max-width: 992px)
  .news__item
    padding: 16px

@media screen and (max-width: 576px)
  .news__item
    padding: 8px

.news-date
  padding-bottom: 16px
  margin-bottom: 16px
  border-bottom: 2px solid
  display: inline-block
  opacity: 1
  transition: opacity .3s

@media screen and (max-width: 576px)
  .news-date
    margin-bottom: 8px
    display: inline-flex
    align-items: center
    padding-bottom: 0

.news-date__title
  font-size: rem(28)
  margin-bottom: 8px
  font-weight: 500

@media screen and (max-width: 576px)
  .news-date__title
    margin-right: 8px

.news-date__txt
  font-size: rem(18)

.news__title
  display: block
  font-size: rem(24)
  font-weight: bold
  opacity: 1
  margin-top: 8px
  margin-bottom: 16px
  transition: opacity .3s
  cursor: pointer
  color: $accent

@media screen and (max-width: 576px)
  .news__title
    font-size: rem(24)
    margin-bottom: 8px

.news__txt
  margin: 8px 0
  line-height: 1.6em
  font-size: rem(18)
  opacity: 1
  transition: opacity .3s

.news__img
  border-radius: 8px
  box-shadow: 0 8px 24px 8px rgba(0, 0, 0, 0.25)
  height: 240px
  margin-top: auto
  margin-left: auto
  margin-right: auto
  width: 100%
  transition: all .3s
  transform-origin: 0% 0%
  img
    max-width: 100%
    border-radius: 8px
    height: 100%
    width: 100%
    &.img-cower
      font-family: 'object-fit: cover'
      object-fit: cover

@media screen and (max-width: 576px)
  .news__img
    height: 180px
    margin-top: 16px
