extends ../layout/inner

block title
	| Контакты

block content
	include ../sections/contacts/index
	include ../sections/map

append scripts
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")