extends ../layout/main

block title
	| Больница Романовская

block content
	include ../modules/aside
	include ../sections/slider
	include ../sections/quick-menu
	//- include ../sections/services
	//- include ../sections/newsSlider
	//- include ../sections/news
	include ../sections/sliderNews
	include ../sections/sliderArticles
	//- //- include ../sections/articles
	//- include ../sections/testimonials
	//- //- include ../sections/links
	//- include ../sections/organizations
	include ../sections/map

append scripts
	//- script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" defer)
	//- script(charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A86bebf603bd4cc9e5d3dcd2169312c291a2739731cc1ea174fd85e33f3027241&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true")
