extends ../layout/main

block title
	| Больница Романовская

block content
	include ../sections/slider
	include ../sections/quick-menu
	//- include ../sections/newsSlider
	include ../sections/news
	include ../sections/articles
	include ../sections/services
	//- include ../sections/links
	include ../sections/organizations
	include ../sections/map

append scripts
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")