extends ../layout/inner
	
block title
	| Кабинеты функциональной диагностики

block content
	ul.panel.page-menu
		li.page-item
			a Права и обязанности
			+icon('sitemap')
		li.page-item
			a Права и обязанности
			+icon('sitemap')
		li.page-item
			a Права и обязанности
			+icon('sitemap')
		li.page-item
			a Права и обязанности
			+icon('sitemap')
		li.page-item
			a Права и обязанности
			+icon('sitemap')
		li.page-item
			a Права и обязанности
			+icon('sitemap')
		li.page-item
			a Права и обязанности
			+icon('sitemap')
		li.page-item
			a Права и обязанности
			+icon('sitemap')
		li.page-item
			a Права и обязанности
			+icon('sitemap')
		li.page-item
			a Права и обязанности
			+icon('sitemap')
		li.page-item
			a Права и обязанности
			+icon('sitemap')
		li.page-item
			a Права и обязанности
			+icon('sitemap')
		li.page-item
			a Права и обязанности
			+icon('sitemap')
