article
    font-family: 'Kurale'
    font-size: 1.5em
    line-height: 1.5
    &:not([class])
        margin: calc(24px + 4vh) calc(10px + 4vw)
        margin-left: 0
        margin-right: 0

    p
        margin: 0 0 1em
        max-width: 100%
        &:before
            content: ''
            display: block
            width: 10em
            overflow: hidden

    ol:not([class]):before, ul:not([class]):before
        content: ''
        display: block
        width: 100%
        overflow: hidden

    li p:before
        content: none
    h1
        font-size: 1.625em
        line-height: 1.1
        margin: 3.23076923em 0 0.92307692em

    h2
        font-size: 1.4375em
        line-height: 1.2
        margin: 3.13043478em 0 1.04347826em

    h3
        font-size: 1.25em
        line-height: 1.3
        margin: 3em 0 1.2em

    h4
        font-size: 1.125em
        line-height: 1.4
        margin: 2.66666667em 0 1.33333333em

    h5
        font-size: 1em
        line-height: 1.5
        margin: 2.25em 0 1.5em

    h6
        font-size: 0.75em
        line-height: 2
        margin: 2em 0 0
        text-transform: uppercase
        letter-spacing: 0.05em

    @media (min-width: 768px)
        h1
            font-size: 2.4375em
            margin-top: 3.07692308em
            margin-bottom: 0.61538462em
        h2
            font-size: 1.9375em
            margin-top: 3.09677419em
            margin-bottom: 0.77419355em
        h3
            font-size: 1.5625em
            margin-top: 2.88em
            margin-bottom: 0.96em
        h4
            font-size: 1.25em
            margin-top: 2.4em
            margin-bottom: 1.2em

    h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child
        margin-top: 0

    h1 + h2
        margin-top: 1.2em

    h2 + h3
        margin-top: 1.3em

    h3 + h4
        margin-top: 1.4em

    h4 + h5
        margin-top: 1.5em

    h5 + h6
        margin-top: 2em

    ul:not([class]), ol:not([class])
        margin: 0 0 1.5em
        max-width: calc(100% - 2.5em)
        padding-left: 0
        padding-right: 2.5em

    ul:not([class]) ul, ol:not([class]) ul, ul:not([class]) ol, ol:not([class]) ol
        margin-bottom: 0

    ul:not([class]) li, ol:not([class]) li
        transform: translateX(2.5em)
        animation: fixlists 1s

    @-webkit-keyframes fixlists
        0%
            text-indent: -0.001em

        100%
            text-indent: 0


    @keyframes fixlists
        0%
            text-indent: -0.001em

        100%
            text-indent: 0



    img
        max-width: 100%
        height: auto
        vertical-align: bottom

    p img:not(:only-child)
        vertical-align: baseline

    figure:not([class])
        margin: 3em 0
        > p
            max-width: 37.5rem
            font-size: 0.75em
            margin: 0.5em 0 0

    figcaption
        max-width: 37.5rem
        font-size: 0.75em
        margin: 0.5em 0 3em
        > p
            margin: 0.5em 0 0

    dl:not([class])
        max-width: 50rem
        margin: 0 0 1.5em
        dt:not([class])
            font-weight: bolder
        dd:not([class])
            margin: 0 0 1.5em
    hr:not([class])
        border: 0
        border-bottom: 1px solid
        margin: 1.5em 0
        max-width: 50rem
        opacity: 0.1
    strong, b, dt
        font-weight: bolder