.starblind
    font-family: 'Arial'
    *
        letter-spacing: 0
        font-size: 1rem
    &.font1
        font-family: 'Arial'
    &.font2
        font-family: 'Times new Roman'
    &.kerning1
        *
            letter-spacing: 0
    &.kerning2
        *
            letter-spacing: 3px
    &.kerning3	*
            letter-spacing: 5px
    &.color1
        *:not(.btn-starblind)
            background-color: #fff!important
        *:not(.btn-starblind)
            color: $main!important
    &.color2
        *:not(.btn-starblind)
            background-color: $main!important
        *:not(.btn-starblind)
            color: #fff!important
    &.color3
        *:not(.btn-starblind)
            background-color: #9dd1ff!important
        *:not(.btn-starblind)
            color: #063462!important
    &.color4
        *:not(.btn-starblind)
            background-color: #f7f3d6!important
        *:not(.btn-starblind)
            color: #4d4b43!important
    &.color5
        *:not(.btn-starblind)
            background-color: #3b2716!important
        *:not(.btn-starblind)
            color: #a9e44d!important
    svg
        display: none!important
    .wrapper-menu
        display: none!important
    .nav
        display: block!important
        &.fixed-nav
           display: none!important
        ul
            flex-wrap: wrap
    .header
        &-info
            &__item-link
                border-bottom: none
        &-actions
            &__search
                box-shadow: none
                input
                    +placeholder()
                        color: $main
            .starblind-text__normal
                position: absolute
                left: -1000px
            .starblind-text__blind
                position: static
        .nav
            .hrMenu
                &-list
                    > li
                        &:first-child
                            display: none
                        span, a
                            color: $main
    .scroll-down
        display: none
    .quick
        .quick-item
            flex: 0 0 34%
            &__link
                &::before
                    width: 0
                span
                    padding-left: 8px
    .rhombus-title
        > div
            display: none
        h2
            margin: 8px auto
            span
                font-size: rem(36)
    .slider
        .swiper-slide
            background-image: none
        &-slide
            display: block
            text-align: center
            padding: 40px 0
            .slider-info
                left: 50%
                transform: translate(-50%,-50%)
            .slider-info__title
                margin-bottom: 40px
                &::after
                    display: none
            p
                font-size: 1.6rem
            .btn--slider-btn
                box-shadow: none
                border: 1px solid $main
    .sliderNews,
    .sliderArticles
        img
            display: none  
        .news-slider__arrows
            display: none
    .map-info
        &__title
            border-bottom: none
        *
            color: $main
    .cd-top
        display: none
    section
        .file
            &-icon
                display: none
        article
            figure,img
                display: none
    .breadcrumb
        box-shadow: none
        &__step
            &::before,
            &::after
                display: none
            &.breadcrumb__step--active
                text-decoration: underline
    .organizations-wrap
        display: none
    .profile_card
        &.big
            .over_layer
                height: 100%
        .profile_img
            background-image: none!important
        .over_layer
            height: 86%
            visibility: visible
            transform: rotateY(0)
