// Кнопка
.btn,
.pure-material-button-contained
    position: relative
    display: inline-block
    box-sizing: border-box
    border: none
    border-radius: 4px
    padding: 0 10px
    width: 50%
    min-width: 64px
    vertical-align: middle
    text-align: center
    text-overflow: ellipsis
    text-transform: uppercase
    color: #fff
    background-color: $accent
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
    font-family: "Kurale", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system
    font-size: rem(16)
    font-weight: 500
    line-height: 36px
    overflow: hidden
    outline: none
    cursor: pointer
    transition: box-shadow 0.2s
    &::-moz-focus-inner
        border: none
    &:hover, &:focus
        background-color: darken($accent, 20%)
        color: #fff
    &:active
        background-color: darken($accent, 40%)
        color: #fff
    &:disabled
        color: rgba(0, 0, 0, 0.38)
        background-color: rgba($accent, .12)
        box-shadow: none
        cursor: initial
    &.btn--starblind
        color: #fff
        background-color: $main
        font-size: .84rem
        width: 100%
        text-transform: none
        &:hover
            outline: 2px solid red
    &.btn--min
        width: 200px
    &.btn--card
        position: relative
        display: inline-block
        cursor: pointer
        outline: none
        border: 0
        vertical-align: middle
        text-decoration: none
        background: transparent
        padding: 0
        font-size: inherit
        font-family: inherit
        width: 12rem
        height: auto
        box-shadow: none
        .circle 
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1)
            position: relative
            margin: 0
            width: 3rem
            height: 3rem
            background: $accent
            border-radius: 1.625rem
            .icon 
                transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1)
                position: absolute
                top: 0
                bottom: 0
                margin: auto
                background: #fff
                left: 0.625rem
                width: 1.125rem
                height: 0.125rem
                background: none
                &::before 
                    position: absolute
                    content: ''
                    top: -0.25rem
                    right: 0.0625rem
                    width: 0.625rem
                    height: 0.625rem
                    border-top: 0.125rem solid #fff
                    border-right: 0.125rem solid #fff
                    transform: rotate(45deg)
        .button-text 
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1)
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            padding: 0.75rem 0
            margin: 0 0 0 0.85rem
            color: #282936
            display: none
            font-weight: 700
            font-size: 14px
            line-height: 1.6
            text-align: center
            text-transform: uppercase

        &:hover
            .circle 
                width: 95%
                .icon
                    background: #fff
                    transform: translate(1rem, 0)
            .button-text
                display: block
                color: #fff
    &.btn--slider-btn
      width: auto
      background: none
      text-transform: uppercase
      font-size: 1rem
      transition: all .3s ease
      background-color: $accent
    &.btn--blindPanel
        background-color: #fff
        color: $main
        border: 1px solid #000
        width: 20%
        margin-right: 20px
        font-size: 1.2rem
        &.blind--active
            border: 3px solid $main
        &[data-label="inverse"]
            color: #fff
            background-color: $main
        &[data-label="comfort"]
            background-color: #e5ded6
        &[data-label="red"]
            color: #fff
            background-color: #f70302
        &[data-label="blue"]
            color: #fff
            background-color: #00f
        &[data-label="0"]
            letter-spacing: 0
        &[data-label=".15em"]
            letter-spacing: .15em
        &[data-label=".3em"]
            letter-spacing: .3em
        &[data-label="Arial"]
            font-family: Arial
        &[data-label="Times New Roman"]
            font-family: 'Times New Roman'

    &.btn--blindPanelUse
        background-color: #fff
        color: $main
        border: 1px solid $main
        display: block
        width: 49%
        font-size: 1.2rem
        margin: 20px auto 0
.pure-material-button-contained
    width: 100%
