.file-wrap
    padding: 20px
.file-link__wrap
    position: relative
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    &.addon
        overflow: hidden
        &:hover
            .addon-link
                right: 2.5%
                opacity: 1
                color: #fff
                transition: right .3s linear, opacity .3s linear
.file
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    background: #eee
    transition: all .3s ease
    border-radius: 6px
    text-decoration: none
    margin-bottom: 10px
    width: 95%
    &-icon
        width: 60px
        padding: 10px
        margin: 1px 10px 1px 1px
        height: calc(100% - 2px)
        background-color: #fff
        svg
            width: 2rem
            height: 2rem
            fill: $accent
        .icon-file--pdf
            fill: red
        .icon-file--jpg
            fill: darkgreen
        .icon-file--doc
            fill: blue
        .icon-file--docx
            fill: #1fb1e8
        .icon-file--rar
            fill: brown 
        .icon-file--rtf
            fill: #1103ec                     
    &-title
        color: $accent
        font-size: rem(13)
        font-weight: bold
        width: 100%
        line-height: 13px
        padding: 10px 5px
        &.big-title
            font-size: rem(11)
    &-size
        width: 100px
        font-style: italic
        color: #999
        font-size: rem(12)
        padding: 10px 20px 10px 10px
        &.link
            width: 200px
            font-size: rem(11)
.addon-link
    position: absolute
    top: 0
    right: -300px
    opacity: 0
    display: block
    width: auto
    padding: 20px
    background-color: $accent
    border-radius: 10px
    font-size: rem(12)
    font-style: italic
    transition: right .3s linear, opacity .3s linear