.person-card__wrapper
    display: flex
    align-items: center
    justify-content: space-around
    flex-wrap: wrap
.profile_card
    width: 32%
    &.no-hover
        &:hover
            .profile_contact
                color: #fff
            .profile_img
                visibility: visible
                transform: none
    .profile_inner
        perspective: 1000px
        position: relative
    .profile_img
        transform: rotateY(0deg)
        backface-visibility: hidden
        transform-style: preserve-3d
        transition: all 0.50s ease 0s
        height: 450px
        background-size: cover
        &.img-1
            background-image: url('../img/administration/gldoc.jpg')
        &.img-2
            background-image: url('../img/administration/kim.jpg')
        &.img-3
            background-image: url('../img/administration/nachmed.jpg')
        &.img-4
            background-image: url('../img/administration/shumilov.jpg')
        &.img-5
            background-image: url('../img/administration/tarasdarova.jpg')
        &.img-6
            background-image: url('https://picsum.photos/800/800?image=1027')
        &.img-7
            background-image: url('../img/administration/osichkin.jpg')
        &.img-8
            background-image: url('../img/administration/popkova.jpg')
        &.img-9
            background-image: url('../img/administration/goncharova.jpg')
        &.img-10
            background-image: url('../img/administration/avramenko.jpg')
    &:hover .profile_img
        visibility: hidden
        transform: rotateY(180deg)
    .profile_img img
        width: 100%
        height: auto
    .over_layer
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        padding: 30px 20px
        background: rgba($accent, 1)
        backface-visibility: hidden
        transform-style: preserve-3d
        transform: rotateY(-180deg)
        transition: all 0.50s ease 0s
    &:hover
        .over_layer
            visibility: visible
            transform: rotateY(0deg)
        .profile_contact
            color: $accent
            transition: color .3s ease
    .over_layer
        p
            color: #fff
            font-size: 14px
            padding-bottom: 1rem
            &:nth-child(odd)
                margin-bottom: 5px
                padding-bottom: 0
            span
                font-style: italic
                font-size: 16px
                color: $main
    .profile_contact
        color: #fff
        text-align: center
        padding: 15px 5px
        background: $accent
        margin-bottom: 15px
        transition: color .3s ease
        h3
            margin: 0
            font-size: 20px
            text-transform: capitalize
            > span
                font-size: 12px
                margin: 10px 0
                display: block
                letter-spacing: 0