.person-card__wrapper
    display: flex
    align-items: center
    justify-content: space-around
    flex-wrap: wrap
.profile_card
    width: 32%
    &.no-hover
        &:hover
            .profile_contact
                color: #fff
            .profile_img
                visibility: visible
                transform: none
    .profile_inner
        perspective: 1000px
        position: relative
    .profile_img
        transform: rotateY(0deg)
        backface-visibility: hidden
        transform-style: preserve-3d
        transition: all 0.50s ease 0s
        height: 400px
        background-size: cover
        &.img-1
            background-image: url('../img/administration/gldoc.jpg')
        &.img-2
            background-image: url('../img/administration/kim.jpg')
        &.img-3
            background-image: url('../img/administration/nachmed.jpg')
        &.img-4
            background-image: url('../img/administration/shumilov.jpg')
        &.img-5
            background-image: url('../img/administration/tarasdarova.jpg')
        &.img-6
            background-image: url('../img/default-img.png')
        &.img-7
            background-image: url('../img/administration/osichkin.jpg')
        &.img-8
            background-image: url('../img/administration/popkova.jpg')
        &.img-9
            background-image: url('../img/administration/goncharova.jpg')
        &.img-10
            background-image: url('../img/administration/avramenko.jpg')
        &.img-11
            background-image: url('../img/surgeon/aliev.jpg')
        &.img-12
            background-image: url('../img/surgeon/zhukov.jpg')
        &.img-13
            background-image: url('../img/surgeon/frash.jpg')
        &.img-14
            background-image: url('../img/surgeon/savenkov.jpg')
        &.img-15
            background-image: url('../img/surgeon/andara.jpg')
        &.img-16
            background-image: url('../img/surgeon/bukharin.jpg')
        &.img-17
            background-image: url('../img/surgeon/tekieva.jpg')
        &.img-18
            background-image: url('../img/default-img.png')
        &.img-19
            background-image: url('../img/neurologist/bestalanaya.jpg')
        &.img-20
            background-image: url('../img/terapevt1/sadovnichaja.jpg')
        &.img-21
            background-image: url('../img/terapevt1/abramchug.jpg')
        &.img-22
            background-image: url('../img/default-img.png')
        &.img-23
            background-image: url('../img/default-img.png')
        &.img-24
            background-image: url('../img/clinic/kozhemjakina.jpg')
        &.img-25
            background-image: url('../img/clinic/sivakova.jpg')
        &.img-26
            background-image: url('../img/vorobeva.jpg')
        &.img-27
            background-image: url('../img/bobrovskij.jpg')
        &.img-28
            background-image: url('../img/default-img.png')
        &.img-29
            background-image: url('../img/surgeon/andara.jpg')
    &:hover .profile_img
        visibility: hidden
        transform: rotateY(180deg)
    .profile_img img
        width: 100%
        height: auto
    .over_layer
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        padding: 32px 16px
        background: rgba($accent, 1)
        backface-visibility: hidden
        transform-style: preserve-3d
        transform: rotateY(-180deg)
        transition: all 0.50s ease 0s
    &:hover
        .over_layer
            visibility: visible
            transform: rotateY(0deg)
        .profile_contact
            color: $accent
            transition: color .3s ease
    .over_layer
        p
            color: #fff
            font-size: 14px
            padding-bottom: 1rem
            &:nth-child(odd)
                margin-bottom: 8px
                padding-bottom: 0
            span
                font-style: italic
                font-size: 16px
                color: $main
    .profile_contact
        color: #fff
        text-align: center
        padding: 16px 4px
        background: $accent
        margin-bottom: 15px
        transition: color .3s ease
        h3
            margin: 0
            font-size: rem(16)
            color: #fff
            > span
                font-size: rem(12)
                margin: 8px 0 0
                display: block
                letter-spacing: 0
