// @keyframes loader 
// 	0%, 10%, 100% 
// 		width: 80px
// 		height: 80px
	
// 	65% 
// 		width: 150px
// 		height: 150px
	

// @keyframes loaderBlock 
// 	0%, 30%  
// 		transform: rotate(0)
	
// 	55% 
// 		background-color: #62e3c5
	
// 	100% 
// 		transform: rotate(90deg)

	

// @keyframes loaderBlockInverse 
// 	0%, 20%  
// 		transform: rotate(0)
	
// 	55% 
// 		background-color: #62e3c5
	
// 	100% 
// 		transform: rotate(-90deg)

// .preloader
//   position: fixed
//   width: 100%
//   height: 100vh
//   background: linear-gradient(to bottom, #f2f9fe 0%,#d6f0fd 100%)
//   z-index: 9
  
// .loader 
// 	position: absolute
// 	top: 50%
// 	left: 50%
// 	width: 80px
// 	height: 80px
// 	transform: translate(-50%, -50%) rotate(45deg) translate3d(0,0,0)
// 	animation: loader 1.2s infinite ease-in-out
//   z-index: 9

// 	span 
// 		position: absolute
// 		display: block
// 		width: 40px
// 		height: 40px
// 		background-color: $accent
// 		animation: loaderBlock 1.2s infinite ease-in-out both

// 		&:nth-child(1) 
// 			top: 0
// 			left: 0
		
// 		&:nth-child(2) 
// 			top: 0
// 			right: 0
// 			animation: loaderBlockInverse 1.2s infinite ease-in-out both
		
// 		&:nth-child(3) 
// 			bottom: 0
// 			left: 0
// 			animation: loaderBlockInverse 1.2s infinite ease-in-out both
		
// 		&:nth-child(4) 
// 			bottom: 0
// 			right: 0

// NEXT

// .preloader
//   position: fixed
//   top: 0
//   left: 0
//   width: 100%
//   height: 100%
//   background: linear-gradient(to bottom, #f2f9fe 0%,#d6f0fd 100%)
//   transition: opacity .1s
//   transition-delay: 3s
//   z-index: 9
//   &.is-loaded
//     pointer-events: none
//     background: rgba(0, 0, 0, 0)
//     opacity: 0

// .pl-line
//   position: absolute
//   width: 1px
//   height: 150%
//   background: linear-gradient(to bottom, #f2f9fe 0%,#d6f0fd 100%)
//   left: 50%
//   top: 50%
//   transform: translate(-50%, -50%) rotate(20deg)
//   transition: opacity 1s ease-out

// .is-loaded .pl-line
//   opacity: 0

// .pl-line > div
//   position: absolute
//   height: 100%
//   width: 100%
//   background: $accent
//   top: 0
//   left: 0
//   transform: translateY(-100%)
//   animation: pulse 4s infinite
//   will-change: transform
//   animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86)

// .pl-l, .pl-r
//   position: absolute
//   top: 0
//   width: 70%
//   height: 100%
//   transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86)
//   will-change: transform
//   background: linear-gradient(to bottom, #f2f9fe 0%,#d6f0fd 100%)

// .pl-l
//   left: -20%
//   transform: skew(-20deg)

// .is-loaded .pl-l
//   transform: translateX(-100%) skew(-20deg)

// .pl-r
//   right: -20%
//   transform: skew(-20deg)

// .is-loaded .pl-r
//   transform: translateX(100%) skew(-20deg)

// @keyframes pulse
//   0%
//     transform: translateY(-100%)

//   100%
//     transform: translateY(100%)

// NEXT
.preloader
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: linear-gradient(to bottom, #f2f9fe 0%,#d6f0fd 100%)
  transition: opacity .1s
  transition-delay: 3s
  z-index: 9
  transition: opacity 1s linear
  &.active
    opacity: 0
    z-index: -1
    transition: opacity 1s linear, z-index 1s linear
  svg
    display: block
    width: 258px
    height: 258px
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

.tree
  fill: $accent

.circle-mask
  transform-origin: 50% 90%
  animation: scale 10s infinite ease-out

@keyframes scale
  0%, 100%
    transform: scale(0)

  7%, 90%
    transform: scale(0.4)

  50%
    transform: scale(1)