.table
	width: 100%
	max-width: 100%
	margin-bottom: 3rem
	background-color: #fff
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24)
	tbody
		&:hover td
			color: transparent
			text-shadow: 0 0 3px #aaa
		tr:hover td
			color: #444
			text-shadow: 0 1px 0 #fff
	th,td
		text-align: left
		padding: 1rem
		vertical-align: top
		border-top: 0
		transition: all 0.3s ease
	th
		font-size: rem(16)
		font-weight: bold
		color: $accent
		text-transform: uppercase
		vertical-align: bottom
		border-bottom: 1px solid rgba(0, 0, 0, 0.12)
	.no-border
		border: 0

	&.table-condensed >
		th, td
			padding: 0.8rem

	&.table-bordered
		border: 0
		th, td
			border: 0
			border-bottom: 1px solid #e0e0e0
		th
			border-bottom: 2px solid $accent

	&.table-striped > tbody > tr:nth-child(odd) >
		td, th
			background-color: #f5f5f5

	tbody
		td
			&:first-child,
			&:nth-child(2)
				text-align: left
				padding-left: 10px
			&.day
			width: 10%
			&.attention
				color: red
				font-weight: normal
	table.table thead th.day
		text-align: center