section.administration
    .panel.panel-breadcrumbs
        +breadcrumbs
    .container
        h1.section-title Администрация
        .person-card__wrapper
            .profile_card.big
                .profile_inner
                    .profile_img.img-1
                    .over_layer
                        .mc-description
                            p
                                span Учебное заведение: 
                            p Ростовский государственный медицинский университет, 2001 г.
                            p
                                span Последнее повышение: 
                            p Организация здравоохранения и общественное здоровье, в 2013 году.
                            p
                                span Сертификат: 
                            p 2013 г. "Организация здравоохранения и общественное здоровье"
                            p
                                span Категория: 
                            p Первая, 2013 г.
                .profile_contact
                    h3
                        | Найденов Сергей Юрьевич
                        span Главный врач
            .profile_card
                .profile_inner
                    .profile_img.img-2
                    .over_layer
                        .mc-description
                            p
                                span Учебное заведение: 
                            p Ростовский ордена Дружбы народов медицинский институт, в 1985году.
                            p
                                span Последнее повышение: 
                            p Организация здравоохранения и общественное здоровье, в 2017 году.
                            p
                                span Сертификат: 
                            p 2017 г. "Организация здравоохранения и общественное здоровье"
                            p
                                span Категория: 
                            p Первая, 2014 г.
                    .profile_contact
                        h3 Ким  Любовь Михайловна
                            span Заместитель по медицинскому обслуживанию
            .profile_card
                .profile_inner
                    .profile_img.img-3
                    .over_layer
                        .mc-description
                            p
                                span Учебное заведение: 
                            p ГБОУ ВПО Ростовский государственный медицинский университет, в 2008 году.
                            p
                                span Последнее повышение: 
                            p Организация здравоохранения и общественное здоровье, в 2013 году.
                            p
                                span Сертификат: 
                            p 2013 г. "Организация здравоохранения и общественное здоровье"
                            p
                                span Категория: 
                            p нет
                    .profile_contact
                        h3 Медведев Николай Игоревич
                            span Заместитель по медицинской части
            .profile_card.no-hover
                .profile_inner
                    .profile_img.img-4
                    .profile_contact
                        h3 Шумилов Анатолий Владимирович
                            span Заместитель по административно-хозяйственным вопросам
            .profile_card.no-hover
                .profile_inner
                    .profile_img.img-5
                    .profile_contact
                        h3 Тарасдарова Роза Вачиковна
                            span Заместитель по экономическим вопросам
            .profile_card.no-hover
                .profile_inner
                    .profile_img.img-6
                    .profile_contact
                        h3 Тулубицкая Римма Водотовна
                            span Главный бухгалтер
            .profile_card.no-hover
                .profile_inner
                    .profile_img.img-7
                    .profile_contact
                        h3 Осичкин Владимир Николаевич
                            span Заместитель по мобилизационной работе
            .profile_card.no-hover
                .profile_inner
                    .profile_img.img-8
                    .profile_contact
                        h3 Попкова Ольга Дмитриевна
                            span Начальник отдела кадров
            .profile_card.no-hover
                .profile_inner
                    .profile_img.img-9
                    .profile_contact
                        h3 Гончарова Виктория Викторовна
                            span Главная медицинская сестра
            .profile_card.no-hover
                .profile_inner
                    .profile_img.img-10
                    .profile_contact
                        h3 Авраменко Наталья Николаевна
                            span Секретарь руководителя