section.administration
    .container
        +breadcrumbs()
        h1.section-title Администрация
        .administration-item
            .administration-item__img
                img(src="img/administration/gldoc.jpg", alt="Главный врач")
            .administration-item__info.doctor
                p.doctor-name Найденов Сергей Юрьевич
                p.doctor-job Главный врач
                p.doctor-edu Ростовский государственный медицинский университет, 2001 г.
                p.doctor-lastApgrade Организация здравоохранения и общественное здоровье, в 2013 году.
                p.doctor-cert 2013 г. "Организация здравоохранения и общественное здоровье"
                p.doctor-cat Первая, 2013 г.
        .administration-item
            .administration-item__img
                img(src="img/administration/kim.jpg", alt="Ким Любовь ")
            .administration-item__info.doctor
                p.doctor-name Ким  Любовь Михайловна
                p.doctor-job Заместитель главного врача по медицинскому обслуживанию населения
                p.doctor-edu Ростовский ордена Дружбы народов медицинский институт, в 1985году.
                p.doctor-lastApgrade Организация здравоохранения и общественное здоровье, в 2017 году.
                p.doctor-cert 2017 г. "Организация здравоохранения и общественное здоровье"
                p.doctor-cat Первая , 2014 г.
        .administration-item
            .administration-item__img
                img(src="img/administration/nachmed.jpg", alt="Главный врач")
            .administration-item__info.doctor
                p.doctor-name Медведев Николай Игоревич
                p.doctor-job Заместитель главного врача по медицинской части
                p.doctor-edu ГБОУ ВПО Ростовский государственный медицинский университет, в 2008 году.
                p.doctor-lastApgrade Организация здравоохранения и общественное здоровье, в 2013 году.
                p.doctor-cert 2013 г. "Организация здравоохранения и общественное здоровье"
                p.doctor-cat  нет
        .administration-item
            .administration-item__img
                img(src="img/administration/shumilov.jpg", alt="Главный врач")
            .administration-item__info.doctor
                p.doctor-name  Шумилов Анатолий Владимирович
                p.doctor-job Заместитель главного врача по административно-хозяйственным вопросам
                p.doctor-edu ГБОУ ВПО Ростовский государственный медицинский университет, в 2008 году.
                p.doctor-lastApgrade Организация здравоохранения и общественное здоровье, в 2013 году.
                p.doctor-cert 2013 г. "Организация здравоохранения и общественное здоровье"
                p.doctor-cat  нет
        .administration-item
            .administration-item__img
                img(src="img/administration/tarasdarova.jpg", alt="Главный врач")
            .administration-item__info.doctor
                p.doctor-name  Тарасдарова Роза Вачиковна
                p.doctor-job  Заместитель главного врача по экономическим вопросам
                p.doctor-edu ГБОУ ВПО Ростовский государственный медицинский университет, в 2008 году.
                p.doctor-lastApgrade Организация здравоохранения и общественное здоровье, в 2013 году.
                p.doctor-cert 2013 г. "Организация здравоохранения и общественное здоровье"
                p.doctor-cat  нет
        .administration-item
            .administration-item__img
                img(src="https://picsum.photos/300/400?image=1027", alt="Главный врач")
            .administration-item__info.doctor
                p.doctor-name  Тулубицкая Римма Водотовна
                p.doctor-job  Главный бухгалтер
                p.doctor-edu ГБОУ ВПО Ростовский государственный медицинский университет, в 2008 году.
                p.doctor-lastApgrade Организация здравоохранения и общественное здоровье, в 2013 году.
                p.doctor-cert 2013 г. "Организация здравоохранения и общественное здоровье"
                p.doctor-cat  нет
        .administration-item
            .administration-item__img
                img(src="img/administration/osichkin.jpg", alt="Главный врач")
            .administration-item__info.doctor
                p.doctor-name  Осичкин Владимир Николаевич
                p.doctor-job  Заместитель главного врача по мобилизационной работе
                p.doctor-edu ГБОУ ВПО Ростовский государственный медицинский университет, в 2008 году.
                p.doctor-lastApgrade Организация здравоохранения и общественное здоровье, в 2013 году.
                p.doctor-cert 2013 г. "Организация здравоохранения и общественное здоровье"
                p.doctor-cat  нет
        .administration-item
            .administration-item__img
                img(src="img/administration/popkova.jpg", alt="Главный врач")
            .administration-item__info.doctor
                p.doctor-name  Попкова Ольга Дмитриевна
                p.doctor-job  Начальник отдела кадров
                p.doctor-edu ГБОУ ВПО Ростовский государственный медицинский университет, в 2008 году.
                p.doctor-lastApgrade Организация здравоохранения и общественное здоровье, в 2013 году.
                p.doctor-cert 2013 г. "Организация здравоохранения и общественное здоровье"
                p.doctor-cat  нет
        .administration-item
            .administration-item__img
                img(src="img/administration/goncharova.jpg", alt="Главный врач")
            .administration-item__info.doctor
                p.doctor-name  Гончарова Виктория Викторовна
                p.doctor-job  Главная медицинская сестра
                p.doctor-edu ГБОУ ВПО Ростовский государственный медицинский университет, в 2008 году.
                p.doctor-lastApgrade Организация здравоохранения и общественное здоровье, в 2013 году.
                p.doctor-cert 2013 г. "Организация здравоохранения и общественное здоровье"
                p.doctor-cat  нет
        .administration-item
            .administration-item__img
                img(src="img/administration/avramenko.jpg", alt="Главный врач")
            .administration-item__info.doctor
                p.doctor-name  Авраменко Наталья Николаевна
                p.doctor-job  Секретарь руководителя
                p.doctor-edu ГБОУ ВПО Ростовский государственный медицинский университет, в 2008 году.
                p.doctor-lastApgrade Организация здравоохранения и общественное здоровье, в 2013 году.
                p.doctor-cert 2013 г. "Организация здравоохранения и общественное здоровье"
                p.doctor-cat  нет