section.administration
    .panel.panel-breadcrumbs
        +breadcrumbs
    .container
        h1.section-title Администрация
        .article-card__wrapper
            .card-wrapper
                article.material-card.Red
                    h2
                        span Найденов С.Ю.
                        strong Главный врач
                    .mc-content
                        .img-container
                            img.img-responsive(src="img/administration/gldoc.jpg", alt="Главный врач")
                        .mc-description
                            p.doctor-edu Учебное заведение: Ростовский государственный медицинский университет, 2001 г.
                            p.doctor-lastUpgrade Последнее повышение: Организация здравоохранения и общественное здоровье, в 2013 году.
                            p.doctor-cert Сертификат: 2013 г. "Организация здравоохранения и общественное здоровье"
                            p.doctor-cat Категория: Первая, 2013 г.
                    a.mc-btn-action
                        i.fa.fa-bars
                    .mc-footer
                        h4
                            | Администрация
            .card-wrapper
                article.material-card.Red
                    h2
                        span Ким  Любовь Михайловна
                        strong.small-text Заместитель по медицинскому обслуживанию населения
                    .mc-content
                        .img-container
                            img.img-responsive(src="img/administration/kim.jpg", alt="Ким Любовь")
                        .mc-description
                            p.doctor-edu Ростовский ордена Дружбы народов медицинский институт, в 1985году.
                            p.doctor-lastUpgrade Организация здравоохранения и общественное здоровье, в 2017 году.
                            p.doctor-cert 2017 г. "Организация здравоохранения и общественное здоровье"
                            p.doctor-cat Первая , 2014 г.
                    a.mc-btn-action
                        i.fa.fa-bars
                    .mc-footer
                        h4
                            | Администрация
            .card-wrapper
                article.material-card.Red
                    h2
                        span Медведев Николай Игоревич
                        strong Заместитель по медицинской части
                    .mc-content
                        .img-container
                            img.img-responsive(src="img/administration/nachmed.jpg", alt="Главный врач")
                        .mc-description
                            p.doctor-edu ГБОУ ВПО Ростовский государственный медицинский университет, в 2008 году.
                            p.doctor-lastUpgrade Организация здравоохранения и общественное здоровье, в 2013 году.
                            p.doctor-cert 2013 г. "Организация здравоохранения и общественное здоровье"
                            p.doctor-cat  нет
                    a.mc-btn-action
                        i.fa.fa-bars
                    .mc-footer
                        h4
                            | Администрация
            .card-wrapper
                article.material-card.Red
                    h2
                        span Шумилов Анатолий Владимирович
                        strong.small-text Заместитель по административно-хозяйственным вопросам
                    .mc-content
                        .img-container
                            img.img-responsive(src="img/administration/shumilov.jpg", alt="Главный врач")
                        .mc-description
                            p.doctor-edu ГБОУ ВПО Ростовский государственный медицинский университет, в 2008 году.
                            p.doctor-lastUpgrade Организация здравоохранения и общественное здоровье, в 2013 году.
                            p.doctor-cert 2013 г. "Организация здравоохранения и общественное здоровье"
                            p.doctor-cat  нет
                    a.mc-btn-action
                        i.fa.fa-bars
                    .mc-footer
                        h4
                            | Администрация
            .card-wrapper
                article.material-card.Red
                    h2
                        span Тарасдарова Роза Вачиковна
                        strong Заместитель по экономическим вопросам
                    .mc-content
                        .img-container
                            img.img-responsive(src="img/administration/tarasdarova.jpg", alt="Главный врач")
                        .mc-description
                            p.doctor-edu ГБОУ ВПО Ростовский государственный медицинский университет, в 2008 году.
                            p.doctor-lastUpgrade Организация здравоохранения и общественное здоровье, в 2013 году.
                            p.doctor-cert 2013 г. "Организация здравоохранения и общественное здоровье"
                            p.doctor-cat  нет
                    a.mc-btn-action
                        i.fa.fa-bars
                    .mc-footer
                        h4
                            | Администрация
            .card-wrapper
                article.material-card.Red
                    h2
                        span Тулубицкая Римма Водотовна
                        strong Главный бухгалтер
                    .mc-content
                        .img-container
                            img.img-responsive(src="https://picsum.photos/800/800?image=1027", alt="Главный врач")
                        .mc-description
                            p.doctor-edu ГБОУ ВПО Ростовский государственный медицинский университет, в 2008 году.
                            p.doctor-lastUpgrade Организация здравоохранения и общественное здоровье, в 2013 году.
                            p.doctor-cert 2013 г. "Организация здравоохранения и общественное здоровье"
                            p.doctor-cat  нет
                    a.mc-btn-action
                        i.fa.fa-bars
                    .mc-footer
                        h4
                            | Администрация
            .card-wrapper
                article.material-card.Red
                    h2
                        span Осичкин Владимир Николаевич
                        strong Заместитель по мобилизационной работе
                    .mc-content
                        .img-container
                            img.img-responsive(src="img/administration/osichkin.jpg", alt="Главный врач")
                        .mc-description
                            p.doctor-edu ГБОУ ВПО Ростовский государственный медицинский университет, в 2008 году.
                            p.doctor-lastUpgrade Организация здравоохранения и общественное здоровье, в 2013 году.
                            p.doctor-cert 2013 г. "Организация здравоохранения и общественное здоровье"
                            p.doctor-cat  нет
                    a.mc-btn-action
                        i.fa.fa-bars
                    .mc-footer
                        h4
                            | Администрация
            .card-wrapper
                article.material-card.Red
                    h2
                        span Попкова Ольга Дмитриевна
                        strong Начальник отдела кадров
                    .mc-content
                        .img-container
                            img.img-responsive(src="img/administration/popkova.jpg", alt="Главный врач")
                        .mc-description
                            | He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The Prophecy trilogy, The Dogs of War ...
                    a.mc-btn-action
                        i.fa.fa-bars
                    .mc-footer
                        h4
                            | Администрация
            .card-wrapper
                article.material-card.Red
                    h2
                        span Гончарова Виктория Викторовна
                        strong Главная медицинская сестра
                    .mc-content
                        .img-container
                            img.img-responsive(src="img/administration/goncharova.jpg", alt="Главный врач")
                        .mc-description
                            | He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The Prophecy trilogy, The Dogs of War ...
                    a.mc-btn-action
                        i.fa.fa-bars
                    .mc-footer
                        h4
                            | Администрация
            .card-wrapper
                article.material-card.Red
                    h2
                        span Авраменко Наталья Николаевна
                        strong Секретарь руководителя
                    .mc-content
                        .img-container
                            img.img-responsive(src="img/administration/avramenko.jpg", alt="Главный врач")
                        .mc-description
                            | He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The Prophecy trilogy, The Dogs of War ...
                    a.mc-btn-action
                        i.fa.fa-bars
                    .mc-footer
                        h4
                            | Администрация