section.clinic
    .container
        +breadcrumbs()
        h1.section-title Поликлиника
        p 
            span Адрес: 
            | Волгодонской район, ст. Романовская, пер.Союзный 97а 
        p 
            span Контактный телефон: 
            a(href="tel:88639470141") 8 (86394) 7-01-41
        .administration-item
            .administration-item__img
                img(src="img/clinic/kozhemjakina.jpg", alt="Заведующий отделением, Врач хирург")
            .administration-item__info.doctor
                p.doctor-name Кожемякина Зоя Александровна
                p.doctor-job Заведующая поликлиникой Врач терапевт
                p.doctor-edu Таджикский государственный медицинский институт  1980 г.
                p.doctor-lastApgrade Терапия, в 2015 году
                p.doctor-cert  2015 г. Терапия
                p.doctor-cat Высшая, 2014 г.
        .administration-item
            .administration-item__img
                img(src="img/clinic/sivakova.jpg", alt="Заведующий отделением, Врач хирург")
            .administration-item__info.doctor
                p.doctor-name  Смолякова Елена Александровн
                p.doctor-job  Старшая медсестра поликлиники
        h2 Состав поликлиники:
        h3 Терапевтические кабинеты:
        ul
            li
                .administration-item__info.doctor
                    p.doctor-name Ледяева Людмила Васильевна
                    p.doctor-job Врач терапевт участковый
                    p.doctor-edu Ставропольский государственный медицинский институт, в 1974 г.
                    p.doctor-lastApgrade Терапия, в 2015 году
                    p.doctor-cert  2015 г. Терапия
                    p.doctor-cat Нет
            li
                .administration-item__info.doctor
                    p.doctor-name Казимов Аскар Казимович
                    p.doctor-job Врач терапевт участковый
                    p.doctor-edu Ташкентский ордена Трудового Красного Знамени государственный медицинский институт, в 1989 году.
                    p.doctor-lastApgrade Терапия, в 2018 году
                    p.doctor-cert  2018 г. Терапия
                    p.doctor-cat Нет 
            li
                .administration-item__info.doctor
                    p.doctor-name Дарянов Муртаз Кирманшаевич
                    p.doctor-job Врач терапевт участковый
                    p.doctor-edu ГБОУ ВПО Ростовский государственный медицинский университет, в 2013 году.
                    p.doctor-lastApgrade Терапия, в 2014 году
                    p.doctor-cert  2014 г. Терапия
                    p.doctor-cat Нет 
            li
                .administration-item__info.doctor
                    p.doctor-name Чувилов Алексей Алексеевич
                    p.doctor-job Врач терапевт участковый
                    p.doctor-edu  ГБОУ ВПО Ростовский государственный медицинский университет, в 1999 году.
                    p.doctor-lastApgrade Терапия, в 2018 году
                    p.doctor-cert  2018 г. Терапия
                    p.doctor-cat Нет 
            li
                .administration-item__info.doctor
                    p.doctor-name Мельникова Юлия Сергеевна
                    p.doctor-job Врач терапевт участковый
                    p.doctor-edu  ГБОУ ВПО "Волгоградский государственный медицинский университет", в 2014 году.
                    p.doctor-lastApgrade Терапия, в 2015 году
                    p.doctor-cert  2015 г. Терапия
                    p.doctor-cat Нет  
            li
                .administration-item__info.doctor
                    p.doctor-name Раджапов Байрам Бахтиярович
                    p.doctor-job Врач терапевт участковый
                    p.doctor-edu  ГБОУ ВПО "Астраханская государственная медицинская академия", в 2014 году.
                    p.doctor-lastApgrade Терапия, в 2015 году
                    p.doctor-cert  2015 г. Терапия
                    p.doctor-cat Нет   
            li
                .administration-item__info.doctor
                    p.doctor-name Кац Сергей Сергеевич
                    p.doctor-job Врач терапевт участковый
                    p.doctor-edu  ГБОУ ВПО Ростовский государственный медицинский университет, в 2014 году.
                    p.doctor-lastApgrade Терапия, в 2015 году
                    p.doctor-cert  2015 г. Терапия
                    p.doctor-cat Нет  
            li
                .administration-item__info.doctor
                    p.doctor-name Арькова Юлия Сергеевна
                    p.doctor-job Врач терапевт участковый
                    p.doctor-edu  Волгоградский государственный медицинский университет, в 2013 году.
                    p.doctor-lastApgrade Терапия, в 2014 году
                    p.doctor-cert  2014 г. Терапия
                    p.doctor-cat Нет 
        h3 Педиатрические кабинеты:
        ul
            li
                .administration-item__info.doctor
                    p.doctor-name Бузнякова Любовь Васильевна
                    p.doctor-job Врач педиатр участковый
                    p.doctor-edu Ростовский государственный медицинский институт, в 1977году.
                    p.doctor-lastApgrade Педиатрия, в 2014 году
                    p.doctor-cert 2014 г. Педиатрия
                    p.doctor-cat Первая, 2014 г.
            li
                .administration-item__info.doctor
                    p.doctor-name Караваева Эльвира Викторовна
                    p.doctor-job Врач педиатр участковый
                    p.doctor-edu  Ростовский ордена Дружбы народов медицинский институт, в 1990 году.
                    p.doctor-lastApgrade Педиатрия, в 2016 году
                    p.doctor-cert  2016 г. Педиатрия
                    p.doctor-cat Первая, 2014 г.
            li
                .administration-item__info.doctor
                    p.doctor-name Власова Юлия Сергеевна
                    p.doctor-job Врач педиатр участковый
                    p.doctor-edu  Волгоградский государственный медицинский университет, в 2011 году.
                    p.doctor-lastApgrade Педиатрия, в 2016 году
                    p.doctor-cert  2016 г. Педиатрия
                    p.doctor-cat Нет
            li
                .administration-item__info.doctor
                    p.doctor-name Капканова Любовь Стефановна
                    p.doctor-job Врач педиатр участковый
                    p.doctor-edu ГБОУ ВПО Ростовский государственный медицинский университет, в 2014 году.
                    p.doctor-lastApgrade Педиатрия, в 2015 году
                    p.doctor-cert  2015 г. Педиатрия
                    p.doctor-cat Нет
            li
                .administration-item__info.doctor
                    p.doctor-name Просветова Ксения Александровна
                    p.doctor-job Врач педиатр участковый
                    p.doctor-edu  ФГБОУВО Ростовский государственный медицинский университет, в 2018 году.
                    p.doctor-lastApgrade нет
                    p.doctor-cert  2018г.  Врач-педиатр участковый
                    p.doctor-cat Нет
        h3 Неврологический кабинет:
        ul
            li 
                .administration-item__info.doctor
                    p.doctor-name Рамизов Бахтиер Фарамизович
                    p.doctor-job Врач невролог
                    p.doctor-edu  Ташкентский государственный медицинский институт, 1995 г.
                    p.doctor-lastApgrade Неврология, в 2018 году
                    p.doctor-cert   2018 г. Неврология
                    p.doctor-cat Высшая , 2015 г.
        h3 Хирургический кабинет:
        ul
            li 
                .administration-item__info.doctor
                    p.doctor-name Ильин Андрей Владимирович
                    p.doctor-job Врач хирург
                    p.doctor-edu Ростовский ордена Дружбы народов медицинский институт, 1989 г.
                    p.doctor-lastApgrade Хирургия, в 2017 году
                    p.doctor-cert 2017 г. Хирургия
                    p.doctor-cat Первая , 2017 г.
        h3 Офтальмологический кабинет:
        ul
            li 
                .administration-item__info.doctor
                    p.doctor-name Фадлиев  Музаффар Махсудович
                    p.doctor-job Врач офтальмолог
                    p.doctor-edu ГБОУ ВПО Ростовский государственный медицинский университет 2017 г.
                    p.doctor-lastApgrade Офтальмология, в 2017 году
                    p.doctor-cert 2017 г. Хирургия
                    p.doctor-cat нет
        h3 Акушерско-гинекологические кабинеты:
        ul
            li 
                .administration-item__info.doctor
                    p.doctor-name Поднебесная Марина Васильевна
                    p.doctor-job Врач  акушер-гинеколог
                    p.doctor-edu Ростовский ордена Дружбы народов медицинский институт, 1993 г.
                    p.doctor-lastApgrade Акушерство и гинекология, в 2015 году
                    p.doctor-cert 2015г. Акушерство и гинекология
                    p.doctor-cat Высшая, 2015 г.
        h3 Оториноларингологический кабинет:
        ul
            li 
                .administration-item__info.doctor
                    p.doctor-name Мильдзихова Альбина Бексолтановна
                    p.doctor-job Врач  оториноларинголог 
                    p.doctor-edu Северо-Осетинская государственная медицинская академия, 2005 г.
                    p.doctor-lastApgrade Оториноларингология, в 2017 году
                    p.doctor-cert 2017 г. Оториноларингология
                    p.doctor-cat нет
        h3 Кардиологический кабинет:
        ul
            li 
                .administration-item__info.doctor
                    p.doctor-name Чувилов Алексей Алексеевич
                    p.doctor-job Врач кардиолог
                    p.doctor-edu Красноярская государственная медицинская академия, 2005 г.
                    p.doctor-lastApgrade Кардиология , в 2016 году
                    p.doctor-cert 2016 г. Кардиология
                    p.doctor-cat нет
        h3 Кабинет неотложной помощи:
        ul
            li 
                .administration-item__info.doctor
                    p.doctor-name Сулацкая Валентина Ивановна
                    p.doctor-job Фельдшер
                    p.doctor-edu Краснотурьинское  медицинское училище, в 1958 году
                    p.doctor-lastApgrade Скорая и неотложная помощь, в 2014 году
                    p.doctor-cert 2014 г. Скорая и неотложная помощь
                    p.doctor-cat Высшая, 2017 г.
        h3 Стоматологические кабинеты:
        ul
            li 
                .administration-item__info.doctor
                    p.doctor-name Глогусь Любовь Николаевна
                    p.doctor-job Врач стоматолог
                    p.doctor-edu Львовский государственный медицинский институт, в 1976 году.
                    p.doctor-lastApgrade Стоматология терапевтическая , в 2015 году
                    p.doctor-cert 2015 г. Стоматология терапевтическая
                    p.doctor-cat Высшая, 2014 г.
            li 
                .administration-item__info.doctor
                    p.doctor-name Емельянченко Людмила Николаевна
                    p.doctor-job Врач стоматолог
                    p.doctor-edu Кубанская государственная медицинская академия, в 1995 году.
                    p.doctor-lastApgrade Стоматология общей практики, в 2015 году
                    p.doctor-cert 2015 г. Стоматология общей практики
                    p.doctor-cat Первая, 2014 г.
            li 
                .administration-item__info.doctor
                    p.doctor-name Коноплев Алексей Александрович
                    p.doctor-job Врач стоматолог
                    p.doctor-edu ГБОУ ВПО Волгоградский государственный медицинский университет, в 2014 году. 
                    p.doctor-lastApgrade Стоматология общей практики, в 2015 году
                    p.doctor-cert 2015 г. Стоматология общей практики
                    p.doctor-cat Нет
            li 
                .administration-item__info.doctor
                    p.doctor-name Гутовская Татьяна Геннадьевна
                    p.doctor-job Зубной врач
                    p.doctor-edu Ростовский базовый  медицинский колледж, в 2005 году.
                    p.doctor-lastApgrade Стоматологическая помощь населению, в 2015 году
                    p.doctor-cert 2015 г. Стоматология
                    p.doctor-cat Высшая, 2017 г.
            li 
                .administration-item__info.doctor
                    p.doctor-name Суворова Светлана Абрамовна
                    p.doctor-job Зубной врач
                    p.doctor-edu Ростовское медицинское училище, в 1971 году.
                    p.doctor-lastApgrade Стоматологическая помощь населению, в 2014 году
                    p.doctor-cert 2014 г. Стоматология
                    p.doctor-cat Высшая, 2014 г.
            li 
                .administration-item__info.doctor
                    p.doctor-name Тупалов Микаил Алимович
                    p.doctor-job Зубной врач
                    p.doctor-edu ГОУ ВПО Ростовский государственный университет, в 2008 году.
                    p.doctor-lastApgrade Стоматологическая помощь населению, в 2016 году
                    p.doctor-cert 2016 г. Стоматология
                    p.doctor-cat Первая, 2016 г.
        h2 Кабинеты по обслуживанию  детей  в дошкольных общеобразовательных учреждениях, расположенных по адресам:
        table.tftable(border="1px solid #000")
            tr
                td МОУ ДОУ №1 «Малыш» 
                td ст.Романовская, ул.Строителей 5а,
            tr
                td МОУ ДОУ № 21 «Колосок»
                td ст.Романоская, ул.Тюхова 90а
            tr
                td МОУ ДОУ № 6 «Радость»
                td х.Потапов, ул.Юбилейная 12а,
            tr
                td МОУ ДОУ № 8 «Чайка»
                td х.Лагутники, ул.Комарова 29
            tr
                td МОУ ДОУ №13 «Дюймовочка»
                td п.Победа, ул.Кооперативная 9
            tr
                td МОУ ДОУ № 9 «Колокольчик»
                td х.Рябичев, ул.Юбилейная 9а
            tr
                td МОУ ДОУ № 5 «Вишенка»
                td х.Рябичев, ул.Советская 44
            tr
                td МОУ ДОУ №12 «Улыбка»
                td п.Прогресс, ул.Ленина 4
            tr
                td МОУ ДОУ №10 «Березка»
                td х.Ясырев, ул.Победы 17
            tr
                td МОУ ДОУ № 20 «Подснежник»
                td ст.Дубенцовская, ул.Ленина 44
            tr
                td МОУ ДОУ № 17 «Тополек»
                td ст.Большовская, ул.Тюхова 50а
            tr
                td МОУ ДОУ № 22 «Ромашка»
                td х.Семенкин, ул.Центральная 4
            tr
                td МОУ ДОУ № 15 «Мишутка»
                td п.Донской, ул.Гайдара 8
            tr
                td МОУ ДОУ №19 «Ягодка»
                td п.Виноградный, ул.Ленина 2
            tr
                td МОУ ДОУ № 14 «Звездочка»
                td п.Краснодонский, ул.Центральная 2
            tr
                td МОУ ДОУ № 7 «Солнечный зайчик»
                td п.Солнечный, ул.Прудовая 12
            tr
                td МОУ ДОУ № 11 «Буратино»
                td х.Морозов, ул.Новоселов 20
            tr
                td МОУ ДОУ № 16 «Малышок»
                td п.Мичуринский, ул.Садовая 14
            tr
                td МОУ ДОУ № 2 «Родничок»
                td х.Потапов, ул.Садовая 54а
