section.endoscop
    .container
        +breadcrumbs()
        h1.section-title Эндоскопический кабинет
        p 
            span Адрес: 
            | Волгодонской район, ст. Романовская, пер.Союзный 97а
        p Врач- эндоскопист 1 категории  Худяков Алексей Николаевич проводит фиброгастродуоденоскопию и колоноскопию: диагностические исследования, взятие материала на биопсию и цитоморфологическое исследование.
        p В 2011 – 2012 гг получено оборудование в рамках реализации Программы «Модернизация здравоохранения Волгодонского района  на 2011 – 2012 годы»:
        ol
            li
                p Гастрофиброскоп FUDJINON модель FG-1Z
            li
                p Гастродуоденоскоп биопсийный с  волоконной оптикой герметичный ГДБ-ВО-Г-23 (9,5)-"ЛОМО” 
            li
                p Колонофиброскоп FC-1Z с источником света PS2-HP,  Япония.
