section.fizio
    .container
        h1.section-title Физиотерапевтические кабинеты
        p Физиотерапевтические кабинеты расположены в поликлиническом отделении ст. Романовской, пер.Союзный 97а и в х. Рябичев ул.Юбилейная 52.
        p Процедуры отпускаются: понедельник-пятница:  с 8-00  до 14-00.
        p Процедуры  физиотерапевтических кабинетов:
        ul
            li
                p УВЧ- терапия
            li
                p ингаляционная  терапия ( на ультразвуковых аппаратах)
            li
                p электролечение, магнитолечение
            li
                p светолечение
            li
                p ультразвуковая терапия
            li
                p амплипульстерапия
            li
                p диодинамотерапия
        p В поликлиническом отделении х. Рябичев  работает  массажный  кабинет, где   проходят  лечения  пациенты  стационара и амбулаторные больные.
        p В 2011 – 2012 гг получено оборудование в рамках реализации Программы «Модернизация здравоохранения Волгодонского района  на 2011 – 2012 годы»:
        ol
            li
                p Ингалятор ультразвуковой Вулкан-2 (3 штуки) (декабрь 2011 г)
            li
                p Ингалятор компрессорный(небулайзер) OMRON-C28 (декабрь 2011 г)
            li
                p Аппарат для УВЧ терапии УВЧ-60,Россия
            li
                p Аппарат для УЗТерапии УЗТ-1.01 Ф- «Медтеко»,Россия
            li
                p Аппарат, для местной дарсонвализации Искра-1,Россия
            li
                p Аппарат диадинамотерапии ДТ-50-03 «Тонус-1»,Россия
            li
                p Аппарат гальванизации и электрофореза Поток-1,Россия
            li
                p Аппарат для низкочастотной магнитотерапии стационарный Полюс-2М,Россия