section.kdl
    .panel.panel-breadcrumbs
        +breadcrumbs
    .container
        article.panel
            h1.section-title Клинико-диагностическая лаборатория
            p 
                span Адрес: 
                | Волгодонской район, ст. Романовская, пер.Союзный 97а
            .administration-item
                .administration-item__img
                    img(src="img/vorobeva.jpg", alt="Заведующий отделением, Врач хирург")
                .administration-item__info.doctor
                    p.doctor-name  Воробьева Анна Ивановна
                    p.doctor-job  Заведующий КДЛ, врач лаборант высшей категории
                    p.doctor-edu Ростовский ордена Красного Знамени государственный университет, в 1977 году.
                    p.doctor-lastApgrade Клиническая лабораторная диагностика, в 2014 году
                    p.doctor-cat Высшая, 2015 г.
            p В нашей клинико-диагностической лаборатории внимательный, доброжелательный медицинский персонал  поможет Вам быстро и эффективно провести полное клинико-диагностическое обследование с соблюдением медицинской этики. В работе используется одноразовый лабораторный инструментарий.
            p В штате лаборатории:
            ul
                li
                    p заведующая
                li
                    p врач клинической лабораторной диагностики  высшей  категории
                li
                    p 1 врач – лаборант
                li
                    p 6 лаборантов:  из них 3 фельдшера-лаборанта с высшей и первой категорией
                li
                    p  3 лаборанта с высшей и первой категорией.
            p Прием анализов: понедельник-пятница: с 8 ч 00 мин до 10 ч.00 мин.
            p В  клинико-диагностической лаборатории  выполняются следующие виды исследований:
            ul
                li
                    p Клинические
                li
                    p гематологические
                li
                    p биохимические
                li
                    p коагулологические
                li
                    p иммунологические
                li
                    p паразитологические
            p Биохимия:
            ul
                li
                    p коагулограмма
                li
                    p липидограмма
                li
                    p триглицериды
                li
                    p МНО
                li
                    p ревмопробы  и все виды   биохимических  исследований
            p Иммунология (ИФА, РПГА):
            ul
                li
                    p вирусные гепатиты
                li
                    p morch-инфекции
                li
                    p вирусные инфекции
                li
                    p бактериальные инфекции
                li
                    p заболевания  передающиеся  половым  путем
                li
                    p онкомаркеры PSA и   СА 125 (исследование крови больных на онко-маркеры позволяет на ранних стадиях выявить онкологическую патологию)
            p Паразитология:
            ul
                li
                    p исследования кала и соскобов на гельминты
            p Бактериоскопия:
            ul
                li
                    p микроскопическое исследование мочи и мокроты на кислотоустойчивые микобактерии туберкулеза
            p Выполняются  платные услуги  по всем видам исследования.
            p В 2011 – 2012 гг для клинико-диагностической лаборатории получено оборудование в рамках реализации Программы «Модернизация здравоохранения Волгодонского района  на 2011 – 2012 годы»:
            ol
                li
                    p Микроскоп медицинский бинокулярный  "Биомед-5" - 4 штуки
                li
                    p Цифровой фотоэлектроколориметр (модель АР-700 Apel)
                li
                    p Центрифуга лабораторная медицинская настольная ОПн-8
                li
                    p Термостат электрический суховоздушный для лаборатории ТС-1/20-СПУ
                li
                    p Гемоглобинометр фотометрический портативный АГФ-03/540-Минигем
                li
                    p Устройство для фиксации и окраски мазков крови УФОМК-01
                li
                    p Автоматический биохимический анализатор Super Z
                li
                    p Автоматический гематологический анализатор MicroCC-18
                li
                    p Анализатор показателей гемостаза АПГ4-02
                li
                    p Устройство для фиксации и окраски мазков крови со встроенными автоматизированным таймером и камерой сушильной со звуковым сигналом УФОМК-01-Эйлитон