section.kfd
    .container
        h1.section-title Кабинеты функциональной диагностики
        p Кабинеты функциональной диагностики расположены в поликлиническом отделении ст. Романовской, пер.Союзный 97а и в х. Рябичев ул.Юбилейная 52. .
        p Проводятся исследования ЭКГ и спирограмма.
        p Время  работы: понедельник-пятница:  с 8-00  до 13-00 прием амбулаторных  больных, с 13 -00 до 14 – 00 – прием стационарных больных.
        p Оснащение:
        ol
            li
                p Электрокардиограф двенадцатиканальный с регистрацией ЭКГ в ручном и автоматическом   режимах миниатюрный ЭК12Т-01-"Р-Д"
            li
                p ЭКГ-аппарат «Альтон» -3-х канальный.
            li
                p Спирограф СМП – 21/01- «Р-Д».