section.kfd
    .panel.panel-breadcrumbs
        +breadcrumbs()
    .container
        article.panel
            h1.section-title Кабинеты  диагностики
            h2 Кабинеты функциональной диагностики
            p Кабинеты функциональной диагностики расположены в поликлиническом отделении ст. Романовской, пер.Союзный 97а и в х. Рябичев ул.Юбилейная 52. .
            p Проводятся исследования ЭКГ и спирограмма.
            p Время  работы: понедельник-пятница:  с 8-00  до 13-00 прием амбулаторных  больных, с 13 -00 до 14 – 00 – прием стационарных больных.
            p Оснащение:
            ol
                li
                    p Электрокардиограф двенадцатиканальный с регистрацией ЭКГ в ручном и автоматическом   режимах миниатюрный ЭК12Т-01-"Р-Д"
                li
                    p ЭКГ-аппарат «Альтон» -3-х канальный.
                li
                    p Спирограф СМП – 21/01- «Р-Д».
            h2 Кабинет ультразвуковой диагностики
            p.adress-info
                span Адрес: 
                | Волгодонской район, ст. Романовская, пер.Союзный 97а
            p Ультразвуковое исследование  проводят врачи имеющие сертификат специалиста:
            
            p Исследование проводится на современном оборудовании: 
                span УЗ диагностическая система Philips НD3
            p Виды проводимых исследований:
            ul
                li
                    p УЗИ всех внутренних органов: печень, желчный пузырь, поджелудочной железы, селезёнка, почки, надпочечники, мочевой пузырь, предстательная железа.
                li
                    p УЗИ поверхностных органов: щитовидной железы, молочных желез, мягких тканей.
                li
                    p УЗИ  исследование матки и яичников, исследование плода.
            h2.team-title Специалисты отделения
            .person-card__wrapper.person-card__wrapper--inner
                .profile_card
                    .profile_inner
                        .profile_img.img-28
                        .over_layer
                            .mc-description
                                p
                                    span Учебное заведение: 
                                p Ростовский государственный медицинский университет, в 2001 году.
                                p
                                    span Последнее повышение: 
                                p Ультразвуковая диагностика, в 2018 году.
                                p
                                    span Сертификат: 
                                p 2018 г. Ультразвуковая диагностика
                                p
                                    span Категория: 
                                p Первая, 2015 г.
                        .profile_contact
                            h3 Щербакова Ирина Геннадьевна
                                span Врач ультразвуковой диагностики
                .profile_card
                    .profile_inner
                        .profile_img.img-29
                        .over_layer
                            .mc-description
                                p
                                    span Учебное заведение: 
                                p Ростовский государственный медицинский университет, 2000 г.
                                p
                                    span Последнее повышение: 
                                p Акушерство и гинекология, в 2017 году.
                                p
                                    span Сертификат: 
                                p 2017 г. Акушерство и гинекология
                                p
                                    span Категория: 
                                p Нет
                        .profile_contact
                            h3 Андара Магане Чамара Чандраратне
                                span Врач акушер-гинеколог
            h2 Эндоскопический кабинет
            p.adress-info
                span Адрес: 
                | Волгодонской район, ст. Романовская, пер.Союзный 97а
            p Врач- эндоскопист 1 категории  Худяков Алексей Николаевич проводит фиброгастродуоденоскопию и колоноскопию: диагностические исследования, взятие материала на биопсию и цитоморфологическое исследование.
            p В 2011 – 2012 гг получено оборудование в рамках реализации Программы «Модернизация здравоохранения Волгодонского района  на 2011 – 2012 годы»:
            ol
                li
                    p Гастрофиброскоп FUDJINON модель FG-1Z
                li
                    p Гастродуоденоскоп биопсийный с  волоконной оптикой герметичный ГДБ-ВО-Г-23 (9,5)-"ЛОМО” 
                li
                    p Колонофиброскоп FC-1Z с источником света PS2-HP,  Япония.
            h2 Физиотерапевтические кабинеты
            p Физиотерапевтические кабинеты расположены в поликлиническом отделении ст. Романовской, пер.Союзный 97а и в х. Рябичев ул.Юбилейная 52.
            p Процедуры отпускаются: понедельник-пятница:  с 8-00  до 14-00.
            p Процедуры  физиотерапевтических кабинетов:
            ul
                li
                    p УВЧ- терапия
                li
                    p ингаляционная  терапия ( на ультразвуковых аппаратах)
                li
                    p электролечение, магнитолечение
                li
                    p светолечение
                li
                    p ультразвуковая терапия
                li
                    p амплипульстерапия
                li
                    p диодинамотерапия
            p В поликлиническом отделении х. Рябичев  работает  массажный  кабинет, где   проходят  лечения  пациенты  стационара и амбулаторные больные.
            p В 2011 – 2012 гг получено оборудование в рамках реализации Программы «Модернизация здравоохранения Волгодонского района  на 2011 – 2012 годы»:
            ol
                li
                    p Ингалятор ультразвуковой Вулкан-2 (3 штуки) (декабрь 2011 г)
                li
                    p Ингалятор компрессорный(небулайзер) OMRON-C28 (декабрь 2011 г)
                li
                    p Аппарат для УВЧ терапии УВЧ-60,Россия
                li
                    p Аппарат для УЗТерапии УЗТ-1.01 Ф- «Медтеко»,Россия
                li
                    p Аппарат, для местной дарсонвализации Искра-1,Россия
                li
                    p Аппарат диадинамотерапии ДТ-50-03 «Тонус-1»,Россия
                li
                    p Аппарат гальванизации и электрофореза Поток-1,Россия
                li
                    p Аппарат для низкочастотной магнитотерапии стационарный Полюс-2М,Россия
