section.kud
    .panel.panel-breadcrumbs
        +breadcrumbs
    .container
        article.panel
            h1.section-title Кабинет ультразвуковой диагностики
            p 
                span Адрес: 
                | Волгодонской район, ст. Романовская, пер.Союзный 97а
            p Ультразвуковое исследование  проводят врачи имеющие сертификат специалиста:
            
            p Исследование проводится на современном оборудовании: 
                span УЗ диагностическая система Philips НD3
            p Виды проводимых исследований:
            ul
                li
                    p УЗИ всех внутренних органов: печень, желчный пузырь, поджелудочной железы, селезёнка, почки, надпочечники, мочевой пузырь, предстательная железа.
                li
                    p УЗИ поверхностных органов: щитовидной железы, молочных желез, мягких тканей.
                li
                    p УЗИ  исследование матки и яичников, исследование плода.
            ul
                li
                    .administration-item__info.doctor
                        p.doctor-name Щербакова Ирина Геннадьевна
                        p.doctor-job Врач ультразвуковой диагностики
                        p.doctor-edu Ростовский государственный медицинский университет, в 2001 году.
                        p.doctor-lastApgrade Ультразвуковая диагностика, в 2018 году.
                        p.doctor-cert  2018 г. Ультразвуковая диагностика
                        p.doctor-cat Первая, 2015 г.
                li
                    .administration-item__info.doctor
                        p.doctor-name Андара Магане Чамара Чандраратне
                        p.doctor-job Врач акушер-гинеколог
                        p.doctor-edu Ростовский государственный медицинский университет, 2000 г.
                        p.doctor-lastApgrade Акушерство и гинекология, в 2017 году.
                        p.doctor-cert 2017 г. Акушерство и гинекология
                        p.doctor-cat Нет 
