section.neurologist
    .panel.panel-breadcrumbs
        +breadcrumbs
    .container
        article.panel
            h1.section-title Неврологическое отделение
            p 
                span Адрес: 
                | Волгодонской район, ст. Романовская, пер.Союзный 97а 
            p 
                span Контактный телефон: 
                a(href="tel:88639470585") 8 (86394) 7-05-85
            p Мощность отделения 40 коек, в том числе 15 коек дневного пребывания
            p Время плановой госпитализации больных: понедельник-пятница с 9:00 до 11:00.
            p В неврологическом отделении оказывают экстренную и плановую помощь пациентам.
            +dayShedule()
            p Услуги предоставляются:
            ul
                li
                    p по полисам обязательного медицинского страхования
                li
                    p по полисам добровольного медицинского страхования
            p Перед специалистами отделения стоит задача оказания специализированной медицинской помощи населению Волгодонского района.
            p С этой целью в повседневной работе отделения широко используются диагностические возможности рентгенологического кабинета, оборудованного современным рентгеновским диагностическим комплексом  КРД-СМ 50/125-1 «Спектран», клинико-диагностической лаборатории, осуществляются плановые и срочные консультации врачей других специальностей. При необходимости, больные направляются на магнитно-резонансную томографию (МРТ), что позволяет повысить уровень диагностики и выбрать правильную тактику лечения пациентов.
            p В лечебном процессе широко используются современные фармакологические, физиотерапевтические, мануальные методы. Заведующий отделением владеет техникой выполнения лечебных блокад.
            p С 2011  года работа неврологического отделения ориентирована на профилактику инсульта, а также на реабилитацию больных, перенесших острое нарушение мозгового кровообращения. В связи с чем персонал отделения проводит с пациентами занятия, входящие в программу «Школа здоровья» для выздоравливающих больных. В отделении проводится реабилитация постинсультных больных, прошедших курс лечения в межрайонном сосудистом центре г. Волгодонска.
            p Специалисты отделения постоянно повышают свой профессиональный уровень, являются членами областного общества неврологов, работают в тесном контакте с кафедрами РГМУ (в сложных диагностических случаях осуществляются консультации специалистов в отделении), посещают конференции, циклы усовершенствования врачей.
            p В отделении проводят лечение при следующих заболеваниях:
            ul
                li
                    p дегенеративно-дистрофические заболевания позвоночника (остеохондроз, спондилоартроз, деформирующий спондилез)
                li
                    p последствия перенесенных инсультов
                li
                    p последствия черепно-мозговых травм
                li
                    p вегетативно-сосудистые расстройства
                li
                    p заболевания периферической нервной системы
            h2.team-title Специалисты отделения
            .person-card__wrapper
                .profile_card
                    .profile_inner
                        .profile_img.img-18
                        .over_layer
                            .mc-description
                                p
                                    span Учебное заведение: 
                                p Ташкентский государственный медицинский институт, 1995 г.
                                p
                                    span Последнее повышение: 
                                p Неврология, в 2018 году
                                p
                                    span Сертификат: 
                                p 2018 г. Неврология
                                p
                                    span Категория: 
                                p Высшая, 2015 г.
                        .profile_contact
                            h3 Рамизов Бахтиер Фарамизович
                                span  Врач невролог
                .profile_card.no-hover
                    .profile_inner
                        .profile_img.img-19
                        .profile_contact
                            h3  Бесталанная Наиля Вадутовна
                                span  Старшая медсестра высшей категории
