section.rentgen
    .panel.panel-breadcrumbs
        +breadcrumbs
    .container
        article.panel
            h1.section-title Рентгеновский кабинет
            p.adress-info
                span Адрес: 
                | Волгодонской район, ст. Романовская, пер.Союзный 97а 
            p.adress-info
                span Контактный телефон: 
                a(href="tel:88639470242") 8 (86394) 7-02-42
            p Представлен  кабинетом  флюорографического обследования,  рентгенкабинетом    расположенными в отдельно стоящем здании на территории больницы.

            p Отделение  работает круглосуточно.
            p Для    массового  обследования  населения  используется малодозовый флюорографический цифровой аппарат  ФЦМБарс-«Ренекс», создан  архив  флюорограмм.
            p В 2011 г  в рамках реализации Программы «Модернизация здравоохранения Волгодонского района  на 2011 – 2012 годы» получен стационарный рентгеновский диагностический комплекс на три рабочих места с усилителем яркости рентгеновского изображения КРД-СМ 50/125-1, позволяющим   производить  исследование в   положении пациента стоя и сидя.
            p Для  мобильного обслуживания тяжело больных работает  палатный переносной рентгеновский аппарат  РДП 10 Л 6- 01.
            p В  помощь стоматологической   службе  работает аппарат рентгеновский дентальный «5Д2».
            h2.team-title Специалисты отделения
            .person-card__wrapper
                .profile_card
                    .profile_inner
                        .profile_img.img-27
                        .over_layer
                            .mc-description
                                p
                                    span Учебное заведение: 
                                p Казанский медицинский институт, в 1974 году.
                                p
                                    span Последнее повышение: 
                                p Рентгенология, в 2016 году
                                p
                                    span Сертификат: 
                                p 2016 г. Рентгенология
                                p
                                    span Категория: 
                                p нет
                        .profile_contact
                            h3 Бобровский Юрий Евгеньевич
                                span  Врач-рентгенолог
