section.terapevt1
    .panel.panel-breadcrumbs
        +breadcrumbs
    .container
        article.panel
            h1.section-title Терапевтическое отделение № 1
            p 
                span Адрес: 
                | Волгодонской район, ст. Романовская, пер.Союзный 97а 
            p 
                span Контактный телефон: 
                a(href="tel:88639470477 ") 8 (86394) 7-04-77 
            p Мощность отделения 35 коек в том числе 15 коек дневного пребывания
             
            p В терапевтическом отделении оказывают экстренную и плановую помощь пациентам.
            +dayShedule()
            p Услуги предоставляются:
            ul
                li
                    p по полисам обязательного медицинского страхования
                li
                    p по полисам добровольного медицинского страхования
            p Перед специалистами отделения стоит задача оказания специализированной медицинской помощи населению Волгодонского района.
            p С этой целью в повседневной работе отделения широко используются диагностические возможности рентгенологического кабинета, оборудованного современным рентгеновским диагностическим комплексом  КРД-СМ 50/125-1 «Спектран», клинико-диагностической лаборатории, осуществляются плановые и срочные консультации врачей других специальностей. При необходимости, больные направляются на магнитно-резонансную томографию (МРТ), что позволяет повысить уровень диагностики и выбрать правильную тактику лечения пациентов.
            p В лечебном процессе широко используются возможности физиотерапевтического кабинета, расположенного в рядом стоящем корпусе поликлиники. Здесь пациентам доступны высоко эффективные физиотерапевтические процедуры:
            ul
                li
                    p УВЧ терапия
                li
                    p УЗ терапия
                li
                    p дарсонвализация
                li
                    p диадинамотерапия
                li
                    p гальванизация и электрофорез
                li
                    p низкочастотная магнитотерапия
            p В терапевтическом отделении проводят лечение при следующих заболеваниях:
            ul
                li
                    p заболевания сердечно-сосудистой системы (ишемическая болезнь сердца в стадии декомпенсации )
                li
                    p гипертоническая болезнь (отсутствие эффекта при амбулаторном лечении) 
                li
                    p заболевания желудочно-кишечного тракта (язвенная болезнь и др.)
                li
                    p осложненные формы сахарного диабета (диабетическая полинейропатия)
                li
                    p заболевания легких (хронический бронхит в стадии обострения, пневмония, хроническая обструктивная легочная болезнь)
            p Специалисты отделения постоянно повышают свой профессиональный уровень, работают в тесном контакте с областными специалистами  (в сложных диагностических случаях осуществляются консультации специалистов в отделении), посещают конференции, циклы усовершенствования врачей.
            p Время плановой госпитализации больных: понедельник-пятница с 9:00 до 10:00.
            p В 2011 – 2012 гг терапевтическим отделением № 1 получено оборудование в рамках реализации Программы «Модернизация здравоохранения Волгодонского района  на 2011 – 2012 годы»:
            ol
                li
                    p Электрокардиограф одноканальный ЭКЗТ-01-"Р-Д" (декабрь 2011 г)
                li
                    p Инфузионный шприцевой насос с сетевым и аккумуляторным питанием Litus P-1800 (2 штуки) (ноябрь 2011 г)
                li
                    p Аппарат медицинский для подогрева крови, кровезаменителей и растворов при инфузионной терапии Barkey S-line (декабрь 2011 г)
                li
                    p Облучатель-рециркулятор бактерицидный настенный двухламповый ОБРН-2*15(декабрь 2011 г)
            h2.team-title Специалисты отделения
            .person-card__wrapper
                .profile_card
                    .profile_inner
                        .profile_img.img-20
                        .over_layer
                            .mc-description
                                p
                                    span Учебное заведение: 
                                p Кемеровская государственная  медицинская академия  2001 г.
                                p
                                    span Последнее повышение: 
                                p Терапия, в 2015 году
                                p
                                    span Сертификат: 
                                p 2015 г. Терапия
                                p
                                    span Категория: 
                                p Первая, 2018 г.
                        .profile_contact
                            h3 Садовничая Ольга Олеговна
                                span Заведующая отделением Врач терапевт
                .profile_card.no-hover
                    .profile_inner
                        .profile_img.img-21
                        .profile_contact
                            h3 Абрамчук Ольга Геннадьевна
                                span Старшая медсестра высшей категории
