section.terapevt1
    .panel.panel-breadcrumbs
        +breadcrumbs
    .container
        article.panel
            h1.section-title Терапевтическое отделение № 2 (х.Рябичев)
            p 
                span Адрес: 
                | Волгодонской район, х. Рябичев, ул.Юбилейная 52 
            p 
                span Контактный телефон: 
                a(href="tel:88639474709 ") 8 (86394) 7-47-09 
            p Мощность отделения 40 коек в том числе 15 коек дневного пребывания
            
            p Время плановой госпитализации больных: понедельник-пятница с 10:00 до 11:00.
            p В терапевтическом отделении оказывают экстренную и плановую помощь пациентам.
            +dayShedule()
            p Услуги предоставляются:
            ul
                li
                    p по полисам обязательного медицинского страхования
                li
                    p по полисам добровольного медицинского страхования
            p Перед специалистами отделения стоит задача оказания специализированной медицинской помощи населению Волгодонского района.
            p В терапевтическом отделении проводят лечение пациентов со следующими заболеваниями:
            ul
                li
                    p заболевания сердечно-сосудистой системы
                li
                    p заболевания бронхо-легочной системы
                li
                    p заболевания желудочно-кишечного тракта
                li
                    p заболевания опорно-двигательного аппарата
                li
                    p эндокринная патология
                li
                    p заболевания системы крови и кроветворения
            p Специалисты отделения постоянно повышают свой профессиональный уровень, работают в тесном контакте с областными специалистами  (в сложных диагностических случаях осуществляются консультации специалистов в отделении), посещают конференции, циклы усовершенствования врачей.
            p В 2011 – 2012 гг терапевтическим отделением № 2 получено оборудование в рамках реализации Программы «Модернизация здравоохранения Волгодонского района  на 2011 – 2012 годы»:
            ol
                li
                    p Электрокардиограф одноканальный ЭКЗТ-01-"Р-Д" (декабрь 2011 г)
                li
                    p Дефибриллятор переносной с сетевым и батарейным питанием PRIMEDIC Defi-B (январь 2012 г).
                li
                    p Инфузионный шприцевой насос с сетевым и аккумуляторным питанием Litus P-1800 (2 штуки) (ноябрь 2011 г).
                li
                    p Аппарат медицинский для подогрева крови, кровезаменителей и растворов при инфузионной терапии Barkey S-line (декабрь 2011 г).
                li
                    p Облучатель-рециркулятор бактерицидный настенный двухламповый ОБРН-2*15 (декабрь 2011 г).
            h2.team-title Специалисты отделения
            .person-card__wrapper.person-card__wrapper--inner
                .profile_card
                    .profile_inner
                        .profile_img.img-22
                        .over_layer
                            .mc-description
                                p
                                    span Учебное заведение: 
                                p Ростовский ордена Дружбы народов медицинский институт, в 1990 году.
                                p
                                    span Последнее повышение: 
                                p Терапия, в 2016 году
                                p
                                    span Сертификат: 
                                p 2016 г. Терапия
                                p
                                    span Категория: 
                                p нет
                        .profile_contact
                            h3 Караваев Валерий Семенович
                                span Заведующий отделением Врач терапевт
                .profile_card.no-hover
                    .profile_inner
                        .profile_img.img-23
                        .profile_contact
                            h3 Башкинцева Дарья Сергеевна
                                span Старшая медсестра
