section.online
    .panel.panel-breadcrumbs
        +breadcrumbs()
    .container
        article.panel
            h1.section-title Online-консультация
            article.panel
                p Уважаемые посетители!
                p Вы можете задать вопрос специалистам нашей больницы, однако просим Вас четко осознавать, что в большинстве случаев мы можем только сориентировать Вас в том, к какому специалисту необходимо обратиться в первую очередь и какие анализы и обследования Вам нужно пройти для постановки правильного диагноза и назначения эффективного лечения.
                p Прежде чем задать вопрос, ознакомьтесь, пожалуйста, с 
                    a(href="onlineRules.html", target="_blank", rel="noopener noreferrer") "Правилами on-line консультирования".
                form.registration(method="post" action="#")
                    h2 Ваш вопрос
                    label.pure-material-textfield-outlined
                        input(placeholder="Ваша фамилия" type="text" name="online[surname]" required)
                        span Ваша фамилия
                    label.pure-material-textfield-outlined
                        input(placeholder="Ваше имя" type="text" name="online[name]" required)
                        span Ваше имя
                    label.pure-material-textfield-outlined
                        input(placeholder="Ваша электронная почта" type="email" name="online[email]" required)
                        span Ваш Email
                    label.pure-material-textfield-outlined
                        input(placeholder="Тема вопроса" type="text" name="online[subject]" required)
                        span Тема вопроса
                    label.pure-material-textfield-outlined
                        textarea(placeholder="Ваш вопрос" name="online[text]" required)
                        span Текст вопроса
                    button.pure-material-button-contained(type="submit") Отправить
                    .done
                        h3 Ответ будет выслан Вам на электронную почту в ближайшее время
                        a.pure-material-button-text(href="javascript:window.location.reload(true)") назад
                    .progress
                        progress.pure-material-progress-circular
