section.online
    .panel.panel-breadcrumbs
        +breadcrumbs()
    .container
        article.panel
            h1.section-title Online-консультация
            article.panel
                p Уважаемые посетители!
                p Вы можете задать вопрос специалистам нашей больницы, однако просим Вас четко осознавать, что в большинстве случаев мы можем только сориентировать Вас в том, к какому специалисту необходимо обратиться в первую очередь и какие анализы и обследования Вам нужно пройти для постановки правильного диагноза и назначения эффективного лечения.
                h2 Правила on-line консультирования
                p В online консультациях мы помогаем пациенту яснее понять суть его болезни и возможности оказания ему медицинской помощи.
                p Очная консультация всегда вернее, информативнее и полезнее заочной, ведь врач видит пациента, имеет возможность задать ему все необходимые вопросы, провести дополнительные исследования.
                p Только при личном контакте с врачом возможно правильно поставить диагноз и подобрать эффективное лечение. Заочное лечение опасно для Вашего здоровья, поэтому на часть вопросов мы отвечаем рекомендацией немедленно обратиться к врачу.
                p Цель online-консультаций помочь пациенту сориентироваться, в каких направлениях медицины ему следует искать помощи, в консультации каких врачей-специалистов он нуждается, какие из медицинских услуг будут ему полезны.
                p Подробную расшифровку результатов исследований, особенно требующих визуальной оценки (например, ЭКГ, КТ), в рамках on-line консультации мы не производим.
                p Рекомендаций по медикаментозному лечению заочно мы не даём, поскольку врач, подбирая лекарства, учитывает всё: от диагноза, возраста и сопутствующей патологии до индивидуальной реакции на препарат, корректирует назначения, наблюдая эффективность терапии. Это возможно только при очном общении.
                p Лечение, назначенное другим врачом, мы не комментируем, не оцениваем и не корректируем. Обо всех нюансах назначенного лечения нужно расспрашивать делающего назначения врача.
                p В ситуациях, требующих быстрой медицинской помощи, вызывайте «скорую помощь» (звоните «03»).
                form.registration(method="post" action="#")
                    h2 Ваш вопрос
                    label.pure-material-textfield-outlined
                        input(placeholder="Ваша фамилия" type="text" name="online[surname]" required)
                        span Ваша фамилия
                    label.pure-material-textfield-outlined
                        input(placeholder="Ваше имя" type="text" name="online[name]" required)
                        span Ваше имя
                    label.pure-material-textfield-outlined
                        input(placeholder="Ваша электронная почта" type="email" name="online[email]" required)
                        span Ваш Email
                    label.pure-material-textfield-outlined
                        input(placeholder="Тема вопроса" type="text" name="online[subject]" required)
                        span Тема вопроса
                    label.pure-material-textfield-outlined
                        textarea(placeholder="Ваш вопрос" name="online[text]" required)
                        span Текст вопроса
                    button.pure-material-button-contained(type="submit") Отправить
                    .done
                        h3 Ответ будет выслан Вам на электронную почту в ближайшее время
                        a.pure-material-button-text(href="javascript:window.location.reload(true)") назад
                    .progress
                        progress.pure-material-progress-circular
