section.online
    .container
        h2 Уважаемые посетители!
        p Вы можете задать вопрос специалистам нашей больницы, однако просим Вас четко осознавать, что в большинстве случаев мы можем только сориентировать Вас в том, к какому специалисту необходимо обратиться в первую очередь и какие анализы и обследования Вам нужно пройти для постановки правильного диагноза и назначения эффективного лечения.
        p Прежде чем задать вопрос, ознакомьтесь, пожалуйста, с 
            a(href="http://crb-volgraion.ucoz.ru/index/pravila_on_line_konsultirovanija/0-47", target="_blank", rel="noopener noreferrer") "Правилами on-line консультирования".
        form(action="#", method="get")
            p
                label(for="online-name") Имя отправителя
                input(type="text", name="online[name]", id="online-name")
            p
                label(for="online-mail") E-mail отправителя 
                input(type="mail", name="online[mail]", id="online-mail")
            p
                label(for="online-theme") Тема письма
                input(type="mail", name="online[theme]", id="online-theme")
            p
                label(for="online-text") Тема письма
                textarea(name="online[text]", cols="30", rows="5" id="online-text")
            p
                input.btn(type="submit", value="Отправить")
                