section.online
    .container
        h1.section-title Online-консультация
        .panel
            p Уважаемые посетители!
            p Вы можете задать вопрос специалистам нашей больницы, однако просим Вас четко осознавать, что в большинстве случаев мы можем только сориентировать Вас в том, к какому специалисту необходимо обратиться в первую очередь и какие анализы и обследования Вам нужно пройти для постановки правильного диагноза и назначения эффективного лечения.
            p Прежде чем задать вопрос, ознакомьтесь, пожалуйста, с 
                a(href="onlineRules.html", target="_blank", rel="noopener noreferrer") "Правилами on-line консультирования".
        .panel.panel-form
            p.form-caption Оставьте свой вопрос
            form.small(action="#", method="get")
                p.input-field
                    input(type="text", name="online[name]", id="online-name")
                    label(for="online-name") Имя отправителя
                p.input-field 
                    input(type="mail", name="online[mail]", id="online-mail")
                    label(for="online-mail") E-mail отправителя
                p.input-field
                    input(type="mail", name="online[theme]", id="online-theme")
                    label(for="online-theme") Тема письма
                p.input-field
                    textarea(name="online[text]", cols="30", rows="5" id="online-text")
                    label(for="online-text") Тема письма
                p.input-field.input-field--btn
                    input.btn.btn--form(type="submit", value="Отправить")
                    