section.onlineRules
    .container
        h1.section-title Правила online консультирования
        p В online консультациях мы помогаем пациенту яснее понять суть его болезни и возможности оказания ему медицинской помощи.
        p Очная консультация всегда вернее, информативнее и полезнее заочной, ведь врач видит пациента, имеет возможность задать ему все необходимые вопросы, провести дополнительные исследования.
        ul
            li
                p Только при личном контакте с врачом возможно правильно поставить диагноз и подобрать эффективное лечение. Заочное лечение опасно для Вашего здоровья, поэтому на часть вопросов мы отвечаем рекомендацией немедленно обратиться к врачу.
            li
                p Цель online-консультаций помочь пациенту сориентироваться, в каких направлениях медицины ему следует искать помощи, в консультации каких врачей-специалистов он нуждается, какие из медицинских услуг будут ему полезны.
            li
                p Подробную расшифровку результатов исследований, особенно требующих визуальной оценки (например, ЭКГ, КТ), в рамках on-line консультации мы не производим.
            li
                p Рекомендаций по медикаментозному лечению заочно мы не даём, поскольку врач, подбирая лекарства, учитывает всё: от диагноза, возраста и сопутствующей патологии до индивидуальной реакции на препарат, корректирует назначения, наблюдая эффективность терапии. Это возможно только при очном общении.
            li
                p Лечение, назначенное другим врачом, мы не комментируем, не оцениваем и не корректируем. Обо всех нюансах назначенного лечения нужно расспрашивать делающего назначения врача.
            li
                p В ситуациях, требующих быстрой медицинской помощи, вызывайте «скорую помощь» (звоните «03»).