section.prepareRules
    .container
        h1 ПРАВИЛА ПОДГОТОВКИ К ДИАГНОСТИЧЕСКИМ ИССЛЕДОВАНИЯМ
        h3 ПОДГОТОВКА К РЕНТГЕНОГРАФИИ ПОЯСНИЧНОГО ОТДЕЛА ПОЗВОНОЧНИКА
        ol
            li
                | За три дня до исследования исключить из рациона:
                ul
                    li черный хлеб
                    li молоко
                    li горох
                    li фасоль
                    li капусту
                    li свежие овощи
                    li фрукты
                    li сладкие блюда
            li
                | Накануне исследования не позднее 18-00- легкий ужин, затем постановка 2-х очистительных клизм в 19-00 и
                | 21-00;
            li В день исследования - еще одна очистительная клизма за 2 часа до исследования;
            li Прийти натощак (не есть, не пить).
            li
                | При себе иметь: тапочки, простынь, туалетную бумагу, амбулаторную карту, направление. Женщинам при себе
                | иметь
                | ночную рубашку.
        h3 ПРАВИЛА ПОДГОТОВКИ БОЛЬНОГО К КЛИНИКО-ДИАГНОСТИЧЕСКИМ ИССЛЕДОВАНИЯМ
        p
            | Для наиболее точного диагностирования заболеваний недостаточно самого современного лабораторного оборудования.
            | Точность результатов зависит не только от используемых реактивов и аппаратуры, но и от времени и правильности
            | сбора исследуемого материала. При несоблюдении основных правил подготовки к анализам их результаты могут быть
            | значительно искажены.
        h3 АНАЛИЗ КРОВИ
        p Для исследования крови более всего подходят утренние часы
        p
            | Для большинства исследований кровь берется строго натощак. Кофе, чай и сок - это тоже еда. Можно пить воду.
        ol
            | Рекомендуются следующие промежутки времени после последнего приема пищи:
            li для общего анализа крови не менее 3-х часов;
            li
                | для биохимического анализа крови желательно не есть 12-14 часов (но не менее 8 часов).
            li
                | За 2 дня до обследования необходимо отказаться от алкоголя, жирной и жареной пищи.
            li За 1-2 часа до забора крови не курить.
        p
            | Перед исследованием крови следует максимально снизить физические нагрузки. Исключить бег, подъем по лестнице.
            | Избегать эмоционального возбуждения. Минут 10-15 нужно отдохнуть, расслабиться и успокоиться.
        p
            | Нельзя сдавать кровь сразу после физиотерапевтических процедур, ультразвукового и рентгенологического
            | исследования, массажа и рефлексотерапии.
        p Перед сдачей крови нужно исключить перепады температур, то есть баню и сауну.
        p
            | Перед гормональным исследованием крови у женщин репродуктивного возраста следует придерживаться рекомендаций
            | лечащего врача о дне менструального цикла, в который необходимо сдать кровь, так как на результат анализа
            | влияют физиологические факторы фазы менструального цикла.
        p
            | Перед сдачей крови необходимо успокоиться, чтобы избежать немотивированного выброса в кровь гормонов и
            | увеличение их показателя.
        p
            | Для сдачи крови на вирусные гепатиты желательно за 2 дня до исследования исключить из рациона цитрусовые,
            | оранжевые фрукты и овощи.
        p
            | Для правильной оценки и сравнения результатов ваших лабораторных исследований рекомендуется проводить их в
            | одной и той же лаборатории, так как в разных лабораториях могут применяться разные методы исследования и
            | единицы измерения показателей.
        h3 АНАЛИЗЫ МОЧИ
        h3 Общеклинический анализ мочи
        h4 Сбор утренней мочи:
        ul
            li
                | сбор производится
                | сразу после подъема с постели, до приема утреннего кофе или чая;
            li
                | предыдущее мочеиспускание было не позже, чем
                | в 2 часа ночи;
            li перед сбором анализа мочи проводится тщательный туалет наружных половых органов;
            li
                | в
                | специальный контейнер с крышкой собирают 10 мл мочи, снабжают направлением, собранную мочу сразу
                | направляют
                | в
                | лабораторию;
            li хранение мочи в холодильнике допускается при t 2-4 C, но не более 1,5 часов;
            li
                | женщинам нельзя
                | сдавать мочу во время менструации.
        h4 Сбор суточной мочи
        ul
            li
                | пациент собирает мочу в течение 24 часов при обычном питьевом режиме (около 1,5 л в сутки);
            li
                | утром в 6-8
                | часов он освобождает мочевой пузырь и выливает эту порцию, затем в течение суток собирает всю мочу
                | в чистый
                | широкогорлый сосуд из темного стекла с крышкой емкостью не менее 2 л;
            li
                | оследняя порция берется в то же время,
                | когда накануне был начат сбор, отмечается время начала и конца сбора;
            li
                | емкость хранится в прохладном месте
                | (лучше в холодильнике на нижней полке), замерзание не допускается;
            li
                | по окончании сбора мочи измеряется её
                | объем, мочу тщательно взбалтывают и отливают 50-100 мл в специальный контейнер, в котором она будет
                | доставлена
                | в лабораторию;
            li обязательно указывают объем суточной мочи.
        h4
            | Сбор мочи для исследования по Нечипоренко(выявление скрытого воспалительного процесса)
        ul
            li
                | утром натощак собирают 10 мл утренней мочи, взятой в середине мочеиспускания в специальный
                | лабораторный
                | контейнер.
        h4
            | Сбор мочи для исследования по Зимницкому (пациент учитывает количество выпитой жидкости за сутки)
        ul
            li
                | после опорожнения мочевого пузыря в 6 часов утра через каждые 3 часа в течение суток собирают мочу
                | в
                | отдельные емкости, на которых указывает время сбора или номер порции, всего 8 порций.
                ol
                    li с 6.00 до 9.00
                    li с 9.00 до 12.00
                    li с 12.00 до 15.00
                    li с 15.00 до 18.00
                    li с 18.00 до 21.00
                    li с 21.00 до 24.00
                    li с 24.00 до 3.00
                    li с 3.00 до 6.00 часов
            li
                | все собранное количество мочи в 8 специальных контейнерах доставляется в лабораторию;
            li обязательно указать объем суточной мочи.
        h4 Сбор мочи для микробиологического исследования (посев мочи)
        ul
            li утренняя моча собирается в стерильный лабораторный контейнер с крышкой;
            li
                | первые 15 мл мочи для анализа не
                | используются, берутся последующие 5- 10 мл;
            li
                | собранная моча доставляется в лабораторию в течение 1,5 - 2 часов
                | после сбора;
            li допускается хранение мочи в холодильнике, но не более 3-4 часов;
            li
                | сбор мочи проводится до
                | начала медикаментозного лечения;
            li
                | если нужно оценить эффект проведенной терапии, то посев мочи производится по
                | окончании курса лечения.
        h3 АНАЛИЗЫ КАЛА
        ul
            li
                | за 2-3дня до исследования избегать приема лекарственных препаратов, меняющих характер кала и вызывающих
                | функциональные нарушения желудочно-кишечного тракта;
            li
                | нельзя исследовать кал после клизмы, применения
                | ректальных свечей, приема слабительных или красящих веществ, а также пилокарпина, препаратов железа,
                | висмута,
                | бария и др.;
            li
                | кал не должен содержать посторонних примесей, таких как моча, дезинфицирующие вещества и др.;
            li подготовить чистую емкость для кала;
            li
                | содержимое утреннего кала из 3-х точек собирается в контейнер и
                | доставляется в лабораторию в течение 2-х часов.
        h4 Анализ кала на выявление глистных инвазий
        ul
            li
                | в течении двух дней больной не должен употреблять в пищу жесткую, плохо перевариваемую пищу ("пищевой
                | мусор") - семечки, орехи, сырые овощи и фрукты со шкуркой, а также сорбенты - активированный уголь и
                | прочее, а
                | также грибы!
        h3 АНАЛИЗЫ В ГИНЕКОЛОГИИ, УРОЛОГИИ
        h4 Для женщин:
        ul
            li нельзя мочиться в течение 3-х часов до сдачи анализа (мазок, посев);
            li
                | не рекомендуется вступать в половой
                | контакт за 36 часов, тем более с использованием противозачаточных средств которые могут исказить
                | результат,
                | так
                | как обладают антибактериальным действием;
            li
                | накануне нельзя подмываться антибактериальным мылом и
                | спринцеваться;
            li нельзя применять антибиотики внутрь;
            li нельзя сдавать анализы во время менструации.
        h4 Для мужчин:
        ul
            li нельзя ходить в туалет за 3 часа до сдачи анализа;
            li нельзя принимать внутрь уросептики, антибиотики;
            li
                | применять наружно растворы, обладающие дезинфицирующим
                | действием, мыло с антибактериальным действием;
            li
                | не рекомендуется вступать в половой контакт за 36 часов до
                | сдачи анализов.
        h3 АНАЛИЗ МОКРОТЫ
        ul
            li анализ собирается в стерильный лабораторный контейнер;
            li
                | перед сбором мокроты необходимо почистить зубы,
                | прополоскать рот и горло;
        h3  УЛЬТРАЗВУКОВЫЕ ИССЛЕДОВАНИЯ
        p  Пациенту с собой необходимо иметь:
        ol
            li данные предыдущих исследований УЗИ (для определения динамики заболевания);
            li
                | направление на УЗ исследование (цель исследования, наличие сопутствующих заболеваний...);
            li большое полотенце или пеленку.
        h4 Подготовка к УЗИ брюшной полости
        ol
            li
                | За 2-3 дня до обследования рекомендуется перейти на бесшлаковую диету, исключить из рациона продукты,
                | усиливающие газообразование в кишечнике (сырые овощи, богатые растительной клетчаткой, цельное молоко, черный
                | хлеб, бобовые, газированные напитки, а также высококалорийные кондитерские изделия - пирожные, торты). Накануне
                | исследования- легкий ужин не позднее 18 часов, исключая прием грубой трудно перевариваемой пищи;
            li
                | Пациентам, имеющим проблемы с ЖКТ (запоры) целесообразно в течение этого промежутка времени принимать
                | ферментные препараты и энтеросорбенты (например, фестал, мезим-форте, активированный уголь или эспумизан по 1
                | таблетке 3 раза в день), которые помогут уменьшить проявления метеоризма;
            li
                | УЗИ органов брюшной полости необходимо проводить натощак, если исследование невозможно провести утром,
                | допускается легкий завтрак, в день исследования не пить, не принимать пищу, лекарственные препараты;
            li Если Вы принимаете лекарственные средства, предупредите об этом врача УЗИ;
            li
                | Нельзя проводить исследование после гастро- и колоноскопии, а также R-исследований органов ЖКТ.
            li
                | При себе необходимо иметь сменную обувь, полотенце, направление, результаты предыдущих обследований.
        h4 Подготовка к УЗИ органов малого таза (мочевой пузырь, матка, придатки у женщин)
        ol
            li
                | накануне исследования – легкий ужин не позднее 19 часов;
            li
                | Исследование проводится при полном мочевом пузыре, поэтому необходимо не мочиться до исследования в течение
                | 3-4 часов и выпить 1 л негазированной жидкости за 1 час до процедуры.
            li
                | Для трансвагинального УЗИ (ТВС) специальная подготовка не требуется. В случае, если у пациента проблемы с
                | ЖКТ - необходимо провести очистительную клизму накануне вечером.
            li
                | При себе необходимо иметь сменную обувь, полотенце, направление, результаты предыдущих обследований
        h4 Подготовка к УЗИ мочевого пузыря и простаты у мужчин
        ol
            li
                | Исследование проводится при полном мочевом пузыре, поэтому необходимо не мочиться до исследования в течение
                | 3-4 часов и выпить 1 л негазированной жидкости за 1 час до процедуры.
            li
                | УЗИ предстательной железы проводится двумя методами:
                ul
                    li
                        b трансабдоминальным
                        | . Исследование проводится при полном мочевом пузыре, поэтому необходимо не мочиться до
                        |     исследования в течение 3 - 4 часов и выпить 1 л негазированной жидкости за 1 час до процедуры.
                    li
                        b трансректально (ТРУЗИ)
                        |  -данный метод должен быть основным при обследовании предстательной железы. Для ТРУЗИ
                        |     наполнения мочевого пузыря не требуется. Накануне исследования необходима очистительная клизма.
        h4 Подготовка к УЗИ молочных желез
        ol
            li
                | Исследование молочных желез желательно проводить в первые 5-10 дней менструального цикла (1 фаза цикла).
            li При себе необходимо иметь направление.
        h4 Подготовка к УЗИ поясничного отдела позвоночника
        ol
            li Исследование проводится строго натощак после 4-х часового голодания.
            li За 2 дня обеспечить бесшлаковую диету.
            li
                | Очистительная клизма накануне вечером и утром, непосредственно в день исследования.
        h4 УЗИ щитовидной железы, лимфатических узлов и почек
        ul
            li
                b
                    i не требуют специальной подготовки пациента.
