section.feedback
    .panel.panel-breadcrumbs
        +breadcrumbs()
    article.panel.panel--noMaxWidth
        h1.section-title Отзывы пациентов
        form.registration.registration-modal(method="post" action="#")
            h2 Ваш отзыв
            fieldset
                label.pure-material-textfield-outlined
                    input(placeholder="Ваша фамилия" type="text" name="feedback[surname]" required)
                    span Ваша фамилия
                label.pure-material-textfield-outlined
                    input(placeholder="Ваше имя" type="text" name="feedback[name]" required)
                    span Ваше имя 
                label.pure-material-textfield-outlined
                    input(placeholder="Ваша электронная почта" type="email" name="feedback[email]" required)
                    span Ваш Email
                label.pure-material-textfield-outlined
                    input(placeholder="Тема отзыва" type="text" name="feedback[subject]" required)
                    span Тема отзыва
                label.pure-material-textfield-outlined
                    textarea(placeholder="Текст отзыва" name="feedback[text]" required rows='10')
                    span Текст отзыва
            button.pure-material-button-contained(type="submit") Отправить
            .done
                h3 Спасибо за ваш отзыв
                a.pure-material-button-text(href="javascript:window.location.reload(true)") назад
            .progress
                progress.pure-material-progress-circular
        h2 Последние отзывы
        .feedback
            blockquote.feedback-block
                p
                    | "В предверии праздника - Дня медработника, хотим выразить благодарность и признательность фельдшеру Сухобалковского ФАПа КАЗАНИНОЙ ИРИНЕ ВАСИЛЬЕВНЕ за её профессионализм, добросовестность и внимательность, отзывчивость и терпение, ответственность за своё дело, доброжелательность и любовь к людям! 
                    | БОЛЬШОЕ СПАСИБО ей за золотые руки и доброе сердце, за её нелёгкий труд! 
                    | Мы хотим, чтобы администрация больницы зачитала благодарность и поощрила КАЗАНИНУ ИРИНУ ВАСИЛЬЕВНУ за каждодневный кропотливый труд. 
                    | А весь коллектив ЦРБ поздравляем с профессиональным праздником и желаем творческих успехов, личного счастья, здоровья , удачи и материального благополучия! 
                    | С уважением, жители хутора Сухая Балка."
                footer
                cite
                    span Галина
                    span.date 14.06.2018
            blockquote.feedback-block
                p
                    | &quot;Totam at eius excepturi deleniti sed, error repellat itaque omnis maiores tempora ratione dolor velit minus porro aspernatur repudiandae labore quas adipisci esse, nulla tempore voluptatibus cupiditate.&quot;
                footer
                    cite
                        span Melissa Washington

