section.gallery
    .panel.panel-breadcrumbs
        +breadcrumbs()
    article.panel.panel--noMaxWidth
        h1.section-title Галерея
        .gallery-wrap
            a(href='img/gallery/40746878.jpg')
                img(src='img/gallery/thumb/tn_40746878.jpg' alt='First image')
            a(href='img/gallery/112412883.jpg')
                img(src='img/gallery/thumb/tn_112412883.jpg' alt='Second image')
            a(href='img/gallery/168340098.jpg')
                img(src='img/gallery/thumb/tn_168340098.jpg' alt='First image')
            a(href='img/gallery/233496063.jpg')
                img(src='img/gallery/thumb/tn_233496063.jpg' alt='Second image')
            a(href='img/gallery/237922410.jpg')
                img(src='img/gallery/thumb/tn_237922410.jpg' alt='First image')
            a(href='img/gallery/237922410.jpg')
                img(src='img/gallery/thumb/tn_237922410.jpg' alt='Second image')
            a(href='img/gallery/401453987.jpg')
                img(src='img/gallery/thumb/tn_401453987.jpg' alt='First image')
            a(href='img/gallery/422967397.jpg')
                img(src='img/gallery/thumb/tn_422967397.jpg' alt='Second image')
            a(href='img/gallery/439761294.jpg')
                img(src='img/gallery/thumb/tn_439761294.jpg' alt='Second image')
            a(href='img/gallery/456319313.jpg')
                img(src='img/gallery/thumb/tn_456319313.jpg' alt='Second image')
            a(href='img/gallery/477104107.jpg')
                img(src='img/gallery/thumb/tn_477104107.jpg' alt='Second image')
            a(href='img/gallery/492559495.jpg')
                img(src='img/gallery/thumb/tn_492559495.jpg' alt='Second image')
            a(href='img/gallery/492572588.jpg')
                img(src='img/gallery/thumb/tn_492572588.jpg' alt='Second image')
            a(href='img/gallery/495786529.jpg')
                img(src='img/gallery/thumb/tn_495786529.jpg' alt='Second image')
            a(href='img/gallery/507281922.jpg')
                img(src='img/gallery/thumb/tn_507281922.jpg' alt='Second image')
            a(href='img/gallery/529073431.jpg')
                img(src='img/gallery/thumb/tn_529073431.jpg' alt='Second image')
            a(href='img/gallery/539865921.jpg')
                img(src='img/gallery/thumb/tn_539865921.jpg' alt='Second image')
            a(href='img/gallery/605783613.jpg')
                img(src='img/gallery/thumb/tn_605783613.jpg' alt='Second image')
            a(href='img/gallery/605807621.jpg')
                img(src='img/gallery/thumb/tn_605807621.jpg' alt='Second image')
            a(href='img/gallery/662101805.jpg')
                img(src='img/gallery/thumb/tn_662101805.jpg' alt='Second image')
            a(href='img/gallery/665053308.jpg')
                img(src='img/gallery/thumb/tn_665053308.jpg' alt='Second image')
            a(href='img/gallery/689417807.jpg')
                img(src='img/gallery/thumb/tn_689417807.jpg' alt='Second image')
            a(href='img/gallery/711062681.jpg')
                img(src='img/gallery/thumb/tn_711062681.jpg' alt='Second image')
            a(href='img/gallery/718966061.jpg')
                img(src='img/gallery/thumb/tn_718966061.jpg' alt='Second image')
            a(href='img/gallery/732920343.jpg')
                img(src='img/gallery/thumb/tn_732920343.jpg' alt='Second image')
            a(href='img/gallery/733884061.jpg')
                img(src='img/gallery/thumb/tn_733884061.jpg' alt='Second image')
            a(href='img/gallery/739379080.jpg')
                img(src='img/gallery/thumb/tn_739379080.jpg' alt='Second image')
            a(href='img/gallery/756393560.jpg')
                img(src='img/gallery/thumb/tn_756393560.jpg' alt='Second image')
            a(href='img/gallery/769088457.jpg')
                img(src='img/gallery/thumb/tn_769088457.jpg' alt='Second image')
            a(href='img/gallery/787161243.jpg')
                img(src='img/gallery/thumb/tn_787161243.jpg' alt='Second image')
            a(href='img/gallery/788660044.jpg')
                img(src='img/gallery/thumb/tn_788660044.jpg' alt='Second image')
            a(href='img/gallery/809107557.jpg')
                img(src='img/gallery/thumb/tn_809107557.jpg' alt='Second image')
            a(href='img/gallery/847642311.jpg')
                img(src='img/gallery/thumb/tn_847642311.jpg' alt='Second image')
            a(href='img/gallery/866950540.jpg')
                img(src='img/gallery/thumb/tn_866950540.jpg' alt='Second image')
            a(href='img/gallery/866972617.jpg')
                img(src='img/gallery/thumb/tn_866972617.jpg' alt='Second image')
            a(href='img/gallery/886821255.jpg')
                img(src='img/gallery/thumb/tn_886821255.jpg' alt='Second image')
            a(href='img/gallery/979246918.jpg')
                img(src='img/gallery/thumb/tn_979246918.jpg' alt='Second image')
            a(href='img/gallery/995327686.jpg')
                img(src='img/gallery/thumb/tn_995327686.jpg' alt='Second image')
