section.history
    .panel.panel-breadcrumbs
        +breadcrumbs()
    .container
        article.panel
            h1.section-title История Центральной районной больницы ст. Романовская
            p
                | В 
                i 1983
                |  году  на базе  Рябичевской больницы была создана 
                b Волгодонская центральная районная больница
                | . Главным врачом назначен 
                strong Каргальский Л.А.
                figure
                    img(src="img/clinic.jpg", alt="Гдавное здание")
            p
                | В состав ЦРБ вошли Романовская районная больница, районная СЭС, Романовские детские ясли, Прогрессовская врачебная амбулатория и 20 фельдшерско-акушерских пунктов, расположенных в хуторах и станицах.
            p
                | В 
                i сентябре 1989
                |  года Волгодонская ЦРБ  переведена из х. Рябичев в ст. Романовскую. Главным врачом был назначен 
                strong Текиев И.Б.
                | , проработавший в должности  пять лет.
            p
                | Для оказания медицинской помощи были открыты хирургическое, неврологическое, гинекологическое отделения.  В 
                i мае 2002
                |  года состоялось открытие нового трехэтажного здания поликлиники. Помимо новых кабинетов, медики получили новейшее оборудование.
            p
                | С 
                i августа 2004
                |  года коллектив МУЗ «ЦРБ» возглавил 
                strong Бачинский Владимир Юрьевич
                |  – врач высшей категории, отличник здравоохранения, проработавший в должности более 10 лет.
                | 		С 
                i апреля 2015
                |  года коллектив МУЗ «ЦРБ» возглавляет 
                strong Найденов Сергей Юрьевич
                |  – врач первой категории.
            p В настоящее время штат больницы составляет 340 человек. Из них:
            ul
                li
                    p
                        | врачи – 40 человек (3 человека имеют высшую квалификационную категорию, 12 человек- первую категорию, 4 человека - вторую категорию, 1 человек нагрудный знак «Отличнику здравоохранения»), 
                        strong 100% врачей имеют сертификаты.
                li
                    p
                        | средние медицинские работники – 144 человек ( 50 человек имеют высшую квалификационную категорию, 38 человек – первую категорию, 4 человека – вторую категорию, 2 человека – нагрудный знак « Отличнику здравоохранения»);
                li
                    p уровень сертификации средних медицинских работников 88,3%.
                li
                    p младший медперсонал – 78 человек.
            p
                | Здравоохранением района успешно реализуются основные направления приоритетного национального проекта «Здоровье»: совершенствуется оказание первичной медико-санитарной помощи, эффективно используется медицинское оборудование и санитарный транспорт, проводятся профилактические мероприятия ( диспансеризация детей первого года жизни, диспансеризация детей сирот и детей, оставшихся без попечения родителей,  дополнительная диспансеризация определенных групп взрослого населения,  выявление ВИЧ-инфицированных, больных и носителей гепатита В и С, иммунизация населения и т. д.)
            p
                | В МБУЗ «Центральная районная больница» Волгодонского района проводится постоянная работа по организации качественной медицинской помощи населению, увеличению ее доступности. В течение последних 5 лет в районе не регистрируются случаи материнской смертности, связанные с беременностью, родами и послеродовым периодом.
            p
                | Показатель младенческой смертности имеет устойчивую тенденцию к снижению с 16,8 в 2006 г. до 9,9 в 2014 г.  Вырос показатель рождаемости с 11,6 в 2006г. до 14,86 в 2014 г.  Снизился показатель общей смертности с 15,8 в 2006г. до 13,16 в 2014 г. Показатель естественной убыли снизился с -3,0 до  +1,7 в 2014 г.
            p
                | Проводятся мероприятия по улучшению материально-технической базы МБУЗ «Центральная районная больница» Волгодонского района. По  Программе модернизации здравоохранения для МБУЗ «ЦРБ» Волгодонского района  на выделенные из Федерального фонда ОМС средства в  2011-2012 гг было приобретено и  введено в эксплуатацию 136 единиц медицинского оборудования на общую сумму  
                i
                    strong 19584,0 тыс. рублей.
            p
                | Ежегодно проводится текущий ремонт подразделений больницы. Приобретается оборудование для улучшения материально-технической базы ФАПов. В  2011 году  приобретено 2 новых модульных ФАПа в х. Парамонов  и х. Ясырев, в 2012 году введены в эксплуатацию  еще 4 модульных ФАПа в поселках Мичуринский,  Солнечный, хуторах Лагутники и Холодном.
