section.roadmap
    .panel.panel-breadcrumbs
        +breadcrumbs()
    .container
        article.panel
            h1.section-title Дорожная карта
            p Постановление Администрации Волгодонского района от 10.04.2013 г № 342
                +filesLink('files/roadmap/combine_83200_865.pdf', 'file--pdf', 'Постановление Администрации Волгодонского района от 10.04.2013 г № 342', '( 0.2мб )') 
            p Приложение к постановлению:
                +filesLink('files/roadmap/dorozhnaja_karta_10.04.13.doc', 'file--doc', 'План мероприятий ("дорожная карта") «Изменения в отраслях социальной сферы,направленные на повышение эффективности здравоохранения в Волгодонском районе» ', '( 0.2мб )') 
            p Изменения к постановлению:
                +filesLink('files/roadmap/postanovlenie_administracii_volgodonskogo_rajona_6.pdf', 'file--pdf', 'Постановление Администрации Волгодонского района от 29.07.2014 г № 606 "О внесении изменений в Постановление Администрации Волгодонского района от 10.04.2013 г № 342"', '( 1.0мб )') 
                +filesLink('files/roadmap/postanovlenie_1238_administracii_volgodonskogo_raj.pdf', 'file--pdf', 'Постановление Администрации Волгодонского района от 29.12.2014 г № 1238 "О внесении изменений в Постановление Администрации Волгодонского района от 10.04.2013 г № 342"', '( 0.3мб )') 
                +filesLink('files/roadmap/volgodonskoj_rajon_vypolnenie_dorozhnoj_karty_2014.doc', 'file--doc', '«Изменения в отраслях социальной сферы, направленные на повышение эффективности здравоохранения в Волгодонском районе» " за 12 месяцев 2014 года.', '( 0.2мб )') 
                +filesLink('files/roadmap/vypolnenie_dorozhnoj_karty_2015_18.02.16.doc', 'file--doc', '«Изменения в отраслях социальной сферы, направленные на повышение эффективности здравоохранения в Волгодонском районе» " за 12 месяцев 2015 года.', '( 0.2мб )') 
                +filesLink('files/roadmap/vypolnenie_dorozhnoj_karty_2016_10.03.17.doc', 'file--doc', '«Изменения в отраслях социальной сферы, направленные на повышение эффективности здравоохранения в Волгодонском районе» " за 12 месяцев 2016 года.', '( 0.2мб )') 
                +filesLink('files/roadmap/dorozh_karta_vypolnenie_6_mes_2017_17.07.17.doc', 'file--doc', '«Изменения в отраслях социальной сферы, направленные на повышение эффективности здравоохранения в Волгодонском районе» " за 6 месяцев 2017 года.', '( 0.2мб )') 
                +filesLink('files/roadmap/dorozhnaja_karta_9_mes_2017_16.10.17.doc', 'file--doc', '«Изменения в отраслях социальной сферы, направленные на повышение эффективности здравоохранения в Волгодонском районе» " за 9 месяцев 2017 года.', '( 0.2мб )') 
                +filesLink('files/roadmap/dorozhnaja_karta_s_2017_16.01.18.doc', 'file--doc', '«Изменения в отраслях социальной сферы, направленные на повышение эффективности здравоохранения в Волгодонском районе» " за 12 месяцев 2017 года.', '( 0.2мб )') 