section.roadmap
    .container
    h1.section-title Дорожная карта
    p Приложение к постановлению:
        figure
            img(src="#", alt="alt")
            img(src="#", alt="#")
            figcaption Дорожная карта
        a(href="#") План мероприятий ("дорожная карта") «Изменения в отраслях социальной сферы,направленные на повышение эффективности здравоохранения в Волгодонском районе» "
    p Изменения к постановлению:
        a(href="#") Постановление Администрации Волгодонского района от 29.07.2014 г № 606 "О внесении изменений в Постановление Администрации Волгодонского района от 10.04.2013 г № 342"
        a(href="#") Постановление Администрации Волгодонского района от 29.12.2014 г № 1238 "О внесении изменений в Постановление Администрации Волгодонского района от 10.04.2013 г № 342"
        a(href="#") Выполнение целевых показателей структурных преобразований системы оказания медицинской помощи жителям Волгодонского района ("дорожная карта") «Изменения в отраслях социальной сферы, направленные на повышение эффективности здравоохранения в Волгодонском районе» " за 12 месяцев 2014 года.
        a(href="#") Выполнение целевых показателей структурных преобразований системы оказания медицинской помощи жителям Волгодонского района ("дорожная карта") «Изменения в отраслях социальной сферы, направленные на повышение эффективности здравоохранения в Волгодонском районе» " за 12 месяцев 2015 года.
        a(href="#") Выполнение целевых показателей структурных преобразований системы оказания медицинской помощи жителям Волгодонского района ("дорожная карта") «Изменения в отраслях социальной сферы, направленные на повышение эффективности здравоохранения в Волгодонском районе» " за 12 месяцев 2016 года.
        a(href="#") Выполнение целевых показателей структурных преобразований системы оказания медицинской помощи жителям Волгодонского района ("дорожная карта") «Изменения в отраслях социальной сферы, направленные на повышение эффективности здравоохранения в Волгодонском районе» " за 6 месяцев 2017 года.
        a(href="#") Выполнение целевых показателей структурных преобразований системы оказания медицинской помощи жителям Волгодонского района ("дорожная карта") «Изменения в отраслях социальной сферы, направленные на повышение эффективности здравоохранения в Волгодонском районе» " за 9 месяцев 2017 года.
        a(href="#") Выполнение целевых показателей структурных преобразований системы оказания медицинской помощи жителям Волгодонского района ("дорожная карта") «Изменения в отраслях социальной сферы, направленные на повышение эффективности здравоохранения в Волгодонском районе» " за 12 месяцев 2017 года.