section.vacansion
    .container
        h1.section-title Вакансии
        h3 Вакансии по специальностям врачей на 2018 год:
        ul
            li 
                p Педиатр участковый - 2 ставки
            li 
                p Эндокринолог - 1 ставка
            li 
                p Онколог - 1 ставка
            li 
                p Эндоскопист - 1 ставка
            li 
                p Кардиолог - 1 ставка
            li 
                p Оториноларинголог - 1 ставка (на время декретного отпуска)
            li 
                p Терапевт участковый – 2 ставки (на время декретного отпуска)
            li 
                p Невролог – 2 ставки
        h3 Вакансии по специальностям средних медицинских работников на 2018 год:
        ul
            li 
                p Медицинский статистик - 1 ставка
            li 
                p Операционная медицинская сестра - 1 ставка
            li 
                p Медицинская сестра ФАП х.Пирожок - 0,5 ставки;
            li 
                p Медицинская сестра ФАП х.Мичуринский - 0,5 ставки
            li 
                p Лаборант - 2 ставки
            li 
                p Медицинская сестра (в детский сад) - 1 ставка
            li 
                p Фельдшер, заведующий ФАП х.Мокросоленый- 1 ставка
            li 
                p Медицинская сестра по физиотерапии - 1 ставка
            li 
                p Медицинская сестра в хирургическое отделение - 2 ставки (1 ставки на время декретного отпуска)
            li 
                p Фельдшер, заведующий ФАП х.Калинин - 1 ставка
            li 
                p Фельдшер, заведующий ФАП х.Потапов  - 1 ставка
            li 
                p Фельдшер, заведующий ФАП х.Степной  - 1 ставка (на время декретного отпуска)
            li 
                p Фельдшер, заведующий ФАП п.Виноградный  - 0,5 ставки
        h3 Вакансии по младшему медицинскому персоналу на 2018 год:
        ul
            li 
                p Отсутствуют
        h3 Вакансии по прочим специальностям на 2018 год:
        ul
            li 
                p Механик  - 1 ставка
            li 
                p Водитель  - 2 ставки
        p По всем вопросам трудоустройства обращаться в приемную главного врача по телефону 
            a(href="tel:88639470614") 8(86394) 7-06-14 
            | либо в отдел кадров по телефону 
            a(href="tel:88639470741") 8(86394)7-07-41