.content
	canvas.snow#snow
	.main-text
		h1 Упс
			br
			| Такой страницы не существует
		a.home-link(href='index.html') Давайте вернемся на главную страницу
	.ground
		.mound 
			.mound_text 404
			.mound_spade
