.container-deer
	.artboard
		.deer
			.rocking
				.head
					.horns
						.horn.horn-left
							.line.line-one
							.line
							.line.line-three
						.horn.horn-right
							.line.line-one
							.line
							.line.line-three
					.ears
						.ear.ear-left
						.ear.ear-right
					.eyes
						.eye.eye-left
						.eye.eye-right
					.nose
				.body
					.shadow
					.hooves
						.hoof-one
							.line
							.anim-part
								.circle
									.circle
										.circle
											.circle
												.circle.circle-last
						.hoof-two
							.line-one
							.line-two
				.tail
					.circle
						.circle
							.circle
								.circle
									.circle
			.legs
				.leg-left
					.anim-part
						.line
				.leg-right
					.anim-part
						.circle
							.circle
								.circle
									.circle
										.circle
											.circle
												.circle
													.circle
														.circle.circle-last
		.presents
			.present.present-one
			.present.present-two
			.present.present-two.present-two-right
			.present.present-three
		.snow
		- for (var i = 1; i < 100; i++)
			.snowflake
