section.licence
    .container
        h1.section-title Лицензии и документы
        h3  Лицензии
        .file-wrap
            +filesLink('files/licence/licenzija_16.02.2018g.pdf', 'file--pdf', 'Лицензия на медицинскую деятельность', '( 14мб )')
            +filesLink('files/licence/licenzija_na_farmacevticheskuju_dejatelnost.pdf', 'file--pdf', 'Лицензия на фармацевтическую деятельность', '( 5.4мб )')
        h3 Документы
        .file-wrap
            +filesLink('files/licence/docs/27166672.jpg', 'file--jpg', 'Свидетельство о постановке на учет российской организации в налоговом органе по месту нахождения на территории Российской Федерации', '( 0.2мб )')
            +filesLink('files/licence/docs/58436647.jpg', 'file--jpg', 'Свидетельство o внесении в Единый государственный реестр юридических лиц', '( 0.2мб )')
            +filesLink('files/licence/docs/ustav.pdf', 'file--pdf', 'Устав МБУЗ "ЦРБ"', '( 2.1мб )')
            +filesLink('files/licence/docs/struktura.pdf', 'file--pdf', 'Структура МБУЗ "ЦРБ"', '( 0.4мб )')
            +filesLink('files/licence/docs/reglaments/reglament_stacionarnaja_pomoshh.doc', 'file--doc', 'Оказание стационарной медицинской помощи; ', '( 0.5мб )')
            +filesLink('files/licence/docs/reglaments/reglament_dnevnoj_stacionar.doc', 'file--doc', 'Оказание медицинской помощи в дневных стационарах', '( 0.5мб )')
            +filesLink('files/licence/docs/reglaments/reglament_poliklinaka.doc', 'file--doc', 'Оказание амбулаторно-поликлинической помощи', '( 14мб )')
            +filesLink('files/licence/docs/reglaments/reglament_skoraja_pomoshh.doc', 'file--doc', 'Оказание скорой медицинской помощи', '( 14мб )')
            +filesLink('files/licence/docs/reglaments/reglament_platnye_uslugi.doc', 'file--doc', 'Оказание платных медицинских услуг', '( 14мб )')
            +filesLink('files/licence/docs/reglaments/reglament_obrashhenija_grazhdan.doc', 'file--doc', 'Рассмотрение обращений граждан', '( 14мб )')
            +filesLink('files/licence/docs/reglaments/reglament_priem_zajavok-zapis-na_priem_k_vrachu.doc', 'file--doc', 'Прием заявок (запись) на прием к врачу', '( 14мб )')
            +filesLink('files/licence/docs/reglaments/reglament_ehlektronnye_recepty.doc', 'file--doc', 'Заполнение и направление в аптеки электронных рецептов', '( 14мб )')
            +filesLink('files/licence/docs/reglaments/reglament_vydacha_napravlenij_na_msehk.doc', 'file--doc', 'Выдача направлений гражданам на прохождение медико-социальной экспертизы', '( 14мб )')
            +filesLink('files/licence/docs/reglaments/reglamentokazanie_dovrachebnoj_medicinskoj_pomoshh.doc', 'file--doc', 'Оказание доврачебной медицинской помощи на ФАПах', '( 14мб )')
            +filesLink('files/licence/docs/politika.doc', 'file--doc', 'Политика конфиденциальности', '( 0.1мб )')