section.links
    .container
        .links-info
            h1.links-info__title Полезные ссылки
        ul.links-list
            li.links-list__item
                a.link-list__item-link(href="#") Страховые организации
            li.links-list__item
                a.link-list__item-link(href="#") Памятка гражданам
            li.links-list__item
                a.link-list__item-link(href="#") Памятка застрахованному
            li.links-list__item
                a.link-list__item-link(href="#") Минздрав России
            li.links-list__item
                a.link-list__item-link(href="#") ФОМС
            li.links-list__item
                a.link-list__item-link(href="#") Минздрав области 
            li.links-list__item
                a.link-list__item-link(href="#")  Росздравнадзор
            li.links-list__item
                a.link-list__item-link(href="#") Противодействие коррупции
