section.links
    .container
        .links-info
            h1.links-info__title Полезные ссылки
        ul.links-list
            +linksItem('#', 'Страховые организации')
            +linksItem('#', 'Памятка гражданам')
            +linksItem('#', 'Памятка застрахованному')
            +linksItem('#', 'Минздрав России')
            +linksItem('#', 'ФОМС')
            +linksItem('#', 'Минздрав области')
            +linksItem('#', 'Росздравнадзор')
            +linksItem('#', 'Противодействие коррупции')