section.map
    .container
        .map-wrapper
            .map-container
                #map
            .map-info
                span.map-info__title Муниципальное бюджетное учреждение здравоохранения<br>Центральная районная больница<br>Волгодонского района Ростовской области
                a(href="#").map-info__adress Ростовская область, Волгодонской район, ст-ца Романовская, пер.Союзный 97 а
                a(href="tel:88639470141").map-info__tel 8 (86394) 7-01-41
                a(href="mailto:ardo0707@yandex.ru").map-info__mail ardo0707@yandex.ru

