section.map
    .container
        .map-wrapper
            .map-container
                #map
            .map-info
                span.map-info__title Муниципальное бюджетное учреждение здравоохранения<br>Центральная районная больница<br>Волгодонского района Ростовской области
                .map-info__adress
                    +icon('menu--geo')
                    a(href="#") РО, ст-ца Романовская, пер.Союзный 97 а
                .map-info__tel
                    +icon('phone-symbol')
                    a(href="tel:88639470141") 8 (86394) 7-01-41
                .map-info__mail
                    +icon('email')
                    a(href="mailto:ardo0707@yandex.ru") ardo0707@yandex.ru

