section.news
    .container
        .news-info
            h2.news-info__title Новости
            a.news-info__button.btn.btn--min(href="#") Все новости
        .news-items
            article.news-items__item
                a.news-items__item-more(href="#")
                    +icon('right-arrow')
                span.news-items__item-date 22.10.2017
                span.news-items__item-title Lorem ipsum dolor sit amet
                p.news-items__item-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus vero, tempore consectetur maxime quibusdam iusto!
            article.news-items__item
                a.news-items__item-more(href="#")
                    +icon('right-arrow')
                span.news-items__item-date 22.10.2017
                span.news-items__item-title Lorem ipsum dolor sit amet
                p.news-items__item-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus vero, tempore consectetur maxime quibusdam iusto!
            article.news-items__item
                a.news-items__item-more(href="#")
                    +icon('right-arrow')
                span.news-items__item-date 22.10.2017
                span.news-items__item-title Lorem ipsum dolor sit amet
                p.news-items__item-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus vero, tempore consectetur maxime quibusdam iusto!
