section.news
    .container
        .news-info
            h2.news-info__title Новости
            a.news-info__button.btn.btn--min(href="#") Все новости
        .news__list
            +newsItem('22', 'марта', 'Lorem ipsum dolor sit amet', 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus vero, tempore consectetur maxime quibusdam iusto!')
            +newsItem('23', 'октября', 'Lorem ipsum dolor sit amet', 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus vero, tempore consectetur maxime quibusdam iusto!')
            +newsItem('4', 'февраля', 'Lorem ipsum dolor sit amet', 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus vero, tempore consectetur maxime quibusdam iusto!')