section.organizations
    .container
        +mainSectionTitle('Вышестоящие ', 'организации')
        .organizations-wrap
            .organizations-items
                //- +organizationsItem('http://www.minzdrav.donland.ru', 'mzro', 'МЗРО', 'Министерство здравоохранения Ростовской области')
                //- +organizationsItem('http://www.miacrost.ru', 'miac', 'МЗРО', 'Медицинский информационно-аналитический центр')
                //- +organizationsItem('http://www.rostov-tfoms.ru', 'rofoms2', 'МЗРО', 'Территориальный фонд обязательного медицинского страхования Ростовской области')
                //- +organizationsItem('http://www.volgodonskoiraion.ru', 'administracija', 'МЗРО', 'Администрация Волгодонского района Ростовской области')
                //- +organizationsItem('http://www.61reg.roszdravnadzor.ru', 'roszdravnadzor', 'МЗРО', 'Федеральная служба по надзору в сфере здравоохранения. Территориальный орган Росздравнадзора по Ростовской области.')
                //- +organizationsItem('http://www.61.rospotrebnadzor.ru', 'rospotrebnadzor', 'МЗРО', 'Управление федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека по Ростовской области')
                .blog-slider
                    .blog-slider__wrp.swiper-wrapper
                        .blog-slider__item.swiper-slide
                            .blog-slider__img
                                img.img-responsive(src="img/organizations/rofoms2.jpg" alt="Территориальный фонд обязательного медицинского страхования Ростовской области")
                            .blog-slider__content
                                span.blog-slider__code 344000 г. Ростов-на Дону Ул. Варфоломеева, 261/81
                                .blog-slider__title Территориальный фонд обязательного медицинского страхования Ростовской области
                                .blog-slider__text
                                    | Директор ТФОМС : Решетников Алексей Валентинович.
                                    | Телефон приемной: 8-(863) 234-90-22
                                a.btn(href="www.rostov-tfoms.ru") Переход на сайт
                        .blog-slider__item.swiper-slide
                            .blog-slider__img
                                img(src="img/organizations/mzro.jpg" alt="Министерство здравоохранения Ростовской области")
                            .blog-slider__content
                                span.blog-slider__code 344029 г. Ростов-на Дону Ул. 1-ой Конной Армии,33
                                .blog-slider__title Министерство здравоохранения Ростовской области
                                .blog-slider__text
                                    | Министр здравоохранения: Быковская Татьяна Юрьевна.
                                    | Телефон приемной - 8-(863) 242-30-96
                                a.btn(href="www.minzdrav.donland.ru") Переход на сайт
                        .blog-slider__item.swiper-slide
                            .blog-slider__img
                                img(src="img/organizations/administracija.jpg" alt="Администрация Волгодонского района")
                            .blog-slider__content
                                span.blog-slider__code 347350, Ростовская область Волгодонской район ст.Романовская ул.Почтовая 13
                                .blog-slider__title Администрация Волгодонского района
                                .blog-slider__text
                                    | Глава района: Мельников Виктор Павлович.
                                    | Телефон приемной: 8-(86394) 7-01-30
                                a.btn(href="www.volgodonskoiraion.ru") Переход на сайт
                        .blog-slider__item.swiper-slide
                            .blog-slider__img
                                img(src="img/organizations/miac.jpg" alt="Администрация Волгодонского района")
                            .blog-slider__content
                                span.blog-slider__code 344029 г. Ростов-на Дону пр.Сельмаш, 14
                                .blog-slider__title ГБУ РО "Медицинский информационно-аналитический центр"
                                .blog-slider__text
                                    | Начальник: Бекетов Анатолий Павлович.
                                    | Телефон приемной: 8- (863) 252-21-03
                                a.btn(href="www.miacrost.ru") Переход на сайт
                        .blog-slider__item.swiper-slide
                            .blog-slider__img
                                img(src="img/organizations/rospotrebnadzor.jpg" alt="Администрация Волгодонского района")
                            .blog-slider__content
                                span.blog-slider__code 344019 г. Ростов-на Дону ул. 18 линия, 17
                                .blog-slider__title Управление федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека по РО
                                .blog-slider__text
                                    | Руководитель: Соловьев Михаил Юрьевич.
                                    | Телефон приемной : +7 (863) 251-05-92
                                a.btn(href="www.61.rospotrebnadzor.ru") Переход на сайт
                        .blog-slider__item.swiper-slide
                            .blog-slider__img
                                img(src="img/organizations/roszdravnadzor.jpg" alt="Администрация Волгодонского района")
                            .blog-slider__content
                                span.blog-slider__code 344037 г. Ростов-на-Дону, ул.Ченцова 71/63 "б"
                                .blog-slider__title Федеральная служба по надзору в сфере здравоохранения. Территориальный орган Росздравнадзора по РО.
                                .blog-slider__text
                                    | Руководитель: Трепель Вартан Григорьевич.
                                    | Телефон приемной: +7 (863) 286-98-16
                                a.btn(href="http://61reg.roszdravnadzor.ru") Переход на сайт
                    .blog-slider__pagination