section.organizations
    .container
        
        .organizations-items
            .icon-box-wrapper
                    .col.span_4.icon-box.column.zap_mobile
                        a(href="javascript:void(0);")
                            .icon-box-svg
                                
                            .icon-box__title
                                | Администрация Волгодонского района
                            .icon-box_content
                                p
                                    | Ростовская область Волгодонской район ст.Романовская ул.Почтовая 13
                    .col.span_4.icon-box.column
                        a(href="javascript:void(0);")
                            .icon-box-svg
                                svg#Layer_1(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewbox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve")
                                    path(style="fill:rgba(50, 195, 161, 1);" d="M80.408,464.663c-3.653,0-7.34-0.796-10.812-2.429c-9.422-4.43-15.116-14.006-14.508-24.401  l3.266-55.782H33.326C14.95,382.051,0,367.102,0,348.725V167.088c0-18.377,14.95-33.326,33.326-33.326h283.892  c18.377,0,33.326,14.95,33.326,33.326v181.637c0,18.376-14.95,33.326-33.326,33.326H285.82c-7.631,0-13.817-6.186-13.817-13.817  s6.186-13.817,13.817-13.817h31.399c3.139,0,5.693-2.553,5.693-5.693V167.088c0-3.139-2.553-5.693-5.693-5.693H33.326  c-3.138,0-5.693,2.553-5.693,5.693v181.637c0,3.138,2.553,5.693,5.693,5.693h39.678c3.804,0,7.44,1.568,10.052,4.337  c2.61,2.768,3.964,6.49,3.742,10.288l-3.786,64.655l81.054-75.569c2.559-2.385,5.925-3.711,9.422-3.711h48.656  c7.631,0,13.817,6.186,13.817,13.817s-6.186,13.817-13.817,13.817h-43.215L97.64,457.839  C92.833,462.322,86.669,464.663,80.408,464.663z")
                                    path(style="fill:rgba(50, 195, 161, 1);" d="M478.674,61.153H194.781c-10.774,0-19.51,8.735-19.51,19.509v66.918h141.947  c10.774,0,19.509,8.735,19.509,19.51v114.719h1.784l85.268,79.497c7.595,7.081,19.945,1.275,19.338-9.092l-4.123-70.407h39.678  c10.774,0,19.509-8.735,19.509-19.509V80.662C498.183,69.887,489.448,61.153,478.674,61.153z")
                                    g
                                        path(style="fill:rgba(50, 195, 161, 1);" d="M431.548,378.242c-6.361,0-12.464-2.425-17.19-6.83l-82.07-76.515   c-5.452-1.849-9.378-7.011-9.378-13.089V167.089c0-3.138-2.553-5.693-5.693-5.693H175.272c-7.631,0-13.817-6.186-13.817-13.817   V80.662c0-18.377,14.95-33.326,33.326-33.326h283.892c18.376,0,33.326,14.95,33.326,33.326v181.637   c0,18.376-14.95,33.326-33.326,33.326h-25.029l3.266,55.782c0.413,7.054-1.995,13.733-6.781,18.808   C445.319,375.316,438.546,378.242,431.548,378.242z M350.545,274.137l78.443,73.133l-3.786-64.654   c-0.222-3.798,1.132-7.519,3.742-10.288c2.611-2.768,6.247-4.337,10.052-4.337h39.678c3.138,0,5.693-2.553,5.693-5.693V80.662   c0-3.138-2.553-5.693-5.693-5.693H194.781c-3.139,0-5.693,2.553-5.693,5.693v53.101h128.13c18.376,0,33.326,14.95,33.326,33.326   v107.048H350.545z")
                                        path(style="fill:rgba(50, 195, 161, 1);" d="M256,240.424H90.197c-7.631,0-13.817-6.186-13.817-13.817s6.186-13.817,13.817-13.817H256   c7.631,0,13.817,6.186,13.817,13.817S263.631,240.424,256,240.424z")
                                        path(style="fill:rgba(50, 195, 161, 1);" d="M234.122,311.272H112.073c-7.631,0-13.817-6.186-13.817-13.817c0-7.631,6.186-13.817,13.817-13.817   h122.049c7.631,0,13.817,6.186,13.817,13.817C247.939,305.086,241.753,311.272,234.122,311.272z")
                            .icon-box__title
                                | Отзывы
                            .icon-box_content
                                p
                                    | Вы можете помочь нам стать лучше, если оставите свой отзыв или жалобу
                    .col.span_4.icon-box.column
                        a(href="#")
                            .icon-box-svg
                                svg#Layer_1(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewbox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve")
                                    g
                                        path(style="fill:rgba(50, 195, 161, 1);" d="M344.515,501.666H43.519C19.523,501.666,0,482.143,0,458.145V154.199   c0-23.997,19.523-43.519,43.519-43.519h144.202c7.907,0,14.317,6.411,14.317,14.317s-6.41,14.317-14.317,14.317H43.519   c-8.209,0-14.886,6.679-14.886,14.886v303.948c0,8.208,6.679,14.886,14.886,14.886h300.995c7.906,0,14.317,6.411,14.317,14.317   S352.422,501.666,344.515,501.666z")
                                        path(style="fill:rgba(50, 195, 161, 1);" d="M468.481,501.666h-53.686c-7.906,0-14.317-6.411-14.317-14.317s6.411-14.317,14.317-14.317h53.686   c8.208,0,14.886-6.679,14.886-14.886V154.199c0-8.208-6.679-14.886-14.886-14.886H324.279c-7.906,0-14.317-6.411-14.317-14.317   s6.411-14.317,14.317-14.317h144.202c23.997,0,43.52,19.523,43.52,43.519v303.948C512,482.143,492.478,501.666,468.481,501.666z")
                                        path(style="fill:rgba(50, 195, 161, 1);" d="M270.865,249.988h-29.728c-23.297,0-42.252-18.954-42.252-42.251v-63.953h-1.707   c-10.053,0-19.123-5.569-23.671-14.534s-3.685-19.574,2.253-27.685L234.582,21.2c4.979-6.803,12.987-10.866,21.418-10.866   s16.438,4.062,21.419,10.865l58.822,80.366c5.937,8.11,6.802,18.719,2.253,27.685c-4.548,8.965-13.619,14.534-23.671,14.534h-1.708   v63.953C313.114,231.035,294.161,249.988,270.865,249.988z M201.296,115.151h11.903c7.907,0,14.317,6.411,14.317,14.317v78.27   c0,7.509,6.11,13.618,13.619,13.618h29.728c7.509,0,13.618-6.109,13.618-13.618v-78.27c0-7.906,6.411-14.317,14.317-14.317h11.903   L256,40.416L201.296,115.151z")
                                    path(style="fill:rgba(50, 195, 161, 1);" d="M465.068,129.685H298.799v78.052c0,15.428-12.507,27.934-27.934,27.934h-29.728  c-15.428,0-27.934-12.507-27.934-27.934v-78.052H46.931c-24.44,0-34.918,31.027-15.485,45.844L240.514,334.94  c9.145,6.974,21.823,6.974,30.968,0l209.067-159.41C499.987,160.712,489.507,129.685,465.068,129.685z")
                                    path(style="fill:rgba(50, 195, 161, 1);" d="M256,354.486c-8.68,0-17.261-2.898-24.163-8.16L22.766,186.914  C8.949,176.38,3.612,158.934,9.173,142.47s20.381-27.103,37.76-27.103h166.27c7.907,0,14.317,6.411,14.317,14.317v78.052  c0,7.509,6.109,13.619,13.618,13.619h29.728c7.509,0,13.618-6.11,13.618-13.619v-78.051c0-7.906,6.411-14.317,14.317-14.317h166.27  c17.377,0,32.199,10.639,37.76,27.103c5.559,16.464,0.222,33.91-13.596,44.444l-209.07,159.411  C273.263,351.589,264.679,354.486,256,354.486z M46.933,144.002c-7.473,0-10.026,5.841-10.631,7.631  c-0.606,1.79-2.116,7.983,3.827,12.513l209.069,159.412c1.971,1.503,4.324,2.296,6.803,2.296c2.478,0,4.832-0.795,6.803-2.296  l209.068-159.412c5.943-4.531,4.434-10.723,3.828-12.513c-0.604-1.79-3.158-7.631-10.631-7.631H313.114v63.736  c0,23.297-18.954,42.252-42.251,42.252h-29.728c-23.297,0-42.251-18.954-42.251-42.252v-63.736L46.933,144.002L46.933,144.002z")
                            .icon-box__title
                                | Задать вопрос
                            .icon-box_content
                                p
                                    | Ответим на любой вопрос, касающийся деятельности нашего учреждения
        .organizations-title
            .index-usl-title.column
                h2 Cервисы
                p
                    | Электронные сервисы открывают возможность к быстрому и удобному способу получения необходимой услуги или информации без очередей и ожидания
        
        
