section.organizations
    .container
        .organizations-wrap
            .organizations-items
                //- +organizationsItem('http://www.minzdrav.donland.ru', 'mzro', 'МЗРО', 'Министерство здравоохранения Ростовской области')
                //- +organizationsItem('http://www.miacrost.ru', 'miac', 'МЗРО', 'Медицинский информационно-аналитический центр')
                +organizationsItem('http://www.rostov-tfoms.ru', 'rofoms2', 'МЗРО', 'Территориальный фонд обязательного медицинского страхования Ростовской области')
                +organizationsItem('http://www.volgodonskoiraion.ru', 'administracija', 'МЗРО', 'Администрация Волгодонского района Ростовской области')
                +organizationsItem('http://www.61reg.roszdravnadzor.ru', 'roszdravnadzor', 'МЗРО', 'Федеральная служба по надзору в сфере здравоохранения. Территориальный орган Росздравнадзора по Ростовской области.')
                //- +organizationsItem('http://www.61.rospotrebnadzor.ru', 'rospotrebnadzor', 'МЗРО', 'Управление федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека по Ростовской области')
            .organizations-info
                .organizations-info__item.item-info
                    h2.item-info__title Организации
                    p.item-info__text
                        | Вышестоящих медицинских организации Волгодонского района Ростовской области
            
        
