section.organizations
    .container
        .organizations-info
            h1.organizations-info__title Вышестоящие организации
        .organizations-slider.glide
            .glide__track(data-glide-el="track")
                ul.glide__slides
                    li.glide__slide
                        img(src="https://picsum.photos/200/175/?image=46", alt="h")
                    li.glide__slide
                        img(src="https://picsum.photos/200/175/?image=1", alt="h")
                    li.glide__slide
                        img(src="https://picsum.photos/200/175/?image=3", alt="h")
                    li.glide__slide
                        img(src="https://picsum.photos/200/175/?image=4", alt="h")
                    li.glide__slide
                        img(src="https://picsum.photos/200/175/?image=2", alt="h")
                    li.glide__slide
                        img(src="https://picsum.photos/200/175/?image=9", alt="h")
            .glide__bullets(data-glide-el="controls[nav]")
                button.glide__bullet(data-glide-dir="=0")
                button.glide__bullet(data-glide-dir="=1")
                button.glide__bullet(data-glide-dir="=2")
                button.glide__bullet(data-glide-dir="=3")
                button.glide__bullet(data-glide-dir="=4")
                button.glide__bullet(data-glide-dir="=5")
