//- quick-menu
.link
	ul.link-list
		li
			a(href="/experts/")
				div
					span Информация
		li
			a(href="/specialists/")
				div
					span Работники
		li
			a(href="/medicament/")
				div
					span Лекарственное
		li
			a(href="/control/")
				div
					span Вышестоящие
		li
			a(href="/documents/")
				div
					span Документы
//- END quick-menu