//- quick-menu
section.service
	.container
		.service-item__wrapper
			+serviceItem('#', 'file', 'Лицензия и документы')
			+serviceItem('#', 'time', 'График приема врачей')
			+serviceItem('#', 'card', 'Платные услуги')
			+serviceItem('#', 'structure', 'Структура организации')
			+serviceItem('#', 'questions', 'Вопрос-ответ')
			+serviceItem('#', 'catalog', 'Каталог файлов')
			+serviceItem('#', 'feedback', 'Оставить отзыв')
			+serviceItem('#', 'adress', 'Контакты')
//- END quick-menu