//- quick-menu
section.quick
	.container
		.quick-item__wrapper
			+quickItem('licence.html', 'file', 'Лицензия и документы')
			+quickItem('#', 'time', 'График приема врачей')
			+quickItem('#', 'card', 'Платные услуги')
			+quickItem('#', 'structure', 'Структура организации')
			+quickItem('#', 'questions', 'Вопрос-ответ')
			+quickItem('#', 'catalog', 'Каталог файлов')
			+quickItem('#', 'feedback', 'Оставить отзыв')
			+quickItem('#', 'adress', 'Контакты')
//- END quick-menu