//- quick-menu
section.quick
	.container
		.quick-item__wrapper
			+quickItem('licence.html', 'file', 'Лицензия и документы')
			+quickItem('doctorsShedule.html', 'time', 'График приема врачей')
			+quickItem('payOrders.html', 'card', 'Платные услуги')
			+quickItem('#', 'structure', 'Галерея')
			+quickItem('#', 'questions', 'Вопрос-ответ')
			+quickItem('files.html', 'catalog', 'Каталог файлов')
			+quickItem('#', 'feedback', 'Отзывы')
			+quickItem('articles.html', 'adress', 'Полезные статьи')
//- END quick-menu