section.services
    .services-wrap
        .services-info
            .services-info__item.item-info
                h2.item-info__title Cервисы
                p.item-info__text
                    | Электронные сервисы открывают возможность к быстрому и удобному способу получения необходимой услуги или информации без очередей и ожидания
        .services-items
            +servicesItem('javascript:void(0);', 'admission_ ', 'Записаться', 'Запишитесь на прием к врачу с помощью интернет портала без очередей')
            +servicesItem('javascript:void(0);', 'feedback ', 'Отзывы', 'Вы можете помочь нам стать лучше, если оставите свой отзыв или жалобу')
            +servicesItem('javascript:void(0);', 'question ', 'Задать вопрос', 'Ответим на любой вопрос, касающийся деятельности нашего учреждения')