.panel
    .sitemap
        .sitemap-list__item.sitemap-list__item--home
            a(href="http://sitetitle.com") Home
    ul.sitemap-list
        li.sitemap__item
            a(href="/about") About Us
            ul.sitemap-list--lvl1
                li
                    a(href="/history") Our History
                li
                    a(href="/mission") Mission Statement
                li
                    a(href="/principals") Principals Principals
        li.sitemap__item
            a(href="/services") Services
            ul.sitemap-list--lvl1
                li
                    a(href="/services/design") Graphic Design Graphic Design
                li
                    a(href="/services/development") Web Development Web Development Web Development
                li
                    a(href="/services/marketing") I nternet Marketing ntern  I nternet Marketing ntern Marketing
                li.item-with__child
                    a(href="/services/copywriting") Copywriting
                    ul.sitemap-list--lvl2
                        li
                            a(href="/services/design") Graphic Design
                        li
                            a(href="/services/development") Web Development
                        li
                            a(href="/services/marketing") Internet Marketing

                        li
                            a(href="/services/photography") Photography
        li.sitemap__item
            a(href="/services") Services
            ul.sitemap-list--lvl1
                li
                    a(href="/services/design") Graphic Design
                li
                    a(href="/services/development") Web Development
                li
                    a(href="/services/marketing") Internet Marketing
                li
                    a(href="/services/copywriting") Copywriting
                li
                    a(href="/services/photography") Photography
        li.sitemap__item
            a(href="/services") Services
            ul.sitemap-list--lvl1
                li
                    a(href="/services/design") Graphic Design
                li
                    a(href="/services/development") Web Development
                li
                    a(href="/services/marketing") Internet Marketing
                li
                    a(href="/services/copywriting") Copywriting
                li
                    a(href="/services/photography") Photography
        li.sitemap__item
            a(href="/projects") Projects
            ul.sitemap-list--lvl1
                li
                    a(href="/projects/finance") Finance
                li
                    a(href="/projects/medical") Medical
                li
                    a(href="/projects/education") Education
                li
                    a(href="/projects/professional") Professional
                li
                    a(href="/projects/industrial") Industrial
                li
                    a(href="/projects/commercial") Commercial
                li
                    a(href="/projects/energy") Energy
                li
                    a(href="/projects/commercial") Commercial
                li
                    a(href="/projects/energy") Energy
                li
                    a(href="/projects/commercial") Commercial
                li
                    a(href="/projects/energy") Energy
