section.slider
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.slider-slide
					.slider-slide__info.slider-info
						h1.slider-info__title Центральная районная больница 
						p.slider-info__text
							| Муниципальное бюджетное учреждение здравоохранения<br>Волгодонского района Ростовской области
						a.btn.btn--slider-btn(href="#") Записаться на прием
