section.slider
    .container
        .shal
        .js-glide
            .glide
                .glide__track(data-glide-el="track")
                    ul.glide__slides
                        li.glide__slide
                            img(src="https://picsum.photos/1920/710/?image=946", alt="h")
                        li.glide__slide
                            img(src="https://picsum.photos/1920/710/?image=862", alt="h")
                        li.glide__slide
                            img(src="https://picsum.photos/1920/710/?image=739", alt="h")
                .glide__arrows(data-glide-el="controls")
                    button.glide__arrow.glide__arrow--left(data-glide-dir="<") prev
                    button.glide__arrow.glide__arrow--right(data-glide-dir=">") next