section.sliderArticles
  +mainSectionTitle('Последние ', 'статьи ')
  .container
    .blind-newsItem__wrap.js-sliderNews--blind
        - for(var i = 0; i < 6; i++)
            .news-slider__item.swiper-slide
                .news__item(href='#')
                    .news-date
                        span.news-date__title= i
                        span.news-date__txt May
                    a(href='#').news__title
                        | Lorem Ipsum Dolor Sit Amed
                    p.news__txt
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s...
                    .news__img
                        img(src='https://res.cloudinary.com/muhammederdem/image/upload/v1537132205/news-slider/item-2.jpg' alt='news')
  .wrapper
    .background
    .item-bg
    .news-slider
      .news-slider__wrp.swiper-wrapper
        .news-slider__item.swiper-slide
          .news__item(href='#')
            .news-date
              span.news-date__title 24
              span.news-date__txt May
            a(href='#').news__title
              | Lorem Ipsum Dolor Sit Amed
            p.news__txt
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s...
            .news__img
              img.lazy-img(src="img/test.jpg" data-src='https://res.cloudinary.com/muhammederdem/image/upload/v1537132205/news-slider/item-2.jpg' alt='news')
        .news-slider__item.swiper-slide
          .news__item(href='#')
            .news-date
              span.news-date__title 25
              span.news-date__txt May
            a(href='#').news__title
              | Lorem Ipsum Dolor Sit Amed
            p.news__txt
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s...
            .news__img
              img.lazy-img(src="img/test.jpg" data-src='https://res.cloudinary.com/muhammederdem/image/upload/v1537132205/news-slider/item-3.jpg' alt='news')
        .news-slider__item.swiper-slide
          .news__item(href='#')
            .news-date
              span.news-date__title 26
              span.news-date__txt May
            a(href='#').news__title
              | Lorem Ipsum Dolor Sit Amed
            p.news__txt
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s...
            .news__img
              img.lazy-img(src="img/test.jpg" data-src='https://res.cloudinary.com/muhammederdem/image/upload/v1537132205/news-slider/item-4.jpg' alt='news')
        .news-slider__item.swiper-slide
          .news__item(href='#')
            .news-date
              span.news-date__title 28
              span.news-date__txt May
            a(href='#').news__title
              | Lorem Ipsum Dolor Sit Amed
            p.news__txt
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s...
            .news__img
              img.lazy-img(src="img/test.jpg" data-src='https://res.cloudinary.com/muhammederdem/image/upload/v1537132205/news-slider/item-5.jpg' alt='news')
        .news-slider__item.swiper-slide
          .news__item(href='#')
            .news-date
              span.news-date__title 29
              span.news-date__txt May
            a(href='#').news__title
              | Lorem Ipsum Dolor Sit Amed
            p.news__txt
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s...
            .news__img
              img.lazy-img(src="img/test.jpg" data-src='https://res.cloudinary.com/muhammederdem/image/upload/v1537132205/news-slider/item-4.jpg' alt='news')
      .news-slider__ctr
        .news-slider__arrows
          button.news-slider__arrow.news-slider-prev
            span.icon-font
              +icon('toLeft')
          button.news-slider__arrow.news-slider-next
            span.icon-font
              +icon('toRight')
        a(href="news.html").news-slider__show-all Показать все статьи
