section.slider
	.swiper-container
		.swiper-wrapper
			.swiper-slide(style="background-image: url('https://picsum.photos/1920/710/?image=1075')")
				.slider-slide(data-swiper-parallax="40%")
					.slider-slide__info.slider-info
						h2.slider-info__title Центральная районная больница 
						p.slider-info__text
							| Муниципальное бюджетное учреждение здравоохранения<br>Волгодонского района Ростовской области
						a.btn.btn--slider-btn(href="#") Записаться на прием
			.swiper-slide(style="background-image: url('https://picsum.photos/1920/710/?image=1076')")
				.fullheight.slider-slide__info.info(data-swiper-parallax="40%")
			.swiper-slide(style="background-image: url('https://picsum.photos/1920/710/?image=1078')")
				.fullheight.slider-slide__info.info(data-swiper-parallax="40%")
