section.slider
    .container
        .js-glide
            .glide
                .glide__track(data-glide-el="track")
                    ul.glide__slides
                        li.glide__slide
                            img(src="https://picsum.photos/1920/700/?image=1082", alt="h")
                        li.glide__slide
                            img(src="https://picsum.photos/1920/700/?image=1048", alt="h")
                        li.glide__slide
                            img(src="https://picsum.photos/1920/700/?image=1044", alt="h")
                .glide__arrows(data-glide-el="controls")
                    button.glide__arrow.glide__arrow--left(data-glide-dir="<") prev
                    button.glide__arrow.glide__arrow--right(data-glide-dir=">") next