section.slider.js-hero-slider
	.swiper-container
		.swiper-wrapper
			.swiper-slide(style="background-color: #fff; background-image: url('https://picsum.photos/1920/650/?image=1075')")
				.slider-slide
					.slider-slide__info.slider-info
						h2.slider-info__title Центральная районная больница 
						p.slider-info__text
							| Муниципальное бюджетное учреждение здравоохранения<br>Волгодонского района Ростовской области
						a.btn.btn--slider-btn(href="#") Записаться на прием
	.slider-blind
		h2.slider-info__title Центральная районная больница 
		p.slider-info__text
			| Муниципальное бюджетное учреждение здравоохранения<br>Волгодонского района Ростовской области
		a.btn.btn--slider-btn(href="#") Записаться на прием
