section.testimonials
	+mainSectionTitle('Отзывы ', 'пациентов')
	.container
		.cd-testimonials-wrapper.cd-container
			.swiper-container.testimonials-slider
				ul.cd-testimonials.swiper-wrapper
					.swiper-slide
						li
							p
								| I&rsquo;ve made several purchases from Tamarkin including a minty Leicameter. Each time, I&rsquo;ve been treated like an old friend. No matter if I call or email, no matter how busy the shop is, they are patient, helpful and appreciative of my business. I also would have fumbled around forever learning to load film into an M camera if it weren&rsquo;t for Dan&rsquo;s great &ldquo;how to Leica&rdquo; videos on You Tube.
							.cd-author
								
								ul.cd-author-info
									li 
										span Лариса Иванова
									li
										span 22.07.2018
					.swiper-slide
						li
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ea, perferendis error repudiandae numquam dolor fuga temporibus. Unde omnis, consequuntur.
							.cd-author
								
								ul.cd-author-info
									li 
										span Лариса Иванова
									li
										span 22.07.2018
					.swiper-slide
						li
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam nulla est, illo molestiae maxime officiis, quae ad, ipsum vitae deserunt molestias eius alias.
							.cd-author
								ul.cd-author-info
									li 
										span Лариса Иванова
									li
										span 22.07.2018
				// Add Arrows
			.swiper-button-next.swiper-button__testimonials
				+icon('arrow-right')
			.swiper-button-prev.swiper-button__testimonials
				+icon('arrow-right')
	ul.js-blindTestimonials.cd-testimonials__blind
					.swiper-slide
						li
							p(tabindex="0")
								| I&rsquo;ve made several purchases from Tamarkin including a minty Leicameter. Each time, I&rsquo;ve been treated like an old friend. No matter if I call or email, no matter how busy the shop is, they are patient, helpful and appreciative of my business. I also would have fumbled around forever learning to load film into an M camera if it weren&rsquo;t for Dan&rsquo;s great &ldquo;how to Leica&rdquo; videos on You Tube.
							.cd-author
								
								ul.cd-author-info
									li 
										span(tabindex="0") Лариса Иванова
									li
										span(tabindex="0") 22.07.2018
					.swiper-slide
						li
							p(tabindex="0")
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ea, perferendis error repudiandae numquam dolor fuga temporibus. Unde omnis, consequuntur.
							.cd-author
								
								ul.cd-author-info
									li 
										span(tabindex="0") Лариса Иванова
									li
										span(tabindex="0") 22.07.2018
					.swiper-slide
						li
							p(tabindex="0")
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam nulla est, illo molestiae maxime officiis, quae ad, ipsum vitae deserunt molestias eius alias.
							.cd-author
								ul.cd-author-info
									li 
										span(tabindex="0") Лариса Иванова
									li
										span(tabindex="0") 22.07.2018
				
				
