section.writeRules
    .container
        +breadcrumbs()
        h1 ЭЛЕКТРОННАЯ ЗАПИСЬ ГРАЖДАН НА ПРИЕМ К ВРАЧАМ ПОЛИКЛИНИКИ МБУЗ «ЦРБ» Волгодонского района
        p С 01 июня 2015 года в рамках программы модернизации в  МБУЗ «ЦРБ» Волгодонского района проводится внедрение системы "Электронная регистратура" для записи  пациентов по интернету на прием к врачу.Записаться  на  ПЕРВИЧНЫЙ  прием к терапевту, педиатру, гинекологу и узким врачам-специалистам Вы можете:
        ul
            li Через ссылку на нашем web-сайте www.crb-volgraion.ucoz.ru
            li Через сайт www.записьнаприем.рф
            li Через портал ГОСУСЛУГ
            li Через ИНФО-КИОСК (терминал) расположенный на первом этаже здания поликлиники.
            li Через регистратуру поликлиники по телефонам:
                ul
                    li Детская регистратура ст.Романовская с 1200 до 1500  – тел. 7-01-42
                    li взрослая регистратура ст.Романовская с 1200 до 1500 – тел. 7-07-22
                    li регистратура х. Рябичев  с 800 до 1500  – тел. 7-47-80
                    li через регистратуру при личном обращении в поликлинику в течение всего рабочего времени (с 730 до 1512)
        h2.attention ВНИМАНИЕ!
        ul
            li 
                p Запись к участковым врачам возможна только после того, как пациент будет прикреплен к участку. Если Вы не находите в списке врачей своего участкового специалиста к которому прикреплены, то Вам необходимо обратиться в регистратуру поликлиники (можно по указанным выше телефонам с 1200 до 1500) для прикрепления Вашей ЭЛЕКТРОННОЙ КАРТЫ к участковому врачу. Только после этого Вам будет доступна запись к данным специалистам.
            li
                p Запись на ПОВТОРНЫЙ  приём к врачам через Интернет не производится.
            li
                p Вызов врача на дом через Интернет не производится.
            li
                p Пациенты имеют преимущественное право на посещение врача поликлиники во время, назначенное по предварительной записи.
            li
                p Для тех кто записывается ВПЕРВЫЕ через интернет-сервис, необходимо за 40 мин до указанного на талоне времени обратиться в регистратуру поликлиники для оформления ЭЛЕКТРОННОЙ МЕДИЦИНСКОЙ КАРТЫ и внесения актуальных данных о пациенте в систему "Электронная регистратура" с полисом и документом, удостоверяющим личность (свидетельство о рождении или паспорт гражданина РФ). 
                    b Данная процедура проводится однократно!
            li
                p Если пациент записавшийся ВПЕРВЫЕ не подошел в регистратуру за 15 мин до назначенного времени - запись аннулируется!
            li
                p Граждане, которые не могут явиться в назначенное время к врачу, должны отменить свою запись в ЛИЧНОМ КАБИНЕТЕ (на сайте www.записьнаприем.рф) либо предупредить регистратуру об отмене записи по телефону или лично!
            li
                p Пациенты с острой болью принимаются вне очереди в кабинете неотложной помощи.
            li
                p В связи с отпусками, болезнью и прочими изменениями в расписании приема врачей и специалистов просим предварительно получать информацию по телефонам: 7-07-22 , 7-01-42,  с 8.00 до 15.00.
        h3 Правила записи к врачу через систему "Электронная регистратура"
        p Воспользоваться сервисом можно, если информация о Вас внесена в базу данных. Уточнить это можно при личном посещении больницы или позвонив в регистратуру.Чтобы записаться к врачу, выберите раздел «Записаться к врачу на бесплатный прием»:
        p 
            img(src="img/priem.jpg", alt="Записаться на прием")
        p Графики работы врачей больниц указаны в разделе «Расписание врачей»:
        p
            img(src="img/raspisanie_vrachej.jpg", alt="Панель расписание врачей")
        p Отменить сделанную запись или распечатать талон с информацией о приёме можно в разделе «Личный кабинет»:
        p
            img(src="img/lichnyj_kabinet.jpg", alt="Панель личный кабинет")