mixin if-ie(condition, showInNonIeBrowser)
	- if(showInNonIeBrowser == null) showInNonIeBrowser = condition == "!IE";
	!= "<!--[if " + condition + "]>"
	if showInNonIeBrowser
		!= "-->"
	block
	if showInNonIeBrowser
		!= "<!--"
	!= "<![endif]-->"

mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/sprite/sprite.svg#" + name)

mixin main-menu(type, link, text, icon)
	li(class=`${type}-menu__item`)
		a(class=`${type}-menu__item-link` href= link)=text
		if(type == 'main')
			+icon(`menu--${icon}`)