section.zoj
    .panel.panel-breadcrumbs
        +breadcrumbs()
    .container
        article.panel
            h1.section-title Информационный материал по теме: "Здоровый образ жизни"
            p
                b Здоровый образ жизни (ЗОЖ)
                |  - это образ жизни, основан­ный на принципах нравственности, рационально
                |         организованный, активный, трудовой, закаливающий и, в то же время, защищаю­щий от неблагоприятных воздействий
                |         окружающей среды, позво­ляющий до глубокой старости сохранять нравственное, психиче­ское и физическое здоровье.
            +filesLink('https://yadi.sk/d/g1UktyAU3PagRa', 'file--html', 'Информационные материалы по теме: "Здоровый образ жизни"')
            p
                b Три главных принципа здоровой жизни
            p 
                b ГЕНЕТИКА, МЕДИЦИНА, ЭКОЛОГИЯ… ОБРАЗ ЖИЗНИ!
            p Как вы думаете: что играет самую важную роль в состоянии нашего здоровья?
            p
                | В 1994 году межведомственная комиссия
                | Совета безопасности России по охране здоровья населения, основываясь на международных научно-медицинских
                | данных, составила рейтинг факторов, от которых зависит самочувствие, заболеваемость либо устойчивость к
                | болезнями, а в конечном счете — продолжительность жизни человека. Основной вклад вносят:
            ul
                li генетические факторы — 15 — 20%;
                li состояние окружающей среды — 20 — 25%;
                li медицинское обеспечение — 10 — 15%;
                li условия и образ жизни людей — 50 — 55%.
            p
                | Словом, врачи, ученые и аналитики подтвердили: в первую очередь наше здоровье — в наших собственных руках и
                | больше чем наполовину зависит от того, насколько сознательно и ответственно мы ведем себя в повседневной жизни.
            h3 Принцип номер 1: Правильное питание
            p
                blockquote
                    | Главное правило здорового образа жизни — это правильное питание, - 
                    |поясняет Главный внештатный
                    | специалист-терапевт Минздрава России, директор Национального медицинского исследовательского центра
                    | профилактической медицины Оксана Драпкина.
            p
                | Увы, сегодня как в России, так и в мире появляется все больше
                | людей с ожирением. Причем, по данным выборки с 1993 по 2013 годы мужчин с ожирением в нашей стране стало втрое
                | больше. А вот число женщин, страдающих ожирением, увеличилось незначительно.
            p
                | Важно понимать, что лишний вес это не только эстетическая проблема, подчеркивают врачи. Ожирение ведет к
                | артериальной гипертензии, способствует развитию ишемической болезни сердца и повышает риск инфаркта миокарда.
                | Только представьте себе: каждые лишние 4 килограмма приводят к повышению систолического (верхнего) давления на
                | 4,5 мм мм рт ст!
            p
                blockquote
                    | Также при ожирении страдают суставы: им и позвоночнику тяжело «носить» лишние килограммы. И еще одно опаснейшее
                    | следствие избыточного веса заключается в том, что человек с ожирением – это плацдарм для системного воспаления
                    | организма, предупреждает Оксана Драпкина.
                |  Потому что в жировой ткани находятся вещества-цитокины,
                |  поддерживающие воспаление в организме. А хроническое системное воспаление, в свою очередь, это путь к
                |  онкологическим заболеваниям.
            h4 Цирроз печени без алкоголя
            p
                | У тучных людей нередко развивается неалкогольная жировая болезнь печени, когда жир откладывается в этом органе
                | несмотря на то, что человек не злоупотребляет алкоголем. Это «молчаливое» заболевание, которое практически себя
                | не проявляет, но в какой-то момент может очень быстро прогрессировать в цирроз печени, поясняет эксперт.
            h4  Меньше есть или больше двигаться?
            p
                | Как же избавляться от опасного лишнего веса? 
                blockquote
                    | «Ожирение – это дисбаланс между энергией, которую мы потребляем, и
                    | энергией, которую мы расходуем. Важно понять, что в наборе веса бОльшую роль играет именно то, чем питаемся.
                    | Физическая активность, как ни странно, влияет на положение стрелки весов в меньшей степени»,
                    | говорит Оксана Драпкина.
                |  По мнению эксперта, главное, что нужно делать для избавления от лишнего веса - ограничивать
                |  потребление углеводов: сладкого и мучного. Именно из-за них люди растут, как на дрожжах. Последнее
                |  международное исследование PURE показало, что диета, где 60% потребленной энергии приходится на углеводы,
                |  негативно влияет на общую смертность.
            p
                | А вот жир в разумном количестве нужен организму: например, можно абсолютно точно позволить себе немного
                | сливочного масла на хлеб утром, в масле содержится ценный витамин А, поясняет эксперт. Но особенно полезны
                | растительные масла — в первую очередь оливковое и льняное, которые содержат большое количество ненасыщенных
                | жирных кислот.
            h3 Принцип номер 2: Разумные физнагрузки
            p
                | Чем старше мы становимся, тем меньше нам требуется энергии, а значит, потребность в еде снижается. Но это вовсе
                | не значит, что двигаться нужно меньше — наоборот, больше, приызвают эксперты. Потому что обмен веществ
                | перестраивается, и с возрастом отдавать энергию становится гораздо сложнее. А неиспользованная энергия из пищи,
                | как известно, переходит в жировые отложения.
            p
                blockquote
                    | - Физическая активность - это не только преграда ожирению, но и кардиотренировки, роль которых возрастает,
                    | поскольку с годами в той или иной степени в большинстве случаев у людей возникают проблемы с сердцем и
                    | сосудами, добавляет Оксана Драпкина.
            p
                blockquote
                    | Человеку, у которого уже есть заболевания сердечно-сосудистой системы, категорически нельзя допускать сидячий
                    | образ жизни, - 
                    | поддерживает коллегу главный врач Московского областного центра медицинской профилактики,
                    | главный специалист по медицинской профилактике ЦФО РФ и Министерства здравоохранения Московской области,
                    | профессор кафедры медицинской реабилитации и физиотерапии МОНИКИ им. М.Ф. Владимирского Екатерина Иванова.
                |  - В то же время очень важно помнить, что в зависимости от патологии — сердечно-сосудистой или другой — есть
                | ограничения по видам и интенсивности физнагрузок.
            h4 На заметку
            p
                | - Если есть патологическое поражение суставов (оно практически всегда сопутствует ожирению, см. выше),
                | обязательно нужно обращаться к инструкторам или врачам ЛФК, которые подскажут, какие движения полезны, исходя
                | из локализации повреждения суставов.
            p
                | - Пациентам с серьезной патологией сердца противопоказаны занятия в воде с полным погружением области сердца,
                | потому что это опасно повышает давление. Таким людям рекомендуются более легкие аэробные нагрузки, например,
                | регулярная ходьба в среднем темпе, велосипедные прогулки по ровной местности.
            h4 НЕОЖИДАННЫЙ ФАКТ
            p Чем старше, тем активнее
            p
                blockquote
                    | Наше последнее исследование «Эссе-РФ» показало, что люди после 40 лет двигаются больше, чем 25-летние, - рассказывает Главный внештатный специалист-терапевт Минздрава России Оксана Драпкина.
                |  Эксперты связывают такой
                |  неожиданный, на первый взгляд, факт с тем, что люди более зрелого возраста больше задумываются о своем
                |  здоровье, ответственнее относятся к нему. Увы, у молодежи порой все сводится к фотографиям из фитнес-зала, куда
                |  молодые люди заглядывают пару раз в месяц с одной из главных целей сделать сэлфи для соцсетей.
            p
                blockquote
                    | «Важно, чтобы выросло поколение, которое будет считать, что быть здоровым — это модно, - подчеркивает Драпкина.
                | - А для этого в первую очередь нужна долгосрочная и масштабная социальная реклама, агитация за разумный и
                | здоровый образ жизни на ТВ, радио, в Интернет-СМИ и в соцсетях.»
            h3 ПРИНЦИП НОМЕР 3: ПОЗИТИВНЫЙ НАСТРОЙ
            p
                | Да-да, хорошее настроение очень важно для здоровья, это не миф и не преувеличение. Позитивный настрой может
                | через ряд определенных биохимических реакций инициировать выработку агентов иммунитета, говорят врачи. 
                blockquote
                    | «Лично я
                    | советую каждое утром, просыпаясь, благодарить за еще один подаренный день жизни. И неважно, какой он будет,
                    | солнечный, дождливый, снежный, - это еще один день Вашей жизни. Помните, мысли материальны, и очень важно
                    | буквально заставлять себя быть позитивным и энергичным», - призывает Оксана Драпкина.
