#slide-out.sidenav.aside
    .aside-logo
        a(href="index.html", title="На главную") 
            img(src="img/logo-green.png", alt="Логотип")
            span МБУЗ ЦРБ
        hr
    include menu
    