aside.aside
    .aside-logo
        a(href="index.html", title="На главную") 
            img(src="img/logo-green.png", alt="Логотип")
    include menu
    .aside-info
        a.aside-info__mail.aside-info__item(href="mailto:ardo0707@yandex.ru") ardo0707@yandex.ru
        a.aside-info__tel.aside-info__item(href="tel:88639470722") 8(86394) 7-07-22
    .aside-search
        .aside-search__wrap
            input.aside-search__input(type="text" id="aside-search" name='aside-search')
            label.aside-search__label(for="aside-search") Поиск