aside.aside
    .aside-logo
        img(src="img/logo.jpg", alt="Логотип")
    include menu
    //- .aside-info
    //-     a.aside-info__mail.aside-info__item(href="mailto:ardo0707@yandex.ru") ardo0707@yandex.ru
    //-     a.aside-info__tel.aside-info__item(href="tel:88639470722") 8(86394) 7-07-22