#slide-out.sidenav.aside
    .aside-logo
        a.aside-logo__link(href="index.html", title="На главную")
            span МБУЗ ЦРБ
            img(src="img/logo-green.png", alt="Логотип")
            span Волгодонского района
        hr
    include menu
    