.js-sidenav.aside(role="complementary")
    .aside-logo
        a.aside-logo__link(href="index.html", title="На главную")
            span МБУЗ ЦРБ
            img.lazy-img(src="img/test.jpg" data-src="img/logo-green-resize.png", alt="Логотип")
            span Волгодонского района
    include menu
    