.js-sidenav.aside(role="complementary")
    .aside-logo
        a.aside-logo__link(href="index.html", title="На главную")
            span МБУЗ ЦРБ
            img(src="img/logo-green-min.png", alt="Логотип")
            span Волгодонского района
    include menu
    