footer.footer(role="contentinfo")
    .container
        .footer-wrap
            .footer-info
                .footer-info__title
                    h2 © 2018 МБУЗ "ЦРБ" Волгодонского района           
            .footer-actions
                .footer-icons(title="Карта сайта")
                    .footer-icons__sitemap
                        +icon('sitemap')
                .footer-actions__date
                    span.js-footer-info__date
a.cd-top.js-cd-top(href="#0") Top
