footer.footer
    .container
        .footer-wrap
            .map-info
                .map-info__title
                    h2 Муниципальное бюджетное учреждение "ЦЕНТРАЛЬНАЯ РАЙОННАЯ БОЛЬНИЦА" Волгодонского района Ростовской области
                .map-info__contacts
                    p Российская Федерация, Ростовская обл, ст. Романовская, ул. Союзная 97а
                    a(href="mailto:ardo0707@yandex.ru") ardo0707@yandex.ru
                    a(href="tel:88639470722") 8(86394) 7-07-22
            .footer-info
                .footer-date
                    span
            .footer-actions
                .footer-actions__sitemap
                    +icon('sitemap')
                .footer-actions__top
                    +icon('arrow-up')