footer.footer
    .container
        .footer-wrap
            .footer-info
                .footer-info__title
                    h2 Муниципальное бюджетное учреждение "ЦЕНТРАЛЬНАЯ РАЙОННАЯ БОЛЬНИЦА" Волгодонского района Ростовской области
                .footer-info__contacts
                    p.footer-info__adress Российская Федерация, Ростовская обл, ст. Романовская, ул. Союзная 97а
                    a.footer-info__mail(href="mailto:ardo0707@yandex.ru") ardo0707@yandex.ru
                    a.footer-info__tel(href="tel:88639470722") 8(86394) 7-07-22
                    
            .footer-actions
                .footer-icons
                    .footer-icons__sitemap
                        +icon('sitemap')
                    .footer-icons__top
                        +icon('arrow-up')
                .footer-actions__date
                    span.js-footer-info__date