footer.footer
    .container
        .footer-wrap
            .footer-info
                .footer-info__title
                    h2 © 2018 МБУЗ Центральная больница Волгодонского района           
            .footer-actions
                .footer-icons
                    .footer-icons__sitemap
                        +icon('sitemap')
                    .footer-icons__top
                        +icon('arrow-up')
                .footer-actions__date
                    span.js-footer-info__date