header.header(role="banner")
    .blindHeaderPanel.js-blindHeaderPanel
        dl.blindHeaderFontSize
            dt Размер шрифта: 
            dd
                button +
            dd
                button -
        dl.blindHeaderFontFamily
            dt Шрифт
            dd
                button.blindHeaderFont.blindHeaderFont--Arial(data-test="font1" data-group="font") Arial
            dd
                button.blindHeaderFont.blindHeaderFont--Times(data-test="font2" data-group="font") TimesNewRoman
        dl.blindHeaderKerning
            dt Кернинг
            dd
                button.blindHeaderKerning__button.blindHeaderKerning--normal(data-test="kerning1" data-group="kerning") Стандартный
            dd
                button.blindHeaderKerning__button.blindHeaderKerning--middle(data-test="kerning2" data-group="kerning") Средний
            dd
                button.blindHeaderKerning__button.blindHeaderKerning--big(data-test="kerning3" data-group="kerning") Большой
        dl.blindHeaderColor
            dt Цвет сайта
            dd
                button.blindHeaderColor.blindHeaderColor--normal(data-test="color1" data-group="color") Ц
            dd
                button.blindHeaderColor.blindHeaderColor--invert(data-test="color2" data-group="color") Ц
            dd
                button.blindHeaderColor.blindHeaderColor--blue(data-test="color3" data-group="color") Ц
            dd
                button.blindHeaderColor.blindHeaderColor--brown(data-test="color4" data-group="color") Ц
            dd
                button.blindHeaderColor.blindHeaderColor--green(data-test="color5" data-group="color") Ц
    .container
        .header-wrap
            .wrapper-menu
                .line-menu.half.start
                .line-menu
                .line-menu.half.end
            ul.header-info
                li.header-info__item.header-info__tel
                    .header-info__item-icon
                        +icon('phone-symbol')
                    a.header-info__item-link(href="tel:88639470141") 8 (86394) 7-01-41
                li.header-info__item.header-info__writeToUs
                    .header-info__item-icon
                        +icon('email')
                    span.header-info__item-link.js-header-info__writeToUs-link(tabindex="0") Написать нам
                li.header-info__item.header-info__contacts
                    .header-info__item-icon
                        +icon('phone-book')
                    a.header-info__item-link(href="contacts.html", title="Контакты больницы") Контакты
            .header-actions
                .header-actions__search
                    form(action="#", method="get", role="search")
                        input.header-actions__search-input(type="text" placeholder="Поиск")
                        button(type="submit", title='Найти')
                            +icon('magnifier-tool')
                .header-actions__starblind
                        button.btn.btn--starblind.js-starblind-trigger(type="button", title="Версия для слабовидящих")
                            +icon('glasses')
                            span.starblind-text__normal Версия для слабовидящих
                            span.starblind-text__blind Обычная версия
    .hrMenu-wrap
        include hrMenu.pug
.sidenav-overlay
