header.header(role="banner")
    .blindHeaderPanel.js-blindHeaderPanel
        dl.blindHeaderFontSize
            dt Размер шрифта: 
            dd
                button +
            dd
                button -
        dl.blindHeaderFontFamily
            dt Шрифт
            dd
                button.blindHeaderFont.blindHeaderFont--Arial.blindHeaderActive(data-value= "arial-font") Arial
            dd
                button.blindHeaderFont.blindHeaderFont--Times(data-value= "times-font") TimesNewRoman
        dl.blindHeaderKerning
            dt Кернинг
            dd
                button.blindHeaderKerning__button.blindHeaderKerning--normal.blindHeaderActive(data-value= "spacing-normal") Стандартный
            dd
                button.blindHeaderKerning__button.blindHeaderKerning--middle(data-value= "spacing-middle") Средний
            dd
                button.blindHeaderKerning__button.blindHeaderKerning--big(data-value= "spacing-big") Большой
        dl.blindHeaderColor
            dt Цвет сайта
            dd
                button.blindHeaderColor.blindHeaderColor--normal.blindHeaderActive(data-value= "color1") Ц
            dd
                button.blindHeaderColor.blindHeaderColor--invert(data-value= "color2") Ц
            dd
                button.blindHeaderColor.blindHeaderColor--blue(data-value= "color3") Ц
            dd
                button.blindHeaderColor.blindHeaderColor--brown(data-value= "color4") Ц
            dd
                button.blindHeaderColor.blindHeaderColor--green(data-value= "color5") Ц
    .container
        .header-wrap
            .wrapper-menu
                .line-menu.half.start
                .line-menu
                .line-menu.half.end
            ul.header-info
                li.header-info__item.header-info__tel
                    .header-info__item-icon
                        +icon('phone-symbol')
                    a.header-info__item-link(href="tel:88639470141") 8 (86394) 7-01-41
                li.header-info__item.header-info__writeToUs
                    .header-info__item-icon
                        +icon('email')
                    span.header-info__item-link.js-header-info__writeToUs-link(tabindex="0") Написать нам
                li.header-info__item.header-info__contacts
                    .header-info__item-icon
                        +icon('phone-book')
                    a.header-info__item-link(href="contacts.html", title="Контакты больницы") Контакты
            .header-actions
                .header-actions__search
                    form(action="#", method="get", role="search")
                        input.header-actions__search-input(type="text" placeholder="Поиск")
                        button(type="submit", title='Найти')
                            +icon('magnifier-tool')
                .header-actions__starblind
                        button.btn.btn--starblind.js-starblind-trigger(type="button", title="Версия для слабовидящих")
                            +icon('glasses')
                            span.starblind-text__normal Версия для слабовидящих
                            span.starblind-text__blind Обычная версия
    .hrMenu-wrap
        include hrMenu.pug
.sidenav-overlay
