nav
    ul.main-menu
        li.main-menu__item.main-menu__item--dropdown
            a.main-menu__link(href="#") Пациентам
            ul.sub-menu
                +main-menu('sub', '#', 'Права и обязанности пациента')
                +main-menu('sub', '#', 'График приема врачей')
                +main-menu('sub', '#', 'Условия оказания медицинской помощи')
                +main-menu('sub', '#', 'Прием граждан по личным вопросам')
                +main-menu('sub', '#', 'Защита прав граждан')
                +main-menu('sub', '#', 'Общие правила')                        
                +main-menu('sub', '#', 'Госпитализация в стационар')
                +main-menu('sub', '#', 'Перечень страховых компаний')
                +main-menu('sub', '#', 'Диспансеризация')               
                +main-menu('sub', '#', 'Перечень ЖНВЛС')
        li.main-menu__item.main-menu__item--dropdown
            a.main-menu__link(href="#") О больнице
            ul.sub-menu
                +main-menu('sub', '#', 'История больницы')
                +main-menu('sub', '#', 'Новости')
                +main-menu('sub', '#', 'Дорожная карта')
                +main-menu('sub', '#', 'Нормативная база')
                +main-menu('sub', '#', 'Противодействие коррупции')
                +main-menu('sub', '#', 'Вакансии')
                +main-menu('sub', '#', 'Отзывы')
                +main-menu('sub', '#', 'Галерея')
        li.main-menu__item.main-menu__item--dropdown
            a.main-menu__link(href="#") Структура организации
            ul.sub-menu
                +main-menu('sub', '#', 'Администрация')
                +main-menu('sub', '#', 'Хирургическое отделение')
                +main-menu('sub', '#', 'Неврологическое отделение')
                +main-menu('sub', '#', 'Терапевтическое отделение №1')
                +main-menu('sub', '#', 'Терапевтическое отделение №2(х.Рябичев')
                +main-menu('sub', '#', 'Поликлиника')
                +main-menu('sub', '#', 'Вспомагательные лечебно-диагностические подразделения')
                +main-menu('sub', '#', 'Фельдшерско-акушерские пункты')
        li.main-menu__item.main-menu__item--dropdown
            a.main-menu__link(href="#") Платные услуги
            ul.sub-menu
                +main-menu('sub', '#', 'Прейскурант цен')
                +main-menu('sub', '#', 'График работы медицинского персонала')
                +main-menu('sub', '#', 'Нормативные документы')
                +main-menu('sub', '#', 'Приказы о платных услугах')
                +main-menu('sub', '#', 'Профосмотры для организаций')
        li.main-menu__item.main-menu__item--dropdown
            a.main-menu__link(href="#") Общие правила
            ul.sub-menu
                +main-menu('sub', '#', 'Правила записи на прием')
                +main-menu('sub', '#', 'Правила внутреннего распорядка')
                +main-menu('sub', '#', 'Правила подготовки к исследованиям')
        +main-menu('main', '#', 'Полезные статьи')
        +main-menu('main', '#', 'Часто задаваемые вопросы')
        +main-menu('main', '#', 'Здоровый образ жизни')
        +main-menu('main', 'contacts.html', 'Контакты')
        +main-menu('main', '#', 'Нормативные документы')
        +main-menu('main', '#', 'Каталог файлов')
        +main-menu('main', '#', 'online консультация')