nav
    ul.main-menu
        li.main-menu__item
            +icon('menu--hospital')
            a.main-menu__item-link(href="#") О больнице
            ul.sub-menu
                +main-menu('sub', '#', 'Администрация')
                +main-menu('sub', '#', 'История больницы')
                +main-menu('sub', '#', 'Лицензии')
                +main-menu('sub', '#', 'Специалисты')
                +main-menu('sub', '#', 'Новости')
                +main-menu('sub', '#', 'Мероприятия')
                +main-menu('sub', '#', 'Противодействие коррупции')
                +main-menu('sub', '#', 'Вакансии')
                +main-menu('sub', '#', 'Обратная связь')
        li.main-menu__item
            +icon('menu--patient')
            a.main-menu__item-link(href="#") Пациентам
            ul.sub-menu
                +main-menu('sub', '#', 'Правила записи на прием')
                +main-menu('sub', '#', 'Госпитализация в стационар')
                +main-menu('sub', '#', 'Правила внутреннего распорядка')
                +main-menu('sub', '#', 'Нормативная база')
                +main-menu('sub', '#', 'Перечень страховых компаний')
                +main-menu('sub', '#', 'Часто задаваемые вопросы')
                +main-menu('sub', '#', 'Отзывы')
                +main-menu('sub', '#', 'Фотогалерея')
                +main-menu('sub', '#', 'Полезные статьи')
        li.main-menu__item
            +icon('menu--time')
            a.main-menu__item-link(href="#") Платные услуги
            ul.sub-menu
                +main-menu('sub', '#', 'Прейскурант')
                +main-menu('sub', '#', 'Нормативные документы')
                +main-menu('sub', '#', 'Приказы о плвтных услугах')
                +main-menu('sub', '#', 'Профосмотры для организаций')
        +main-menu('main', '#', 'Новости', 'exam')
        +main-menu('main', '#', 'Контакты', 'corruption')
        +main-menu('main', '#', 'placeholder','geo')
        +main-menu('main', '#', 'placeholder', 'survey')
        +main-menu('main', '#', 'placeholder', 'writing')
        +main-menu('main', '#', 'placeholder','geo')
        +main-menu('main', '#', 'placeholder', 'survey')
        +main-menu('main', '#', 'placeholder', 'writing')