nav.side-menu
    ul
        li.sub-menu(aria-haspopup="true")
            span.acc-header(tabindex="0")
                +icon('menu--med-patient')
                span Пациентам
                +icon('menu--right-chevron')
            ul.sub-list(aria-labelledby="dropdownMenuLink")
                +main-menu('sub', 'patientDuties.html', 'Права и обязанности пациента')
                +main-menu('sub', 'writeRules.html', 'Правила записи на прием')
                +main-menu('sub', 'prepareRules.html', 'Правила подготовки к исследованиям')
                +main-menu('sub', 'doctorsShedule.html', 'График приема врачей')
                +main-menu('sub', 'helpIf.html', 'Условия оказания медицинской помощи')
                +main-menu('sub', 'services.html', 'Оказываемые услуги')
                +main-menu('sub', 'demografic.html', 'Демографические показатели')
                +main-menu('sub', 'privateQuestions.html', 'Прием граждан по личным вопросам')
                +main-menu('sub', 'settlerProtect.html', 'Защита прав граждан')                  
                +main-menu('sub', 'smo.html', 'Перечень страховых компаний')
                +main-menu('sub', 'dispans.html', 'Диспансеризация')               
                +main-menu('sub', 'jnvls.html', 'Перечень ЖНВЛС')
        li.sub-menu(aria-haspopup="true")
            span.acc-header(tabindex="0")
                +icon('menu--hospital')
                span О больнице
                +icon('menu--right-chevron')
            ul.sub-list(aria-labelledby="dropdownMenuLink")
                +main-menu('sub', 'history.html', 'История больницы')
                +main-menu('sub', 'news.html', 'Новости')
                +main-menu('sub', 'roadmap.html', 'Дорожная карта')
                +main-menu('sub', 'modernize.html', 'Модернизация здравоохранения')
                +main-menu('sub', 'corruption.html', 'Противодействие коррупции')
                +main-menu('sub', 'organizations-main.html', 'Вышестоящие организации')
                +main-menu('sub', 'licence.html', 'Лицензии')
                +main-menu('sub', 'vacancy.html', 'Вакансии')
                +main-menu('sub', 'feedback.html', 'Отзывы')
                +main-menu('sub', 'gallery.html', 'Галерея')
        li.sub-menu(aria-haspopup="true")
            span.acc-header(tabindex="0")
                +icon('menu--structure')
                span Структура организации
                +icon('menu--right-chevron')
            ul.sub-list(aria-labelledby="dropdownMenuLink")
                +main-menu('sub', 'administration.html', 'Администрация')
                +main-menu('sub', 'surgeon.html', 'Хирургическое отделение')
                +main-menu('sub', 'neurologist.html', 'Неврологическое отделение')
                +main-menu('sub', 'terapevt1.html', 'Терапевтическое отделение №1')
                +main-menu('sub', 'terapevt2.html', 'Терапевтическое отделение №2(х.Рябичев)')
                +main-menu('sub', 'clinic.html', 'Поликлиника')
                +main-menu('sub', 'ambulance.html', 'Отделение скорой помощи')
                +main-menu('sub', 'FAP.html', 'Фельдшерско-акушерские пункты')
        li.sub-menu.sub-menu--long(aria-haspopup="true")
            span.acc-header(tabindex="0")
                +icon('menu--stethoscope')
                span Диагностические подразделения 
                +icon('menu--right-chevron')
            ul.sub-list(aria-labelledby="dropdownMenuLink")
                +main-menu('sub', 'kdl.html', 'Клинико-диагностическая лаборатория')
                +main-menu('sub', 'rentgen.html', 'Рентгеновский кабинет')
                +main-menu('sub', 'kfd.html', 'Кабинеты диагностики')
        li.sub-menu(aria-haspopup="true")
            span.acc-header(tabindex="0")
                +icon('menu--credit-card')
                span Платные услуги
                +icon('menu--right-chevron')
            ul.sub-list(aria-labelledby="dropdownMenuLink")
                +main-menu('sub', 'payShedule.html', 'График работы медицинского персонала')
                +main-menu('sub', 'payOrders.html', 'Приказы о платных услугах')
                +main-menu('sub', 'payOrganizations.html', 'Профосмотры для организаций')
        li.sub-menu
            a(href='articles.html', tabindex="0")
                +icon('menu--article')
                span Полезные статьи
        li.sub-menu
            a(href='zoj.html', tabindex="0")
                +icon('menu--fruit')
                span Здоровый образ жизни
        li.sub-menu
            a(href='docs.html', tabindex="0")
                +icon('menu--script')
                span Нормативные документы
        li.sub-menu
            a(href='files.html', tabindex="0")
                +icon('menu--catalog')
                span Каталог файлов
        li.sub-menu
            a(href='online.html', tabindex="0")
                +icon('menu--consultant')
                span online консультация
        li.sub-menu
            a(href='contacts.html', tabindex="0")
                +icon('menu--book')
                span Контакты
