nav.main-menu
    ul
        li
            a(href="#") О клинике
            ul.submenu
                li
                    a(href="#") Администрация
                li
                    a(href="#") История больницы
                li
                    a(href="#") Лицензии
                li
                    a(href="#") Специалисты
                li
                    a(href="#") Новости
                li
                    a(href="#") Мероприятия
                li
                    a(href="#") Противодействие коррупции
                li
                    a(href="#") Вакансии
                li
                    a(href="#") Отзывы
                li
                    a(href="#") Обратная связь
                li
                    a(href="#") Нормативная база
        li
            a(href="#") Пациентам
            ul.submenu
                li
                    a(href="#") Правила записи на прием
                li
                    a(href="#") Госпитализация в стационар
                li
                    a(href="#") Правила внутреннего распорядка
                li
                    a(href="#") Нормативная база
                li
                    a(href="#") Перечень страховых компаний
                li
                    a(href="#") Часто задаваемые вопросы
                li
                    a(href="#") Отзывы
                li
                    a(href="#") Фотогалерея
                li
                    a(href="#") Полезные статьи
        li
            a(href="#") Платные услуги
            ul.submenu
                li
                    a(href="#") Прейскурант
                li
                    a(href="#") Нормативные документы
                li
                    a(href="#") Приказы о плвтных услугах
                li
                    a(href="#") Профосмотры для организаций
        li
            a(href="#") Новости
        li
            a(href="#") Контакты