nav
    ul.main-menu
        li.main-menu__item.main-menu__item--dropdown
            a.main-menu__link(href="patient.html") Пациентам
            ul.sub-menu
                +main-menu('sub', 'patientDuties.html', 'Права и обязанности пациента')
                +main-menu('sub', 'doctorsShedule.html', 'График приема врачей')
                +main-menu('sub', 'helpIf.html', 'Условия оказания медицинской помощи')
                +main-menu('sub', 'privateQuestions.html', 'Прием граждан по личным вопросам')
                +main-menu('sub', 'settlerProtect.html', 'Защита прав граждан')                  
                +main-menu('sub', 'smo.html', 'Перечень страховых компаний')
                +main-menu('sub', 'dispans.html', 'Диспансеризация')               
                +main-menu('sub', 'jnvls.html', 'Перечень ЖНВЛС')
        li.main-menu__item.main-menu__item--dropdown
            a.main-menu__link(href="#") О больнице
            ul.sub-menu
                +main-menu('sub', 'history.html', 'История больницы')
                +main-menu('sub', '#', 'Новости')
                +main-menu('sub', 'roadmap.html', 'Дорожная карта')
                +main-menu('sub', 'corruption.html', 'Противодействие коррупции')
                +main-menu('sub', 'vacancy.html', 'Вакансии')
                +main-menu('sub', '#', 'Отзывы')
                +main-menu('sub', '#', 'Галерея')
        li.main-menu__item.main-menu__item--dropdown
            a.main-menu__link(href="#") Структура организации
            ul.sub-menu
                +main-menu('sub', 'administration.html', 'Администрация')
                +main-menu('sub', 'surgeon.html', 'Хирургическое отделение')
                +main-menu('sub', 'neurologist.html', 'Неврологическое отделение')
                +main-menu('sub', 'terapevt1.html', 'Терапевтическое отделение №1')
                +main-menu('sub', 'terapevt2.html', 'Терапевтическое отделение №2(х.Рябичев)')
                li.sub-menu__item
                    a.sub-menu__link(href="kdl.html") Вспомагательные лечебно-диагностические подразделения
                    ul.sub-sub-menu
                        li.sub-sub-menu__item
                            a.sub-sub-menu__link(href="kdl.html") Клинико-диагностическая лаборатория
                        li.sub-sub-menu__item
                            a.sub-sub-menu__link(href="rentgen.html") Рентгеновский кабинет
                        li.sub-sub-menu__item
                            a.sub-sub-menu__link(href="kfd.html") Кабинеты функциональной диагностики
                        li.sub-sub-menu__item
                            a.sub-sub-menu__link(href="#") Кабинет ультразвуковой диагностики
                        li.sub-sub-menu__item
                            a.sub-sub-menu__link(href="#") Эндоскопический кабинет
                        li.sub-sub-menu__item
                            a.sub-sub-menu__link(href="#") Физиотерапевтические кабинеты
                +main-menu('sub', 'clinic.html', 'Поликлиника')
                +main-menu('sub', 'ambulance.html', 'Отделение скорой помощи')
                +main-menu('sub', 'FAP.html', 'Фельдшерско-акушерские пункты')
        li.main-menu__item.main-menu__item--dropdown
            a.main-menu__link(href="pay.html") Платные услуги
            ul.sub-menu
                +main-menu('sub', 'payShedule.html', 'График работы медицинского персонала')
                +main-menu('sub', 'payOrders.html', 'Приказы о платных услугах')
                +main-menu('sub', 'payOrganizations.html', 'Профосмотры для организаций')
        li.main-menu__item.main-menu__item--dropdown
            a.main-menu__link(href="rules.html") Общие правила
            ul.sub-menu
                +main-menu('sub', 'writeRules.html', 'Правила записи на прием')
                //- +main-menu('sub', 'innerRules.html', 'Правила внутреннего распорядка')
                +main-menu('sub', 'prepareRules.html', 'Правила подготовки к исследованиям')
        +main-menu('main', 'articles.html', 'Полезные статьи')
        +main-menu('main', 'zoj.html', 'Здоровый образ жизни')
        +main-menu('main', 'contacts.html', 'Контакты')
        +main-menu('main', 'docs.html', 'Нормативные документы')
        +main-menu('main', 'files.html', 'Каталог файлов')
        +main-menu('main', 'online.html', 'online консультация')