.modal
	//- form.modal-form(action="/" method="post")
	//- 	.modal-user
	//- 		.modal-user__login.input-field
	//- 			input(type="text" name="login" required)
	//- 			label(for="modal-login") Ваше имя
	//- 		.modal-user__mail.input-field
	//- 			input(type="email" name="email"  required)
	//- 			label(for="modal-email") Ваш e-mail
	//- 		.modal-user__text.input-field
	//- 			textarea(name="text" required rows="5")
	//- 			label(for="modal-textarea") Текст письма
	//- 	button.btn.modal-user__btn(type="submit") Отправить
	button.modal-close__btn(type="button")
	.form-wrap
		#form-container.expand.modal-form
			#form-content.expand
				#form-head
					h3.pre Оставьте свой вопрос
					p.pre Ответ будет отправлен на вашу почту
				form(action="#" method="POST" name="online")
					input.input.name(name='modal_name', placeholder='Ваше имя', type='text')
					input.input.email(name='modal_email', placeholder='Ваш e-mail', type='mail')
					input.input.subject(name='modal_subject', placeholder='Тема сообщения', type='text')
					textarea.input.message(placeholder='Ваше сообщение')
					input.input.submit(type='submit', value='Отправить сообщение')
.modal-overlay