.modal
	button.modal-close__btn(type="button")
	form.registration.registration-modal(method="post" action="#")
		h3 Ваш вопрос
		label.pure-material-textfield-outlined
			input(placeholder="Ваше имя" type="text" required)
			span Ваше имя
		label.pure-material-textfield-outlined
			input(placeholder="Ваша электронная почта" type="email" required)
			span Ваш Email
		label.pure-material-textfield-outlined
			input(placeholder="Тема вопроса" type="text" required)
			span Тема вопроса
		label.pure-material-textfield-outlined
			textarea(placeholder="Ваш вопрос" required rows='10')
			span Текст вопроса
		button.pure-material-button-contained(type="submit") Отправить
		.done
			h1 👌 Ответ будет выслан Вам на электронную почту в ближайшее время
			a.pure-material-button-text(href="javascript:window.location.reload(true)") назад
		.progress
			progress.pure-material-progress-circular
.modal-overlay
