.new-browser
    .new-browser__content
        h1 Ваш браузер устарел!
        p Вы пользуетесь устаревшей версией браузера Internet Explorer. Данная версия браузера не поддерживает многие современные технологии, из-за чего многие страницы отображаются некорректно, а главное — на сайтах могут работать не все функции. При переходе на любой нижеуказанный браузер все ваши закладки и пароли будут перенесены из текущего браузера, вы ничего не потеряете.

        ul.new-browser__list
            li.chrome
                h2 Google Chrome
                .description
                    p Очень популярный браузер от гиганта поисковой индустрии, компании Google. Обладает очень простым и удобным интерфейсом. Быстрый, удобный и безопасный браузер для всех ваших устройств.
                    ul.browser-link
                        li
                            a(href="https://www.google.com/chrome/") Перейти к загрузке Google Chrome
            li.firefox
                h2 Mozilla Firefox
                .description
                    p Один из самых распространенных и гибких браузеров. Браузер может быть настроен под себя на любой вкус при помощи огромного числа дополнений на все случаи жизни и тем оформления, которые вы найдете на официальном сайте дополнений.
                    ul.browser-link
                        li
                            a(href="http://www.mozilla.org/firefox/") Перейти к загрузке Mozilla Firefox
            li.opera
                h2 Opera
                .description
                    p Браузер Opera всегда позиционировался, как очень удобный и быстрый. Имеет внутренние утилиты для блокировкой рекламы, экономии заряда батареи и бесплатным сервисом VPN.
                    ul.browser-link
                        li
                            a(href="https://www.opera.com/ru") Перейти к загрузке Opera
            li.yandex
                h2 Яндекс браузер
                .description
                    p Яндекс.Браузер защищает от угроз в интернете, быстро загружает страницы даже при медленном соединении и блокирует агрессивную рекламу. А ещё в нём живёт голосовой помощник Алиса
                    ul.browser-link
                        li
                            a(href="https://browser.yandex.ru/") Перейти к загрузке Яндекс браузера
