.weather
	.weather__icon
		+icon('refresh')
		+icon('close')
	.weather__info
		.weather__temperature
			span 25&deg;
		.weather__descr
			.weather__condition Облачно
			.weather__place ст. Романовская
	.weather__date 01 Апреля
