body
    font-family: $font-family, Arial, sans-serif
    line-height: 1.3
    font-weight: 400
    background-color: rgba(221,245,211,.8)

.main-wrapper
    margin: 0 auto
    width: 100%
    max-width: 1600px

.right-side
    margin-left: 230px
    position: relative
    background-color: #fff

.container
    margin: 0 auto
    padding: 0 10px

ul
    padding: 0
    margin: 0
    list-style: none

img
    max-width: 100%
    height: auto

a
    color: inherit
    font-size: inherit

// Кнопка
.btn 
    background-color: $accent
    padding: 10px 20px
    width: 100%
    color: #ffffff
    text-align: center
    text-transform: uppercase
    transition: 0.3s ease
    cursor: pointer
    display: inline-block
    border: none
    &.btn--min
        width: 200px