body
    font-family: $font-family, Arial, sans-serif
    line-height: 1.3
    font-weight: 400
    background-color: rgba(221,245,211,.8)

.main-wrapper
    margin: 0 auto
    width: 100%
    max-width: 1600px

main.right-side
    margin-left: 250px
    position: relative
    background-color: #fff
    overflow: hidden

.container
    margin: 0 auto
    padding: 0 10px

ul
    padding: 0
    margin: 0
    list-style: none

img
    max-width: 100%
    height: auto

a
    color: inherit
    font-size: inherit
section
    p
        margin: 0 0 1.5em

// Кнопка
.btn 
    background-color: $accent
    padding: 10px 20px
    width: 100%
    color: #ffffff
    text-align: center
    text-transform: uppercase
    transition: 0.3s ease
    cursor: pointer
    display: inline-block
    border: none
    &.btn--min
        width: 200px

// Table
.tftable
    font-size: rem(12)
    color: #333333
    width: 70%
    margin: 0 auto
    border: 1px solid $accent
    border-collapse: collapse
    margin-bottom: 30px
    td, th
        font-size: rem(16)
        border: 1px solid $accent
        padding: 8px
        width: 33%
        a
            color: $accent
            font-style: italic
        &:first-child
            font-weight: bold
    th
        text-align: left
        background-color: $accent
    tr
        background-color: #ffffff
    &--dispans 
        td, th
            &:first-child
                width: 50%
// download
.download
    display: flex
    justify-content: space-around
    align-items: center
    border: 1px solid #000
    background-color: #eee
    &-title
        font-size: rem(14)
        color: $accent
        width: 90%
        line-height: 1
        margin: 0
    &-actions
        background-color: $accent

        svg
            width: 20px
            height: 20px