@media only screen and (max-width : 1375px)
    main.right-side
        margin-left: 0
    .quick-item
        flex: 0 0 40%
    
@media only screen and (max-width : 1201px)
    .card-wrapper
        width: 49%
    .map-wrapper
        display: block
    .map-container,
    .map-info
        width: 100%
    .nav ul .hrMenu-list a
        padding: 0 10px
        font-size: 12px
@media only screen and (max-width : 1030px)
    .quick-item
        flex: 0 0 49%
    .footer-title 
        &__big
            font-size: rem(16)
    .gallery-wrap a
        width: 31%
@media only screen and (max-width : 940px)
    .footer-title 
        &__big
            display: none
        &__small
            display: inline-block
            font-size: rem(16)
            font-weight: bold
    .nav
        display: none
    .wrapper-menu
        display: flex
@media only screen and (min-width : 940px)
    .wrapper-menu
        display: none
    .header-info
        margin-left: 0
@media only screen and (max-width : 780px)
    .quick-item
        flex: 0 0 80%
        margin-left: auto
        margin-right: auto
    .gallery-wrap a
        width: 49%
@media only screen and (max-width : 766px)
    .card-wrapper
        width: 90%
        margin: 0 auto
    .inner
        article 
            font-size: rem(13)
            .section-title
                font-size: 1.5rem
@media only screen and (max-width : 600px)
    .gallery-wrap a
        width: 95%
        margin: 0 auto 2rem
    .panel
        padding: 1%
@media only screen and (max-width : 560px)
    .quick-item
        flex: 0 0 100%
    .footer-wrap
        display: block
    .card-wrapper
        width: 98%
        margin: 0 auto
    .breadcrumb__step
        padding-left: 30px
        &:first-child
            padding-left: 30px
        &::before
            display: none
        &::after
            display: none
@media only screen and (max-width : 468px)
    .breadcrumb__step
        padding-left: 5px
        padding-right: 10px
        &:first-child
            padding-left: 10px
@media only screen and (max-width : 380px)
    .breadcrumb__step
        font-size: .78rem
        &:last-child
            padding-right: 5px