// Color
$accent: #057d62!default
$main: #000
$background: #FDFDFD

// Font
$font-family: 'Kurale', Arial, sans-serif
$h1-fontsize: 4rem
$h2-fontsize: 3rem
$h3-fontsize: 2rem
$h4-fontsize: 2.28rem
$h5-fontsize: 1.64rem
$h6-fontsize: 1.15rem
