html
  line-height: 1.5

  @media only screen and (min-width: 0)
    font-size: 14px

  @media only screen and (min-width: 993px)
    font-size: 15px

  @media only screen and (min-width: 1201px)
    font-size: 16px
::-webkit-input-placeholder
  color: rgba(255, 255, 255, 0.8)
  font-size: 90%
article
  h2,h3,h4,h5
    color: $accent
