section.demografic
    .panel.panel-breadcrumbs
        +breadcrumbs()
    .container
        article.panel
            h1.section-title Демографические показатели населения Волгодонского района по итогам 2017 года
            h2 Численность населения и продолжительность жизни.
            p
                | Население Волгодонского района на 01.01.2017 г., по данным Росстата, составляет 33 800 человек (в 2016 году –
                | 34 265 человек), в том числе трудоспособное население – 53,2%, дети от 0 до 14 лет –19,0 %, подростки – 3,1 %,
                | женщины фертильного (детородного) возраста – 22,3 %, лица старше трудоспособного возраста (мужчины старше 60
                | лет, женщины старше 55 лет) – 24,7 %.
            p
                | В 2017 г. ожидаемая продолжительность жизни населения Волгодонского района составила 71,0 год: мужчин – 67,0
                | лет, женщин – 75,0 лет. Такие показатели ожидаемой продолжительности жизни мужчин и женщин соответствуют
                | средним данным по России. Низкая продолжительность жизни связана с высоким уровнем смертности, особенно у
                | мужчин.
            h2 Рождаемость.
            p
                | В Волгодонском районе в 2017 году показатель рождаемости на 1000 населения составил 10,11, а в 2016 году 10,21
                | (среднеобластной показатель – 11,62).
                | в 2017 году естественная убыль населения уменьшилась на 45,0%: в 2017 году она составила -1,38, в 2016 году
                | -2,51 (среднеобластной показатель естественной убыли населения – 2,22).
                | С 2009 по 2017 гг. случаи материнской смертности в районе не регистрировались.
            p
                | Младенческая смертность на 1000 родившихся живыми уменьшилась в 1,8 раза: с 11,43 в 2016 г до 6,3 в 2017 г
                | (среднеобластной показатель - 6,6).
            h2 Смертность.
            p
                | Общий коэффициент смертности населения Волгодонского района, т.е. число умерших от всех причин на 1000 человек
                | населения, в 2017 году составил 11,49, в 2016 году 12,72 (средне областной показатель 13,84), снижение на 9,7%.
            h3 Смертность по классам причин.
            ul
                | В 2017 г. основными причинами смерти населения Волгодонского района являлись:
                li
                    p
                        | от болезней системы кровообращения – 44,8%(в 2016 г – 46,2%)
                        | показатель смертности 490,82 случая на 100 тыс. населения(в 2016 г – 583,69 случая на 100 тыс.населения);
                li  
                    p от старости – 19,4 % (в 2016 г – 14,6%);
                li
                    p
                        | от злокачественных новообразований – 11,1% (в 2016 г – 14,4 %)
                        | показатель смертности 117,56 случая на 100 тыс. населения
                        | (в 2016 г – 175,11 случая на 100 тыс.населения);
                li
                    p
                        | от внешних причин (несчастные случаи, отравления, травмы, самоубийства, убийства и т.п.) –5,8 % (в 2016 г –
                        | 7,7 %)
                        | показатель смертности 64,6 случая на 100 тыс. населения
                        | (в 2016 г – 96,3 случая на 100 тыс.населения);
                li
                    p
                        | от болезней органов пищеварения – 5,6% (в 2016 г –4,8 %)
                        | показатель смертности 58,78 случая на 100 тыс. населения
                        | (в 2016 г – 58,3 случая на 100 тыс.населения);
                li
                    p
                        | от болезней органов дыхания –2,6% (в 2016г – 4,3 %)
                        | показатель смертности 29,4 случая на 100 тыс. населения
                        | (в 2016 г – 58,3 случая на 100 тыс.населения);
                li
                    p
                        | от инфекционных болезней (в т.ч. туберкулез) умерло – 0,26%
                        | (в 2016 г – 2,6 %)
                        | показатель смертности 2,9 случая на 100 тыс. населения
                        | (в 2016 г –52,5 случая на 100 тыс.населения).
