section.dispans
    .panel.panel-breadcrumbs
        +breadcrumbs()
    .container
        article.panel
            h1.section-title Диспансеризации
            h3 План маршрутизации по проведению 1 этапа диспансеризации (профилактического медицинского осмотра) взрослого населения в МБУЗ  «ЦРБ» Волгодонгского района:
            p
                span Адрес: Волгодонской район, ст. Романовская, пер. Союзный, 97 а
            p
                span Телефон регистратуры:
                a(href="tel:88639470722") 8(86394) 7-07-22
            table.table.table-mc-green.table-bordered
                thead
                    tr
                        th Наименование осмотра
                        th Где проводится
                        th Режим работы
                tbody
                    tr
                        td Получение листка маршрутизации для прохождения диспансеризации
                        td(rowspan="2") Поликлиника, 2 этаж, кабинет № 205
                        td(rowspan="2") Понедельник-пятница: 8:00 - 15:45, Суббота: 8:00 - 12:00
                    tr
                        td Анкетирование на выявление заболеваний и факторов риска их развития, антропометрия, измерение артериального давления
                    tr
                        td Осмотр фельдшером (акушеркой),  взятие мазка с шейки матки (для женщин 30, 33,36, 39,42,48,51,54,57,60 лет)
                        td Поликлиника, 3 этаж, кабинет № 310- 313
                        td Понедельник-пятница: 8:00 - 15:45, Суббота: 8:00 - 12:00
                    tr
                        td Флюорография легких
                        td Рентгенкабинет, территория больничного комплекса ст. Романовская
                        td Понедельник-пятница: 8:00 - 15:45
                    tr
                        td Измерение внутриглазного давления (для граждан  с 60 лет)
                        td Поликлиника, 2 этаж, кабинет № 204
                        td Понедельник-пятница: 8:00 - 15:45, Суббота: 8:00 - 12:00
                    tr
                        td Электрокардиография (ЭКГ)
                            | - для  мужчин с 36 лет
                            | - для женщин с 45 лет
                        td Поликлиника, 1 этаж, кабинет № 113
                        td Понедельник-пятница: 8:00 - 15:45, Суббота: 8:00 - 12:00
                    tr
                        td Определение  уровня общего  холестерина и глюкозы в  крови
                        td(rowspan="3") Поликлиника, 1 этаж, кабинет № 102
                        td(rowspan="3") Понедельник-пятница: 8:00 - 11:00
                    tr
                        td Определение простат-специфического антигена (ПСА) в крови для  мужчин 45, 51 год
                    tr
                        td Исследование кала на скрытую кровь (для граждан 51, 54, 57, 60, 63, 66, 69, 72 года)
                    tr
                        td Маммография (для женщин с 39 лет)
                        td Строка:10 Столбец:2
                        td Строка:10 Столбец:3
                    tr
                        td Прием (осмотр) врачом -терапевтом
                        td(rowspan="2") Поликлиника, 2, 3 этаж, кабинет № 201; № 213, № 214, № 316
                        td(rowspan="2") Понедельник-пятница: 8:00 - 15:45, Суббота: 8:00 - 12:00
                    tr
                        td Рекомендации по здоровому образу жизни или определение показаний для направления на второй этап диспансеризации (профмедосмотра)
            p При возникновении проблем при прохождении диспансеризации звонить по телефону 8 (86394) 7-06-14 (Заместитель  главного врача по медицинскому обслуживанию населения Ким Любовь  Михайловна)
            p 
                +filesLink('files/grafik_vyezdov_brigady_po_provedeniju_dd_crb_volgo.docx', 'file--docx', 'График выезда врачебных бригад в МБУЗ «ЦРБ»  Волгодонского района на 2017 год.', '( 0.1мб )')
