section.doctorsShedule
    .container
        +breadcrumbs()
        h1.section-title График приема специалистов поликлиники МБУЗ «ЦРБ» Волгодонского района
        p В графике возможны изменения, обращаться в регистратуру:
        p Детская регистратура ст.Романовская с 800 до 15 00 – тел 7-01-42
        p Взрослая регистратура ст.Романовская с 800 до 15 00  – тел 7-07-22
        p Регистратура х. Рябичев  с 800 до 15 00  – тел 7-47-80