section.doctorsShedule
    .container
        +breadcrumbs()
        h1.section-title График приема специалистов поликлиники МБУЗ «ЦРБ» Волгодонского района
        .tabs
            .tab-2
                label(for='tab2-1') Ст.Романовская
                input#tab2-1(name='tabs-two' type='radio' checked='checked')
                div
                    table.table.table-mc-green.table-bordered.table--doctor-shedule
                        thead
                            tr
                                th &Scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&softcy;
                                th &Fcy;.&Icy;.&Ocy;.
                                th.cabinet &Kcy;&acy;&bcy;&icy;&ncy;&iecy;&tcy;
                                th.day &Pcy;&ncy;
                                th.day &Vcy;&tcy;
                                th.day &Scy;&rcy;
                                th.day &CHcy;&tcy;
                                th.day &Pcy;&tcy;
                        tbody
                            tr
                                td &Zcy;&acy;&vcy;&iecy;&dcy;&ucy;&yucy;&shchcy;&acy;&yacy; &pcy;&ocy;&lcy;&icy;&kcy;&lcy;&icy;&ncy;&icy;&kcy;&ocy;&jcy;
                                td &Kcy;&ocy;&zhcy;&iecy;&mcy;&yacy;&kcy;&icy;&ncy;&acy; &Zcy;&ocy;&yacy; &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy;&ocy;&vcy;&ncy;&acy;
                                td.cabinet 306
                                td.day(data-weekday='1') 08:00 - 16:00
                                td.day(data-weekday='2') 08:00 - 16:00
                                td.day(data-weekday='3') 08:00 - 16:00
                                td.day(data-weekday='4') 08:00 - 16:00
                                td.day(data-weekday='5') 08:00 - 16:00
                            tr
                                td &Ucy;&chcy;&acy;&scy;&tcy;&kcy;&ocy;&vcy;&ycy;&jcy;  &tcy;&iecy;&rcy;&acy;&pcy;&iecy;&vcy;&tcy;
                                td &Lcy;&iecy;&dcy;&yacy;&iecy;&vcy;&acy; &Lcy;&yucy;&dcy;&mcy;&icy;&lcy;&acy; &Vcy;&acy;&scy;&icy;&lcy;&softcy;&iecy;&vcy;&ncy;&acy;
                                td.cabinet 201
                                td.day(data-weekday='1') 08:00 - 12:00
                                td.day(data-weekday='2') 08:00 - 12:00
                                td.day(data-weekday='3') 08:00 - 12:00
                                td.day(data-weekday='4') 08:00 - 12:00
                                td.day(data-weekday='5') 08:00 - 12:00
                            tr
                                td &Ucy;&chcy;&acy;&scy;&tcy;&kcy;&ocy;&vcy;&ycy;&jcy;  &tcy;&iecy;&rcy;&acy;&pcy;&iecy;&vcy;&tcy;
                                td &CHcy;&ucy;&vcy;&icy;&lcy;&ocy;&vcy; &Acy;&lcy;&iecy;&kcy;&scy;&iecy;&jcy; &Acy;&lcy;&iecy;&kcy;&scy;&iecy;&iecy;&vcy;&icy;&chcy;
                                td.cabinet 213
                                td.day(data-weekday='1') 08:00 - 12:00
                                td.day(data-weekday='2') 08:00 - 12:00
                                td.day(data-weekday='3') 08:00 - 12:00
                                td.day(data-weekday='4') 08:00 - 12:00
                                td.day(data-weekday='5') 08:00 - 12:00
                            tr
                                td &Kcy;&acy;&rcy;&dcy;&icy;&ocy;&lcy;&ocy;&gcy;
                                td &CHcy;&ucy;&vcy;&icy;&lcy;&ocy;&vcy; &Acy;&lcy;&iecy;&kcy;&scy;&iecy;&jcy; &Acy;&lcy;&iecy;&kcy;&scy;&iecy;&iecy;&vcy;&icy;&chcy;
                                td.cabinet 316
                                td.day(data-weekday='1') 16:18 - 18:15
                                td.day(data-weekday='2') 16:18 - 18:15
                                td.day(data-weekday='3') 16:18 - 18:15
                                td.day(data-weekday='4') 16:18 - 18:15
                                td.day(data-weekday='5') 16:18 - 18:15
                            tr
                                td &Ucy;&chcy;&acy;&scy;&tcy;&kcy;&ocy;&vcy;&ycy;&jcy;  &tcy;&iecy;&rcy;&acy;&pcy;&iecy;&vcy;&tcy;
                                td &Rcy;&acy;&dcy;&zhcy;&acy;&pcy;&ocy;&vcy; &Bcy;&acy;&jcy;&rcy;&acy;&mcy; &Bcy;&acy;&khcy;&tcy;&icy;&yacy;&rcy;&ocy;&vcy;&icy;&chcy;
                                td.cabinet 214
                                td.day(data-weekday='1') 08:00 - 12:00
                                td.day(data-weekday='2') 08:00 - 12:00
                                td.day(data-weekday='3') 08:00 - 12:00
                                td.day(data-weekday='4') 08:00 - 12:00
                                td.day(data-weekday='5') 08:00 - 12:00
                            tr
                                td &Ucy;&chcy;&acy;&scy;&tcy;&kcy;&ocy;&vcy;&ycy;&jcy; &pcy;&iecy;&dcy;&icy;&acy;&tcy;&rcy;
                                td &Bcy;&ucy;&zcy;&ncy;&yacy;&kcy;&ocy;&vcy;&acy; &Lcy;&yucy;&bcy;&ocy;&vcy;&softcy; &Vcy;&acy;&scy;&icy;&lcy;&softcy;&iecy;&vcy;&ncy;&acy;
                                td.cabinet 207
                                td.day(data-weekday='1') 08:00 - 12:00
                                td.day(data-weekday='2') 08:00 - 12:00
                                td.day(data-weekday='3') 08:00 - 12:00
                                td.day(data-weekday='4') 08:00 - 12:00
                                td.day(data-weekday='5') 08:00 - 12:00
                            tr
                                td &Ucy;&chcy;&acy;&scy;&tcy;&kcy;&ocy;&vcy;&ycy;&jcy; &pcy;&iecy;&dcy;&icy;&acy;&tcy;&rcy;
                                td &Kcy;&acy;&pcy;&kcy;&acy;&ncy;&ocy;&vcy;&acy; &lcy;&yucy;&bcy;&ocy;&vcy;&softcy; &scy;&tcy;&iecy;&fcy;&acy;&ncy;&ocy;&vcy;&ncy;&acy;
                                td.cabinet &KHcy;&KHcy;&KHcy;
                                td.day(data-weekday='1') 08:00 - 12:00
                                td.day(data-weekday='2') 08:00 - 12:00
                                td.day(data-weekday='3') 08:00 - 12:00
                                td.day(data-weekday='4') 08:00 - 12:00
                                td.day(data-weekday='5') 08:00 - 12:00
                            tr
                                td &Ucy;&chcy;&acy;&scy;&tcy;&kcy;&ocy;&vcy;&ycy;&jcy; &pcy;&iecy;&dcy;&icy;&acy;&tcy;&rcy;
                                td &Vcy;&lcy;&acy;&scy;&ocy;&vcy;&acy; &YUcy;&lcy;&icy;&yacy; &Scy;&iecy;&rcy;&gcy;&iecy;&iecy;&vcy;&ncy;&acy;
                                td.cabinet 209
                                td.day(data-weekday='1') 08:00 - 12:00
                                td.day(data-weekday='2') 08:00 - 12:00
                                td.day(data-weekday='3') 08:00 - 12:00
                                td.day(data-weekday='4') 08:00 - 12:00
                                td.day(data-weekday='5') 08:00 - 12:00
                            tr
                                td &Tcy;&rcy;&acy;&vcy;&mcy;&acy;&tcy;&ocy;&lcy;&ocy;&gcy; - &ocy;&rcy;&tcy;&ocy;&pcy;&iecy;&dcy;
                                td &Acy;&rcy;&softcy;&kcy;&ocy;&vcy; &Rcy;&ocy;&mcy;&acy;&ncy; &Ocy;&lcy;&iecy;&gcy;&ocy;&vcy;&icy;&chcy;
                                td.cabinet 307
                                td.attention(colspan='5') &Gcy;&rcy;&acy;&fcy;&icy;&kcy; &ucy;&tcy;&ocy;&chcy;&ncy;&yacy;&tcy;&softcy; &vcy; &rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tcy;&ucy;&rcy;&iecy;
                            tr
                                td &Acy;&kcy;&ucy;&shcy;&iecy;&rcy; - &gcy;&icy;&ncy;&iecy;&kcy;&ocy;&lcy;&ocy;&gcy;
                                td &Pcy;&ocy;&dcy;&ncy;&iecy;&bcy;&iecy;&scy;&ncy;&acy;&yacy; &Mcy;&acy;&rcy;&icy;&ncy;&acy; &Vcy;&acy;&scy;&icy;&lcy;&softcy;&iecy;&vcy;&ncy;&acy;
                                td.cabinet 313
                                td.day(data-weekday='1') 08:00 - 15:12
                                td.day(data-weekday='2') 08:00 - 15:12
                                td.day(data-weekday='3') 08:00 - 15:12
                                td.day(data-weekday='4') 08:00 - 15:12
                                td.day(data-weekday='5') 08:00 - 15:12
                            tr
                                td &Ncy;&iecy;&vcy;&rcy;&ocy;&lcy;&ocy;&gcy;
                                td &Rcy;&acy;&mcy;&icy;&zcy;&ocy;&vcy; &Bcy;&acy;&khcy;&tcy;&icy;&iecy;&rcy; &Fcy;&acy;&rcy;&acy;&mcy;&icy;&zcy;&ocy;&vcy;&icy;&chcy;
                                td.cabinet 314
                                td.day(data-weekday='1') 08:00 - 15:48
                                td.day(data-weekday='2') 08:00 - 15:48
                                td.day(data-weekday='3') 08:00 - 15:48
                                td.day(data-weekday='4') 08:00 - 15:48
                                td.day(data-weekday='5') 08:00 - 15:48
                            tr
                                td &KHcy;&icy;&rcy;&ucy;&rcy;&gcy;
                                td &Icy;&lcy;&softcy;&icy;&ncy; &Acy;&ncy;&dcy;&rcy;&iecy;&jcy; &Vcy;&lcy;&acy;&dcy;&icy;&mcy;&icy;&rcy;&ocy;&vcy;&icy;&chcy;
                                td.cabinet 305
                                td.day(data-weekday='1') 08:00 - 15:48
                                td.day(data-weekday='2') 08:00 - 15:48
                                td.day(data-weekday='3') 08:00 - 15:48
                                td.day(data-weekday='4') 08:00 - 15:48
                                td.day(data-weekday='5') 08:00 - 15:48
                            tr
                                td &Dcy;&iecy;&tcy;&scy;&kcy;&icy;&jcy; &khcy;&icy;&rcy;&ucy;&rcy;&gcy;
                                td &Tcy;&ucy;&fcy;&acy;&ncy;&ocy;&vcy; &Kcy;&acy;&mcy;&ocy;&lcy; &Ncy;&icy;&yacy;&zcy;&ocy;&vcy;&icy;&chcy;
                                td.cabinet 307
                                td.day(data-weekday='1') 08:00 - 10:30
                                td.dayNo.attention &ncy;&iecy;&tcy; &pcy;&rcy;&icy;&iecy;&mcy;&acy;
                                td.dayNo.attention &ncy;&iecy;&tcy; &pcy;&rcy;&icy;&iecy;&mcy;&acy;
                                td.day(data-weekday='4') 14:30 - 17:00
                                td.dayNo.attention &ncy;&iecy;&tcy; &pcy;&rcy;&icy;&iecy;&mcy;&acy;
                            tr
                                td &Ocy;&fcy;&tcy;&acy;&lcy;&softcy;&mcy;&ocy;&lcy;&ocy;&gcy;
                                td &Fcy;&acy;&dcy;&lcy;&icy;&iecy;&vcy; &Mcy;&ucy;&zcy;&acy;&fcy;&fcy;&acy;&rcy; &Mcy;&acy;&khcy;&scy;&ucy;&dcy;&ocy;&vcy;&icy;&chcy;
                                td.cabinet 204
                                td.day(data-weekday='1') 08:00 - 15:48
                                td.day(data-weekday='2') 08:00 - 15:48
                                td.day(data-weekday='3') 08:00 - 15:48
                                td.day(data-weekday='4') 08:00 - 15:48
                                td.day(data-weekday='5') 08:00 - 15:48
                            tr
                                td &Dcy;&iecy;&rcy;&mcy;&acy;&tcy;&ocy;&lcy;&ocy;&gcy;
                                td &Acy;&kcy;&icy;&mcy;&ocy;&chcy;&kcy;&icy;&ncy;&acy; &Ncy;&acy;&tcy;&acy;&lcy;&softcy;&yacy; &Acy;&ncy;&acy;&tcy;&ocy;&lcy;&softcy;&iecy;&vcy;&ncy;&acy;
                                td.cabinet 308
                                td.day(data-weekday='1') 08:00 - 15:00
                                td.day(data-weekday='2') 08:00 - 15:00
                                td.dayNo.attention &ncy;&iecy;&tcy; &pcy;&rcy;&icy;&iecy;&mcy;&acy;
                                td.day(data-weekday='4') 08:00 - 11:00
                                td.day(data-weekday='5') 08:00 - 15:00
                            tr
                                td &Zcy;&ucy;&bcy;&ncy;&ocy;&jcy; &vcy;&rcy;&acy;&chcy;
                                td &Gcy;&ucy;&tcy;&ocy;&vcy;&scy;&kcy;&acy;&yacy; &Tcy;&acy;&tcy;&softcy;&yacy;&ncy;&acy; &Gcy;&iecy;&ncy;&ncy;&acy;&dcy;&softcy;&iecy;&vcy;&ncy;&acy;
                                td.cabinet 301
                                td.attention(colspan='5') &Ncy;&iecy;&chcy;&iocy;&tcy;. &dcy;&ncy;&icy; &scy; 13:00 &dcy;&ocy; 19:30 &CHcy;&iocy;&tcy;. &dcy;&ncy;&icy; &scy; 08:00 &dcy;&ocy; 14:36
                            tr
                                td &Scy;&tcy;&ocy;&mcy;&acy;&tcy;&ocy;&lcy;&ocy;&gcy;
                                td &Gcy;&lcy;&ocy;&gcy;&ucy;&scy;&softcy; &Lcy;&yucy;&bcy;&ocy;&vcy;&softcy; &Ncy;&icy;&kcy;&ocy;&lcy;&acy;&iecy;&vcy;&ncy;&acy;
                                td.cabinet 301
                                td.attention(colspan='5') &Ncy;&iecy;&chcy;&iocy;&tcy;. &dcy;&ncy;&icy; &scy; 08:00 &dcy;&ocy; 14:36 &CHcy;&iocy;&tcy;. &dcy;&ncy;&icy; &scy; 13:00 &dcy;&ocy; 19:30
                            tr
                                td &Scy;&tcy;&ocy;&mcy;&acy;&tcy;&ocy;&lcy;&ocy;&gcy;
                                td &Kcy;&ocy;&ncy;&ocy;&pcy;&lcy;&iecy;&vcy; &Acy;&lcy;&iecy;&kcy;&scy;&iecy;&jcy; &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy;&ocy;&vcy;&icy;&chcy;
                                td.cabinet 302
                                td.day(data-weekday='1') 08:00 - 15:12
                                td.day(data-weekday='2') 08:00 - 15:12
                                td.day(data-weekday='3') 08:00 - 15:12
                                td.day(data-weekday='4') 08:00 - 11:12
                                td.day(data-weekday='5') 08:00 - 15:12
                            tr
                                td &Vcy;&rcy;&acy;&chcy;-&ecy;&ncy;&dcy;&ocy;&scy;&kcy;&ocy;&pcy;&icy;&scy;&tcy;
                                td &KHcy;&ucy;&dcy;&yacy;&kcy;&ocy;&vcy; &Acy;&lcy;&iecy;&kcy;&scy;&iecy;&jcy; &Ncy;&icy;&kcy;&ocy;&lcy;&acy;&iecy;&vcy;&icy;&chcy;
                                td.cabinet 109
                                td.day(data-weekday='1') 12:00 - 16:00
                                td.dayNo.attention &ncy;&iecy;&tcy; &pcy;&rcy;&icy;&iecy;&mcy;&acy;
                                td.day(data-weekday='3') 12:00 - 16:00
                                td.dayNo.attention &ncy;&iecy;&tcy; &pcy;&rcy;&icy;&iecy;&mcy;&acy;
                                td.day(data-weekday='5') 12:00 - 16:00
                            tr
                                td &Acy;&kcy;&ucy;&shcy;&iecy;&rcy; - &gcy;&icy;&ncy;&iecy;&kcy;&ocy;&lcy;&ocy;&gcy;
                                td &Acy;&ncy;&dcy;&acy;&rcy;&acy; &Mcy;&acy;&ncy;&acy;&gcy;&iecy; &CHcy;&acy;&mcy;&acy;&rcy;&acy; &CHcy;&acy;&ncy;&dcy;&rcy;&acy;&rcy;&acy;&tcy;&ncy;&iecy;
                                td.cabinet 312
                                td.day(data-weekday='1') 13:00 - 14:00
                                td.day(data-weekday='2') 13:00 - 14:00
                                td.day(data-weekday='3') 13:00 - 14:00
                                td.day(data-weekday='4') 13:00 - 14:00
                                td.day(data-weekday='5') 13:00 - 14:00
                            tr
                                td &Ucy;&Zcy;&Icy;
                                td &SHCHcy;&iecy;&rcy;&bcy;&acy;&kcy;&ocy;&vcy;&acy; &Icy;&rcy;&icy;&ncy;&acy; &Gcy;&iecy;&ncy;&ncy;&acy;&dcy;&softcy;&iecy;&vcy;&ncy;&acy;
                                td.cabinet 211
                                td.day(data-weekday='1') 08:00 - 14:30
                                td.day(data-weekday='2') 08:00 - 14:30
                                td.day(data-weekday='3') 08:00 - 14:30
                                td.day(data-weekday='4') 08:00 - 14:30
                                td.day(data-weekday='5') 08:00 - 14:30
                            tr
                                td &Fcy;&ucy;&ncy;&kcy;&tscy;. &dcy;&icy;&acy;&gcy;&ncy;&ocy;&scy;&tcy;&icy;&kcy;&acy; (&Ecy;&Kcy;&Gcy;, &scy;&pcy;&icy;&rcy;&ocy;&gcy;&rcy;&acy;&fcy;)
                                td &Rcy;&ycy;&lcy;&iecy;&vcy;&acy; &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy;&acy; &Vcy;&icy;&kcy;&tcy;&ocy;&rcy;&ocy;&vcy;&ncy;&acy;
                                td.cabinet 105
                                td.day(data-weekday='1') 08:00 - 14:00
                                td.day(data-weekday='2') 08:00 - 14:00
                                td.day(data-weekday='3') 08:00 - 14:00
                                td.day(data-weekday='4') 08:00 - 14:00
                                td.day(data-weekday='5') 08:00 - 14:00
                            tr
                                td &Fcy;&icy;&zcy;&icy;&ocy;&tcy;&iecy;&rcy;&acy;&pcy;&icy;&yacy;
                                td &Rcy;&ocy;&zhcy;&kcy;&ocy;&vcy;&acy; &Scy;&vcy;&iecy;&tcy;&lcy;&acy;&ncy;&acy; &Vcy;&acy;&scy;&icy;&lcy;&softcy;&iecy;&vcy;&ncy;&acy;
                                td.cabinet 315
                                td.day(data-weekday='1') 08:00 - 15:12
                                td.day(data-weekday='2') 08:00 - 15:12
                                td.day(data-weekday='3') 08:00 - 15:12
                                td.day(data-weekday='4') 08:00 - 15:12
                                td.day(data-weekday='5') 08:00 - 15:12
                            tr
                                td(colspan='2') &Vcy;&rcy;&acy;&chcy;&iecy;&bcy;&ncy;&acy;&yacy; &kcy;&ocy;&mcy;&icy;&scy;&scy;&icy;&yacy; &Vcy;&Kcy;
                                td.cabinet 317
                                td.day(data-weekday='1') 09:00 - 12:00
                                td.day(data-weekday='2') 09:00 - 12:00
                                td.day(data-weekday='3') 09:00 - 12:00
                                td.day(data-weekday='4') 09:00 - 12:00
                                td.day(data-weekday='5') 09:00 - 12:00
            .tab-2
                label(for='tab2-2') х.Рябичев, п. Победа, ст. Дубенцовская 
                input#tab2-2(name='tabs-two' type='radio')
                div
                    table.table.table-mc-green.table-bordered.table--doctor-shedule
                        thead
                            tr
                                th Специальность
                                th Ф.И.О
                                th.cabinet Кабинет
                                th.day Пн
                                th.day Вт
                                th.day Ср
                                th.day Чт
                                th.day Пт
                        tbody
                            tr
                                td Участковый  терапевт
                                td Казимов Аскар Казимович
                                td.cabinet 6
                                td.day(data-weekday='1') 08:00 - 15:48
                                td.day(data-weekday='2') 08:00 - 15:48
                                td.day(data-weekday='3') 08:00 - 15:48
                                td.day(data-weekday='4') 08:00 - 15:48
                                td.day(data-weekday='5') 08:00 - 15:48
                            tr
                                td Участковый  терапевт
                                td Дарянов Муртаз Кирманшаевич
                                td.cabinet 4
                                td.day(data-weekday='1') 08:00 - 15:48
                                td.day(data-weekday='2') 08:00 - 15:48
                                td.day(data-weekday='3') 08:00 - 15:48
                                td.day(data-weekday='4') 08:00 - 15:48
                                td.day(data-weekday='5') 08:00 - 15:48
                            tr
                                td Участковый педиатр
                                td Караваева Эльвира Викторовна
                                td.cabinet 7
                                td.day(data-weekday='1') 08:00 - 15:48
                                td.day(data-weekday='2') 08:00 - 15:48
                                td.day(data-weekday='3') 08:00 - 15:48
                                td.day(data-weekday='4') 08:00 - 15:48
                                td.day(data-weekday='5') 08:00 - 15:48
                            tr
                                td Зубной врач
                                td Суворова Светлана Абрамовна
                                td.cabinet 2
                                td.day(data-weekday='1') 08:00 - 14:36
                                td.day(data-weekday='2') 08:00 - 14:36
                                td.day(data-weekday='3') 08:00 - 14:36
                                td.day(data-weekday='4') 08:00 - 14:36
                                td.day(data-weekday='5') 08:00 - 14:36
                            tr
                                td Участковый  терапевт
                                td Казимов Аскар Казимович
                                td.cabinet 6
                                td.day(data-weekday='1') 08:00 - 15:48
                                td.day(data-weekday='2') 08:00 - 15:48
                                td.day(data-weekday='3') 08:00 - 15:48
                                td.day(data-weekday='4') 08:00 - 15:48
                                td.day(data-weekday='5') 08:00 - 15:48
                    p п. Победа - ФАП
                    table.table.table-mc-green.table-bordered.table--doctor-shedule
                        thead
                            tr
                                th Специальность
                                th Ф.И.О
                                th.cabinet Кабинет
                                th.day Пн
                                th.day Вт
                                th.day Ср
                                th.day Чт
                                th.day Пт
                        tbody
                            tr
                                td Зубной врач
                                td Тупалов Микаил Алимович
                                td.cabinet 1
                                td.day(data-weekday='1') 08:00 - 18:36
                                td.day(data-weekday='2') 08:00 - 18:36
                                td.day(data-weekday='3') 08:00 - 18:36
                                td.day(data-weekday='4') 08:00 - 18:36
                                td.day(data-weekday='5') 08:00 - 18:36
                    p ст. Дубенцовская - ФАП
                    table.table.table-mc-green.table-bordered.table--doctor-shedule
                        thead
                            tr
                                th Специальность
                                th Ф.И.О
                                th.cabinet Кабинет
                                th.day Пн
                                th.day Вт
                                th.day Ср
                                th.day Чт
                                th.day Пт
                        tbody
                            tr  
                                td Стоматолог
                                td(colspan='2') Емельянченко Людмила Николаевна
                                //- td.cabinet 1
                                td.day(data-weekday='1') 08:00 - 14:36
                                td.day(data-weekday='2') 08:00 - 14:36
                                td.day(data-weekday='3') 08:00 - 14:36
                                td.day(data-weekday='4') 08:00 - 14:36
                                td.day(data-weekday='5') 08:00 - 14:36                     
        .doctorsShedule-info
            p В графике возможны изменения, обращаться в регистратуру:
            p Детская регистратура ст.Романовская с 800 до 15 00 – тел 7-01-42
            p Взрослая регистратура ст.Романовская с 800 до 15 00  – тел 7-07-22
            p Регистратура х. Рябичев  с 800 до 15 00  – тел 7-47-80   