section.doctorsShedule
    .panel.panel-breadcrumbs
        +breadcrumbs()
    .container
        article.panel
            h1.section-title График приема специалистов поликлиники МБУЗ «ЦРБ» Волгодонского района
            ul.tabs(role="tablist")
                li.tab-2(role="tab" aria-controls="tab2-1" aria-selected="true")
                    label(for='tab2-1' tabindex="0") Ст.Романовская
                    input#tab2-1(name='tabs-two' type='radio' checked='checked')
                    div(role="tabpanel" aria-labelledby="tab2-1" aria-hidden="false" tabindex="0")
                        table.table.table-mc-green.table-bordered.table--doctor-shedule
                            thead
                                tr
                                    th Специальность
                                    th Ф.И.О.
                                    th.cabinet Кабинет
                                    th.day Пн
                                    th.day Вт
                                    th.day Ср
                                    th.day Чт
                                    th.day Пт
                            tbody
                                tr
                                    td Заведующая поликлиникой
                                    td Кожемякина Зоя Александровна
                                    td.cabinet 306
                                    td.day(data-weekday="1") 08:00 - 16:00
                                    td.day(data-weekday="2") 08:00 - 16:00
                                    td.day(data-weekday="3") 08:00 - 16:00
                                    td.day(data-weekday="4") 08:00 - 16:00
                                    td.day(data-weekday="5") 08:00 - 16:00
                                tr
                                    td Участковый  терапевт
                                    td Ледяева Людмила Васильевна
                                    td.cabinet 201
                                    td.day(data-weekday="1") 08:00 - 12:00
                                    td.day(data-weekday="2") 12:00 - 16:00
                                    td.day(data-weekday="3") 08:00 - 12:00
                                    td.day(data-weekday="4") 12:00 - 16:00
                                    td.day(data-weekday="5") 08:00 - 12:00
                                tr
                                    td Участковый  терапевт
                                    td Чувилов Алексей Алексеевич
                                    td.cabinet 213
                                    td.day(data-weekday="1") 08:00 - 12:00
                                    td.day(data-weekday="2") 08:00 - 12:00
                                    td.day(data-weekday="3") 08:00 - 12:00
                                    td.day(data-weekday="4") 08:00 - 12:00
                                    td.day(data-weekday="5") 08:00 - 12:00
                                tr
                                    td Кардиолог
                                    td Чувилов Алексей Алексеевич
                                    td.cabinet 213
                                    td.day(data-weekday="1") 12:00 - 14:20
                                    td.day(data-weekday="2") выезд на ФАП
                                    td.day(data-weekday="3") 12:00 - 14:20
                                    td.day(data-weekday="4") 12:00 - 14:20
                                    td.day(data-weekday="5") 12:00 - 14:20
                                tr
                                    td Участковый  терапевт
                                    td Раджапов Байрам Бахтиярович
                                    td.cabinet 214
                                    td.day(data-weekday="1") 12:00 - 16:00
                                    td.day(data-weekday="2") 08:00 - 12:00
                                    td.day(data-weekday="3") 12:00 - 16:00
                                    td.day(data-weekday="4") 08:00 - 12:00
                                    td.day(data-weekday="5") 12:00 - 16:00
                                tr
                                    td Участковый педиатр
                                    td Бузнякова Любовь Васильевна
                                    td.cabinet 207
                                    td.day(data-weekday="1") 08:00 - 12:00
                                    td.day(data-weekday="2") 08:00 - 12:00
                                    td.day(data-weekday="3") 08:00 - 12:00
                                    td.day(data-weekday="4") 08:00 - 12:00
                                    td.day(data-weekday="5") 08:00 - 12:00
                                tr
                                    td Участковый педиатр
                                    td Просветова Ксения Александрова
                                    td.cabinet 208
                                    td.day(data-weekday="1") 08:00 - 12:00
                                    td.day(data-weekday="2") 08:00 - 12:00
                                    td.day(data-weekday="3") 08:00 - 12:00
                                    td.day(data-weekday="4") 08:00 - 12:00
                                    td.day(data-weekday="5") 08:00 - 12:00
                                tr
                                    td Участковый педиатр
                                    td Власова Юлия Сергеевна
                                    td.cabinet 209
                                    td.day(data-weekday="1") 08:30 - 12:30
                                    td.day(data-weekday="2") 08:30 - 12:30
                                    td.day(data-weekday="3") 08:30 - 12:30
                                    td.day(data-weekday="4") 08:30 - 12:30
                                    td.day(data-weekday="5") 08:30 - 12:30
                                tr
                                    td Травматолог - ортопед
                                    td Арьков Роман Олегович
                                    td.cabinet 307
                                    td.attention(colspan="5") График уточнять в регистратуре
                                tr
                                    td Акушер - гинеколог
                                    td Поднебесная Марина Васильевна
                                    td.cabinet 313
                                    td.day(data-weekday="1") 08:00 - 15:30
                                    td.day(data-weekday="2") 08:00 - 15:30
                                    td.day(data-weekday="3") 08:00 - 15:30
                                    td.day(data-weekday="4") 08:00 - 15:30
                                    td.day(data-weekday="5") 09:00 - 15:30
                                tr
                                    td Невролог
                                    td Рамизов Бахтиер Фарамизович
                                    td.cabinet 314
                                    td.day(data-weekday="1") 08:00 - 15:48
                                    td.day(data-weekday="2") 08:00 - 15:48
                                    td.day(data-weekday="3") 08:00 - 15:48
                                    td.day(data-weekday="4") 08:00 - 15:48
                                    td.day(data-weekday="5") 08:00 - 15:48
                                tr
                                    td Хирург
                                    td Ильин Андрей Владимирович
                                    td.cabinet 305
                                    td.day(data-weekday="1") 08:00 - 15:48
                                    td.day(data-weekday="2") 08:00 - 15:48
                                    td.day(data-weekday="3") 08:00 - 15:48
                                    td.day(data-weekday="4") 08:00 - 15:48
                                    td.day(data-weekday="5") 08:00 - 15:48
                                tr
                                    td Детский хирург
                                    td Туфанов Камол Ниязович
                                    td.cabinet 307
                                    td.day(data-weekday="1") 14:30 - 17:00
                                    td.dayNo.attention нет приема
                                    td.dayNo.attention нет приема
                                    td.day(data-weekday="4") 14:30 - 17:00
                                    td.dayNo.attention нет приема
                                tr
                                    td Офтальмолог
                                    td Фадлиев Музаффар Махсудович
                                    td.cabinet 204
                                    td.day(data-weekday="1") 08:00 - 15:48
                                    td.day(data-weekday="2") 08:00 - 15:48
                                    td.day(data-weekday="3") 08:00 - 15:48
                                    td.day(data-weekday="4") 08:00 - 15:48
                                    td.day(data-weekday="5") 08:00 - 15:48
                                tr
                                    td Дерматолог
                                    td Акимочкина Наталья Анатольевна
                                    td.cabinet 308
                                    td.day(data-weekday="1") 09:00 - 12:00
                                    td.day(data-weekday="2") 09:00 - 12:00
                                    td.day(data-weekday="2") 09:00 - 12:00
                                    td.day(data-weekday="4") 09:00 - 10:30
                                    td.day(data-weekday="5") 09:00 - 12:00
                                tr
                                    td Зубной врач
                                    td Гутовская Татьяна Геннадьевна
                                    td.cabinet 301
                                    td.attention(colspan="5") Нечёт. дни с 13:00 до 19:30 Чёт. дни с 08:00 до 14:36
                                tr
                                    td Стоматолог
                                    td Глогусь Любовь Николаевна
                                    td.cabinet 301
                                    td.attention(colspan="5") Нечёт. дни с 08:00 до 14:36 Чёт. дни с 13:00 до 19:30
                                tr
                                    td Стоматолог
                                    td Коноплев Алексей Александрович
                                    td.cabinet 302
                                    td.day(data-weekday="1") 08:00 - 15:12
                                    td.day(data-weekday="2") 08:00 - 15:12
                                    td.day(data-weekday="3") 08:00 - 15:12
                                    td.day(data-weekday="4") 08:00 - 11:12
                                    td.day(data-weekday="5") 08:00 - 15:12
                                tr
                                    td Врач-эндоскопист
                                    td Худяков Алексей Николаевич
                                    td.cabinet 109
                                    td.day(data-weekday="1") 12:00 - 16:00
                                    td.dayNo.attention нет приема
                                    td.day(data-weekday="3") 12:00 - 16:00
                                    td.dayNo.attention нет приема
                                    td.day(data-weekday="5") 12:00 - 16:00
                                tr
                                    td Акушер - гинеколог
                                    td Андара Манаге Чамара Чандраратне
                                    td.cabinet 312
                                    td.day(data-weekday="1") 12:00 - 14:00
                                    td.day(data-weekday="2") нет приема
                                    td.day(data-weekday="3") 12:00 - 14:00
                                    td.day(data-weekday="4") 12:00 - 14:00
                                    td.day(data-weekday="5") нет приема
                                tr
                                    td УЗИ
                                    td Щербакова Ирина Геннадьевна
                                    td.cabinet 211
                                    td.day(data-weekday="1") 08:00 - 14:30
                                    td.day(data-weekday="2") 08:00 - 14:30
                                    td.day(data-weekday="3") 08:00 - 14:30
                                    td.day(data-weekday="4") 08:00 - 14:30
                                    td.day(data-weekday="5") 08:00 - 14:30
                                tr
                                    td Функц. диагностика (ЭКГ, спирограф)
                                    td Кузнецова Татьяна Анатольевна
                                    td.cabinet 105
                                    td.day(data-weekday="1") 08:00 - 14:00
                                    td.day(data-weekday="2") 08:00 - 14:00
                                    td.day(data-weekday="3") 08:00 - 14:00
                                    td.day(data-weekday="4") 08:00 - 14:00
                                    td.day(data-weekday="5") 08:00 - 14:00
                                tr
                                    td Физиотерапия
                                    td Рожкова Светлана Васильевна
                                    td.cabinet 315
                                    td.day(data-weekday="1") 08:00 - 15:12
                                    td.day(data-weekday="2") 08:00 - 15:12
                                    td.day(data-weekday="3") 08:00 - 15:12
                                    td.day(data-weekday="4") 08:00 - 15:12
                                    td.day(data-weekday="5") 08:00 - 15:12

                li.tab-2(role="tab" aria-controls="tab2-2" aria-selected="false")
                    label(for='tab2-2' tabindex="0") х.Рябичев, п. Победа, ст. Дубенцовская 
                    input#tab2-2(name='tabs-two' type='radio')
                    div(role="tabpanel" aria-labelledby="tab2-2" aria-hidden="true" tabindex="0")
                        table.table.table-mc-green.table-bordered.table--doctor-shedule
                            thead
                                tr
                                    th Специальность
                                    th Ф.И.О
                                    th.cabinet Кабинет
                                    th.day Пн
                                    th.day Вт
                                    th.day Ср
                                    th.day Чт
                                    th.day Пт
                            tbody
                                tr
                                    td Участковый  терапевт
                                    td Казимов Аскар Казимович
                                    td.cabinet 6
                                    td.day(data-weekday='1') 08:00 - 15:48
                                    td.day(data-weekday='2') 08:00 - 15:48
                                    td.day(data-weekday='3') 08:00 - 15:48
                                    td.day(data-weekday='4') 08:00 - 15:48
                                    td.day(data-weekday='5') 08:00 - 15:48
                                tr
                                    td Участковый  терапевт
                                    td Дарянов Муртаз Кирманшаевич
                                    td.cabinet 4
                                    td.day(data-weekday='1') 08:00 - 15:48
                                    td.day(data-weekday='2') 08:00 - 15:48
                                    td.day(data-weekday='3') 08:00 - 15:48
                                    td.day(data-weekday='4') 08:00 - 15:48
                                    td.day(data-weekday='5') 08:00 - 15:48
                                tr
                                    td Участковый педиатр
                                    td Караваева Эльвира Викторовна
                                    td.cabinet 7
                                    td.day(data-weekday='1') 08:00 - 15:48
                                    td.day(data-weekday='2') 08:00 - 15:48
                                    td.day(data-weekday='3') 08:00 - 15:48
                                    td.day(data-weekday='4') 08:00 - 15:48
                                    td.day(data-weekday='5') 08:00 - 15:48
                                tr
                                    td Зубной врач
                                    td Суворова Светлана Абрамовна
                                    td.cabinet 2
                                    td.day(data-weekday='1') 08:00 - 14:36
                                    td.day(data-weekday='2') 08:00 - 14:36
                                    td.day(data-weekday='3') 08:00 - 14:36
                                    td.day(data-weekday='4') 08:00 - 14:36
                                    td.day(data-weekday='5') 08:00 - 14:36
                                tr
                                    td Участковый  терапевт
                                    td Казимов Аскар Казимович
                                    td.cabinet 6
                                    td.day(data-weekday='1') 08:00 - 15:48
                                    td.day(data-weekday='2') 08:00 - 15:48
                                    td.day(data-weekday='3') 08:00 - 15:48
                                    td.day(data-weekday='4') 08:00 - 15:48
                                    td.day(data-weekday='5') 08:00 - 15:48
                        p п. Победа - ФАП
                        table.table.table-mc-green.table-bordered.table--doctor-shedule
                            thead
                                tr
                                    th Специальность
                                    th Ф.И.О
                                    th.cabinet Кабинет
                                    th.day Пн
                                    th.day Вт
                                    th.day Ср
                                    th.day Чт
                                    th.day Пт
                            tbody
                                tr
                                    td Зубной врач
                                    td Тупалов Микаил Алимович
                                    td.cabinet 1
                                    td.day(data-weekday='1') 08:00 - 18:36
                                    td.day(data-weekday='2') 08:00 - 18:36
                                    td.day(data-weekday='3') 08:00 - 18:36
                                    td.day(data-weekday='4') 08:00 - 18:36
                                    td.day(data-weekday='5') 08:00 - 18:36
                        p ст. Дубенцовская - ФАП
                        table.table.table-mc-green.table-bordered.table--doctor-shedule
                            thead
                                tr
                                    th Специальность
                                    th Ф.И.О
                                    th.cabinet Кабинет
                                    th.day Пн
                                    th.day Вт
                                    th.day Ср
                                    th.day Чт
                                    th.day Пт
                            tbody
                                tr  
                                    td Стоматолог
                                    td(colspan='2') Емельянченко Людмила Николаевна
                                    //- td.cabinet 1
                                    td.day(data-weekday='1') 08:00 - 14:36
                                    td.day(data-weekday='2') 08:00 - 14:36
                                    td.day(data-weekday='3') 08:00 - 14:36
                                    td.day(data-weekday='4') 08:00 - 14:36
                                    td.day(data-weekday='5') 08:00 - 14:36                     
            .doctorsShedule-info
                p В графике возможны изменения, обращаться в регистратуру:
                p Детская регистратура ст.Романовская с 800 до 15 00 – тел 7-01-42
                p Взрослая регистратура ст.Романовская с 800 до 15 00  – тел 7-07-22
                p Регистратура х. Рябичев  с 800 до 15 00  – тел 7-47-80   
