section.duties
    .panel.panel-breadcrumbs
        +breadcrumbs()
    .container
        h1.section-title Права и обязанности пациента
        .panel
            ul
                | При обращении за медицинской помощью и ее получении пациент имеет право на:
                li
                    | уважительное и гуманное отношение со стороны работников и других лиц, участвующих в оказании медицинской
                    | помощи;
                li
                    | получение информации о фамилии, имени, отчестве, должности его лечащего врача и других лиц, непосредственно
                    | участвующих в оказании ему медицинской помощи;
                li
                    | обследование, лечение и нахождение в больнице в условиях, соответствующих санитарно-гигиеническим и
                    | противоэпидемическим требованиям;
                li
                    | облегчение боли, связанной с заболеванием и (или) медицинским вмешательством, доступными способами и
                    | средствами, если таковое не препятствует диагностическому процессу;
                li перевод к другому лечащему врачу с учетом согласия соответствующего врача;
                li
                    | добровольное информированное согласие пациента на медицинское вмешательство в соответствии с
                    | законодательными
                    | актами;
                li
                    | отказ от оказания (прекращения) медицинской помощи, от госпитализации, за исключением случаев,
                    | предусмотренных законодательными актами;
                li
                    | обращение с жалобой к должностным лицам больницы, а также к должностным лицам вышестоящей организации или в
                    | суд;
                li
                    | сохранение медицинскими работниками в тайне информации о факте его обращения за медицинской помощью,
                    | состоянии здоровья, диагнозе и иных сведений, полученных при его обследовании и лечении, за исключением
                    | случаев, предусмотренных законодательными актами;
                li
                    | получение в доступной для него форме полной информации о состоянии своего здоровья, применяемых методах
                    | диагностики и лечения, а также на выбор лиц, которым может быть передана информация о состоянии его
                    | здоровья;
                li
                    | при нахождении на стационарном лечении пациент имеет право на допуск к нему посетителей (за исключением
                    | посещений детьми до 18 лет и лицами, находящимися в нетрезвом состоянии), адвоката, священнослужителя, а
                    | также
                    | на предоставление условий для отправления религиозных обрядов, если это не нарушает правил внутреннего
                    | распорядка для пациентов больницы, санитарно-гигиенических и противоэпидемических требований;
            ul
                | Пациент обязан:
                li принимать меры к сохранению и укреплению своего здоровья;
                li своевременно обращаться за медицинской помощью;
                li
                    | уважительно относиться к медицинским работникам и другим лицам, участвующим в оказании медицинской помощи;
                li
                    | предоставлять лицу, оказывающему медицинскую помощь, известную ему достоверную информацию о состоянии
                    | своего
                    | здоровья, в том числе о противопоказаниях к применению лекарственных средств, аллергических реакциях, ранее
                    | перенесенных и наследственных заболеваниях;
                li своевременно и точно выполнять медицинские предписания;
                li сотрудничать с врачом на всех этапах оказания медицинской помощи;
                li соблюдать правила внутреннего распорядка для пациентов больницы;
                li бережно относиться к имуществу больницы.
            ul
                | Общие правила поведения пациентов и посетителей включают в себя правила о том, что в помещениях больницы и его
                | структурных подразделений запрещается:
                li нахождение в верхней одежде, без сменной обуви (или бахил);
                li курение в зданиях и помещениях больницы;
                li
                    | распитие спиртных напитков, употребление наркотических средств, психотропных и токсических веществ;
                li
                    | появление в состоянии алкогольного, наркотического и токсического опьянения, за исключением необходимости в
                    | экстренной и неотложной медицинской помощи;
                li играть в азартные игры;
                li громко разговаривать, шуметь, хлопать дверьми;
                li
                    | пользование мобильной связью при нахождении на приеме у врача, во время выполнения процедур, манипуляций,
                    | обследований;
                li пользование служебными телефонами;
                li выбрасывание мусора, отходов в непредназначенные для этого места.
            ol
                b ПРАВИЛА ПОВЕДЕНИЯ ПАЦИЕНТОВ В СТАЦИОНАРЕ:
                li В стационарных отделениях больницы устанавливается распорядок дня.
                li
                    | При стационарном лечении пациент может пользоваться личным бельем, одеждой и сменной обувью, принимать
                    | посетителей в установленные часы и специально отведенном месте, за исключением периода карантина, и если
                    | это не
                    | противоречит санитарно-противоэпидемическому режиму.
                li Пациент обязан соблюдать правила личной гигиены, тщательно и часто мыть руки.
                li
                    | В палате необходимо поддерживать чистоту и порядок. Мусор должен незамедлительно помещаться в специальный
                    | бак для сбора бытовых отходов.
                li
                    ul
                        | В помещениях стационарных отделений запрещается:
                        li хранить в палате верхнюю одежду, обувь, хозяйственные и вещевые сумки;
                        li хранить в палате опасные и запрещенные предметы;
                        li
                            | использовать нагревательные приборы, электрические кипятильники, чайники, телевизоры, магнитофоны и
                            | другие
                            | электроприборы;
                        li использовать электронные устройства, имеющие электромагнитное излучение;
                        li
                            | включать освещение, аудио, видео аппаратуру, телефоны, а также ходить по палате и отделению во
                            | время,
                            | предназначенное для сна и отдыха;
                        li самостоятельное ремонтировать оборудование, мебель;
                        li иметь колющие и режущие предметы, бьющуюся посуду;
                        li использовать постельное белье, подушки и одеяла со свободных коек в палатах;
                        li совершать прогулки по территории больницы без разрешения врача;
                        li совершать прогулки по территории больницы вне пешеходных зон;
                        li выходить за территорию больницы.
                li
                    | Продукты питания, не предусмотренные рационом питания, разрешаются к употреблению только по согласованию с
                    | лечащим врачом.
                    | Перечень разрешенных продуктов для передачи пациентам, продуктов запрещенных к употреблению в больнице, а
                    | также
                    | требования к условиям хранения продуктов (передач).
                li
                    ul
                        | При лечении (обследовании) в условиях стационара пациент обязан:
                        li
                            | соблюдать санитарно-гигиенические нормы пользования бытовыми коммуникациями (холодильник, душ,
                            | санузел);
                        li соблюдать лечебно-охранительный режим, в том числе предписанный лечащим врачом;
                        li
                            | своевременно ставить в известность дежурный медицинский персонал об ухудшении состояния здоровья;
                        li
                            | незамедлительно сообщать врачу или медицинской сестре о повышении температуры, насморке, кашле,
                            | появлении
                            | одышки или других расстройств дыхания, рвоте, вздутии живота, появлении сыпи и т.д.
                li
                    | Самовольное оставление пациентом стационара расценивается как отказ от медицинской помощи с
                    | соответствующими
                    | последствиями, за которые больница ответственности не несет. Выписка пациентов производится лечащим врачом
                    | по
                    | согласованию с заведующим отделением стационара.
                li
                    ul
                        | Ответственность
                        li
                            | Нарушение Правил внутреннего распорядка, лечебно-охранительного, санитарно-противоэпидемического
                            | режимов и
                            | санитарно-гигиенических норм влечет за собой ответственность, установленную законодательством
                            | Российской
                            | Федерации.
                        li
                            | За нарушение режима и Правил внутреннего распорядка учреждения пациент может быть досрочно выписан
                            | с
                            | соответствующей отметкой в больничном листе.
                        li грубое или неуважительное отношение к персоналу;
                        li неявка или несвоевременная явка на прием к врачу или на процедуру;
                        li несоблюдение требований и рекомендаций врача;
                        li прием лекарственных препаратов по собственному усмотрению;
                        li самовольное оставление учреждения до завершения курса лечения;
                        li
                            | одновременное лечение в другом учреждении без ведома и разрешения лечащего врача;
                        li отказ от направления или несвоевременная явка на ВК.
            p
                | Просим Вас ознакомиться
            +filesLink('files/catalog/pravila_dlja_pacientov_po_podgotovke_k_diagnostich.doc', 'file--doc', 'Правила для пациентов по подготовке к диагностическим процедурам', '( 0.2мб )')