section.privateQuestions
	.panel.panel-breadcrumbs
		+breadcrumbs()
	.container
		article.panel
			h1.section-title Прием граждан по личным вопросам
			h2 Уважаемые пациенты!
			p
				| С целью реализации прав граждан на оказание доступной и качественной медицинской помощи и своевременного решения
				| вопросов, возникающих при ее оказании,
				| в МБУЗ "ЦРБ" Волгодонского района
				| по адресу: 
				i  Волгодонской район, ст.Романовская пер.Союзный 97а
				|         в кабинете Главного врача
				|         осуществляется прием граждан по личным вопросам.
			h2 Прием ведут:
			ul
				li
					p
						b
							| Главный врач
							| Найденов Сергей Юрьевич
						|  каждую среду
						|             с 15:00 до 17:00
						|             тел.: 8(86394) 7-06-14 e-mail: crbvr@yandex.ru
				li
					p
						b
							| Заместитель Главы Администрации Волгодонского района
							| по социальным вопросам и информационной политике
							| Леонова Светлана Владимировна
						|  каждую третью среду месяца с
						|             15:00 до 17:00
						|             тел.: 8(86394) 7-01-30 e-mail: radm@vttc.donpac.ru
			p Так же здесь Вы можете pадать свой вопрос главному врачу и получить ответ на указанный Вами e-mail.
			form.registration(method="post" action="#")
				h2 Ваш вопрос
				fieldset
					label.pure-material-textfield-outlined
						input(placeholder="Ваша фамилия" type="text" name="privateQuestions[surname]" required)
						span Ваша фамилия
					label.pure-material-textfield-outlined
						input(placeholder="Ваше имя" type="text" name="privateQuestions[name]" required)
						span Ваше имя
					label.pure-material-textfield-outlined
						input(placeholder="Ваша электронная почта" type="email" name="privateQuestions[email]" required)
						span Ваш Email
					label.pure-material-textfield-outlined
						input(placeholder="Тема вопроса" type="text" name="privateQuestions[subject]" required)
						span Тема вопроса
					label.pure-material-textfield-outlined
						textarea(placeholder="Ваш вопрос" name="privateQuestions[text]" required)
						span Текст вопроса
				button.pure-material-button-contained(type="submit") Отправить
				.done
					h1 👌 Ответ будет выслан Вам на электронную почту в ближайшее время
					a.pure-material-button-text(href="javascript:window.location.reload(true)") назад
				.progress
					progress.pure-material-progress-circular
