section.services
    .panel.panel-breadcrumbs
        +breadcrumbs()
    .container
        article.panel
            h1.section-title Виды оказываемой медицинской помощи
            p Осуществление доврачебной медицинской помощи по: 
            ul
                li
                    p акушерскому делу
                li
                    p анестезиологии и реаниматологии
                li
                    p диетологии
                li
                    p лабораторной диагностике
                li
                    p медицинским осмотрам (предрейсовым, послерейсовым)
                li
                    p медицинской  статистике
                li
                    p медицинскому  массажу
                li
                    p операционному делу
                li
                    p организации сестринского дела
                li
                    p рентгенологии
                li
                    p сестринскому делу
                li
                    p сестринскому делу в педиатрии
                li
                    p стоматологии
                li
                    p скорой медицинской  помощи
                li
                    p физиотерапии
                li
                    p функциональной диагностике
                li
                    p экспертизе временной нетрудоспособности
            p При осуществлении амбулаторно-поликлинической помощи, в том числе: 
            ul
                li
                    p при осуществлении первичной медико-санитарной помощи по:
                    ul
                        li
                            p анестезиологии и реаниматологии
                        li
                            p контролю качества медицинской  помощи
                        li
                            p клинической лабораторной диагностике
                        li
                            p медицинским осмотрам (предрейсовым, послерейсовым)
                        li
                            p медицинским осмотрам ( предварительным, периодическим)
                        li
                            p неврологии
                        li
                            p общественному здоровью и организации здоровья
                        li
                            p онкологии
                        li
                            p оториноларингологии и офтальмологии
                        li
                            p педиатрии
                        li
                            p профпатологии
                        li
                            p рентгенологии
                        li
                            p терапии
                        li
                            p урологии
                        li
                            p ультразвуковой диагностике
                        li
                            p функциональной диагностике
                        li
                            p хирургии
                        li
                            p экспертизе временной нетрудоспособности
                        li
                            p экспертизе профпригодности
                        li
                            p эндокринологии
                        li
                            p эндоскопии
                li
                    p при осуществлении медицинской помощи женщинам, в период беременности во время и после родов по:
                    ul
                        li
                            p акушерству и гинекологии
                        li
                            p экспертизе временной нетрудоспособности
                li
                    p при осуществлении специализированной медицинской помощи по:
                    ul
                        li
                            p акушерству и гинекологии
                        li
                            p анестезиологии и реаниматологии
                        li
                            p военно-врачебной экспертизе
                        li
                            p дерматовенерологии
                        li
                            p стоматологии терапевтической
                        li
                            p стоматологии хирургической
                        li
                            p экспертизе на право владения оружием
                        li
                            p    
                li
                    p При осуществлении стационарной медицинской помощи, в том числе в условиях дневного стационара по:
                    ul
                        li
                            p акушерству и гинекологии
                        li
                            p анестезиологии и реаниматологии
                        li
                            p контролю качества медицинской помощи
                        li
                            p клинической лабораторной диагностике
                        li
                            p неврологии
                        li
                            p рентгенологии
                        li
                            p терапии
                        li
                            p трансфузиологии
                        li
                            p хирургии
                        li
                            p урологии 
                        li
                            p эндоскопии