section.pay
    .container
        h1 Платные услуги МБУЗ "ЦРБ" Волгодонского района
        p Данные услуги предоставляет на основании Разрешения Администрации Волгодонского района № 1 от 15 августа 2012 г.
        p
            a(href="#") прейскурант цен
        p Цены утверждены: 
            a(href="#") Постановлением Администрации Волгодонского района № 682 от 03.11.2015 г. 
        p Приложение 1:
            a(href="#") Прейскурант цен на платные медицинские услуги 
        p Приложение 2:
            a(href="#") Льготы на предоставление платных медицинских услуг.
        p
            a(href="#") Постановление Администрации Волгодонского района № 539 от 26.10.2016 г. "О внесении изменений в Постановление Администрации Волгодонского района № 682 от 03.11.2015 г."
        p
            a(href="#") Постановление Правительства РО от 23.11.2017 № 783 "О территориальной программе государственных гарантий бесплатного оказания гражданам медицинской помощи в Ростовской области на 2018 год и на плановый период 2019 и 2020 годов"