section.payOrganizations
    .panel.panel-breadcrumbs
        +breadcrumbs()
    .container
        article.panel
            h1.section-title Проф осмотры для организаций
            h2 Перечень документов, представляемых Предприятием-Заказчиком для организации проведения периодического медицинского осмотра в МБУЗ «ЦРБ» Волгодонского района
            ol
                li 
                    p
                      b Перечень документов, представляемых Предприятием-Заказчиком для организации проведения периодического медицинского осмотра в МБУЗ «ЦРБ» Волгодонского района
                    ul
                        li
                            p Реквизиты предприятия банковские и юридические с именами руководителей и лиц, ответственных за проведение медосмотра.
                        li
                            p Перечень контингентов, подлежащих предварительным периодическим медицинским осмотрам, поименный список лиц, подлежащих периодическим медицинским осмотрам в ЛПУ, (в 3-х экземплярах).
                                | В списках обязательно должны быть следующие сведения: 
                            ul
                                li
                                    p Указаны полностью фамилию, имя, отчество работника, а также дату, месяц и год рождения
                                li
                                    p Вредные и/или опасные факторы работы в обязательном порядке должны быть указаны в соответствии с их наименованием, а также указанных их номера, соответствующие пунктам Приказа Минздравсоцразвития России №302н от 12 апреля 2011 г.
                                li
                                    p Номера полисов ОМС (следует информировать всех обследуемых о предоставлении в обязательном порядке полиса и паспорта при прибытии на мед.осмотр);
                li
                    p Для проведения периодического медицинского осмотра после заключения договора и для оформления заключительного акта  необходимо представить дополнительную информацию
                li
                    p Лицам, проходящим мед. осмотр самостоятельно, требуется направление из отдела кадров организации, в которую он оформляется, с указанием вредных факторов, вида выполняемых работ, заверенное печатью и подписью организации.
                h3 Внимание
                p Порядок проведения предварительных и периодических медицинских осмотров работающих с 01.01.2012 г. определен приказом МЗ и СР РФ от 12.04.2011 г. № 302Н и  не предполагает согласования контингентов и пофамильных списков работающих, подлежащих периодическим медицинским осмотрам, с органами Роспотребнадзора.
                p При этом на работодателей возлагается обязанность по уведомлению территориальных органов Роспотребнадзора об утвержденных контингентах.
                p В этой связи вышеуказанное уведомление об утвержденных контингентах работающих, подлежащих периодическим медицинским осмотрам, в соответствии с требованиями приложения № 1 к настоящему приказу, работодатели Волгодонского района могут направить в электронном виде или по почте.
                +filesLink('files/payment/ob_osushhestvlenii_predvaritelnykh_i_periodicheski.pdf', 'file--pdf', 'Приказ "Об осуществлении предварительных и периодических медицинских осмотров, для освидетельствования на приобретение оружия и допуск к управлению транспортными средствами на 2017 год"','( 0.3мб )')
                +filesLink('files/payment/o_sozdanii_komiscii_po_mo.pdf', 'file--pdf', 'Приказ "О создании комиссии, осуществляющей предварительные и периодические медицинские осмотры, для освидетельствования на приобретение оружия и допуск у кправлению транспортными средствами на 2017 год"','( 0.2мб )')
                +filesLink('files/payment/obrazec_formy_1_i_2_profosmotr.doc', 'file--doc', 'Образец формы для составления списка','( 0.1мб )')
                +filesLink('files/payment/prikaz_minzdrvsocrazvitija_rf_ot_12_04_2011_n_302.rtf', 'file--rtf', 'Приказ Минздравсоцразвития России №302н от 12 апреля 2011 г.','( 1.8мб )')
                +filesLink('files/payment/obrazec_formy_3_profosmotr.doc', 'file--doc', 'образец формы документа № 3','( 0.1мб )')                        
                +filesLink('files/payment/obrazec_4_profosmotr.doc', 'file--doc', 'образец формы документа № 4','( 0.1мб )')                        
                +filesLink('files/payment/rospotrebnadzor_5.doc', 'file--doc', 'Адрес и форма уведомления','( 0.1мб )')
