section.payOrders
    .container
        +breadcrumbs()
        h1.section-title Приказы МБУЗ "ЦРБ" Волгодонского района по платным медицинским услугам
        a(href="#") Приказ от 30.12.2016 № 358 "О платных медицинских услугах на 2017 год.
        a(href="#") Приказ от 09.01.2017 № 4 "Об утверждении порядка и расчета предоставления платных медицинских услуг на 2017 год."
        a(href="#") Приказ от 18.02.2016 № 47 "Об утверждении Положения о порядке предоставления платных медицинских услуг"
        a(href="#") Приложение 1: Положение о предоставлении платных медицинских услуг;
        a(href="#") Приложение 2: Информированное добровольное согласие предоставление ПМУ.
        a(href="#") Приложение 3: Договор на оказание платных медицинских услуг;
        a(href="#") Приказ от 09.01.2017 № 5 "О создании комиссии по организации платных медицинских услуг"