section.payShedule
    .container
        h1 Г Р А Ф И К работы медицинского персонала по оказанию платных медицинских услуг МБУЗ «ЦРБ» Волгодонского района на 2017 год
        a(href="#") Скачать Утвержденный документ.
        table.tftable(border="1")
            caption Поликлиника:
            tr
                th Ф.И.О.
                th Должность
                th Часы приема
            tr
                td Кожемякина З.Ш.
                td Врач- терапевт
                td 15:45 – 18:00
            tr
                td Ледяева Л.В.
                td Врач- терапевт участковый
                td 15:45 – 18:00
            tr
                td Ильин А.В.
                td Врач- хирург
                td 15:45 – 18:00
            tr
                td Чувилов А.А.
                td Врач- терапевт участковый
                td 15:45 – 18:00
            tr
                td Раджапов Б.Б.
                td Врач- терапевт участковый
                td 15:45 – 18:00
            tr
                td Мельникова Ю.С.	
                td Врач- терапевт участковый
                td 15:45 – 18:00
            tr
                td Казимов А.К.
                td Врач- терапевт участковый
                td 15:45 – 18:00
            tr
                td Фадлиев М.М.
                td Врач- офтальмолог
                td 15:45 – 18:00
            tr
                td Мильдзихова А.Б.
                td Врач - оториноларинголог
                td 15:45 – 18:00
            tr
                td Рамизов Б.Ф.
                td Врач-невролог
                td 15:45 – 18:00
            tr
                td Пичко А.Г.
                td Врач - невролог
                td 15:45 – 18:00
            tr
                td Поднебесная М.В.
                td Врач акушер-гинеколог
                td 15:45 – 18:00
            tr
                td Мухина В.П.
                td Врач акушер-гинеколог
                td 15:45 – 18:00
            tr
                td Глогусь Л.Н.
                td Врач- стоматолог
                td 15:45 – 18:00
            tr
                td Гутовская Т.Г.
                td Зубной врач
                td 15:45 – 18:00
            tr
                td Тупалов М.А.
                td Зубной врач
                td 15:45 – 18:00
            tr
                td Афраилова З.С.
                td Врач-педиатр участковый
                td 15:45 – 18:00
            tr
                td Караваева Э.В.
                td Врач-педиатр участковый
                td 15:45 – 18:00
            tr
                td Дарянов С.М.
                td Врач-терапевт участковый
                td 15:45 – 18:00
            tr
                td Шандригайло В.В.
                td Врач-педиатр участковый
                td 15:45 – 18:00
            tr
                td Власова Ю.С.
                td Врач-педиатр участковый
                td 15:45 – 18:00
            tr
                td Бузнякова Л.В.
                td Врач-педиатр участковый
                td 15:45 – 18:00
            tr
                td Ильясов М.М.
                td Врач-педиатр участковый
                td 15:45 – 18:00
            tr
                td Щербакова И.Г.
                td Врач УЗИ
                td 15:45 – 18:00
            tr
                td Емельянченко Л.Н.
                td Врач-стоматолог
                td 15:45 – 18:00
            tr
                td Худяков А.Н.
                td Врач-эндоскопист
                td 15:45 – 18:00
            tr
                td Тупалов М.А.
                td Зубной врач
                td 15:45 – 18:00
        table.tftable(border="1")
            caption Прием пациентов в отделениях:
            tr
                th Отделение 
                th Часы приема
            tr
                td Хирургическое отделение 
                td 15ч.45мин. – 18ч.00мин.
            tr
                td Неврологическое отделение    
                td 15ч.45мин. – 18ч.00мин.
            tr
                td Терапевтическое отделение №1
                td 15ч.45мин. – 18ч.00мин.
            tr
                td Терапевтическое отделение №2
                td 15ч.45мин. – 18ч.00мин.
        table.tftable(border="1")
            caption Вспомогательные подразделения:
            tr
                th Подразделения 
                th Часы приема
            tr
                td Клинико-диагностическая лаборатория
                td 15ч.45мин. – 18ч.00мин.
            tr
                td Рентгенкабинет      
                td 15ч.45мин. – 18ч.00мин.
            tr
                td Физиотерапевтический кабинет
                td 15ч.45мин. – 18ч.00мин.
            tr
                td Кабинет массажа
                td 15ч.45мин. – 18ч.00мин.
            tr
                td Кабинет функциональной диагностики
                td 15ч.45мин. – 18ч.00мин.
            tr
                td Кабинет ультразвуковой диагностики
                td 15ч.45мин. – 18ч.00мин.
