section.articles
    .panel.panel-breadcrumbs
        +breadcrumbs()
    .container
        article.panel.panel--noMaxWidth
            h1.section-title полезные статьи
            .news-slider__wrp.news-slider__wrp--page
                - var n = 0;
                while n < 10
                    .news-slider__item
                        .news__item(href='#')
                            .news-date
                                span.news-date__title= 2*n++
                                span.news-date__txt Октября 2017
                            a(href='#').news__title
                                | Сальмонеллез – опасная инфекция!
                            p.news__txt 
                                strong Сальмонеллез 
                                |– это одно из наиболее опасных инфекционных заболеваний  с  преимущественным поражением  пищеварительной системы,  вызываемое большой группой сальмонелл.
                            .news__img
                                img(src='https://res.cloudinary.com/muhammederdem/image/upload/v1537132205/news-slider/item-2.jpg' alt='news')
