section.news
    .panel.panel-breadcrumbs
        +breadcrumbs()
    .container
        article.panel
            h1.section-title Новости
            .news-slider__wrp.news-slider__wrp--page
                - var n = 0;
                while n < 10
                    .news-slider__item
                        .news__item(href='#')
                            .news-date
                                span.news-date__title= n++
                                span.news-date__txt May
                            a(href='#').news__title
                                | Lorem Ipsum Dolor Sit Amed
                            p.news__txt
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s...
                            .news__img
                                img(src='https://res.cloudinary.com/muhammederdem/image/upload/v1537132205/news-slider/item-2.jpg' alt='news')
